[2021-02-17 20:29] capsandiego commented on #170
Could you please send the full configure command?

On Wed, 17 Feb 2021, 19:14 eqmaz, <notifications@github.com> wrote:

[2021-02-18 12:27] eqmaz commented on #170
Sure:
./configure --disable-cgi --enable-debug --enable-zts --enable-opcache --enable-opcache-jit --enable-gd --enable-bcmath --enable-mbstring --enable-pcntl --without-sqlite3 -with-mysqli --with-curl --with-zip --with-openssl --enable-phar --with-pear --prefix=/usr --with-config-file-path=/etc

[2021-02-18 13:50] capsandiego commented on #170
I think the issue is that php 8 still has some incompatibilities with --enable-zts.
On my servers, this simple configure fails during compilation (apparently because of ext/opcache/jit )
[code]
Are you able to compile this?

[2021-02-18 13:59] dktapps commented on #170
https://github.com/krakjoe/parallel/commit/be6d83e8f9ef3fdc5ed773c0d1c574205d666ca1 should have addressed the compile failures. You need to use the latest git source (the releases don't support 8.0 to the best of my knowledge).

[2021-02-18 14:08] capsandiego commented on #170
@dktapps  so you can compile this?
[code]

[2021-02-18 14:33] dktapps commented on #170
Yes. As I said, you need to use the latest git source.

[2021-02-18 14:38] dktapps commented on #170
If you're experiencing issues building PHP itself with ZTS because of JIT, it's likely because of this: https://bugs.php.net/bug.php?id=80561
If you previously built PHP in NTS from the same source, you need to `rm ext/opcache/jit/zend_jit_x86.c` after running `make clean` (fixed in 8.0.3RC1: https://github.com/php/php-src/commit/408272b8d9d08ebdb31cea43535006fef28f9c1f).

[2021-02-18 16:00] capsandiego commented on #170
@dktapps  Many thanks, sir!
After your precious suggestions, I confirm it works like a charm with php-8.0.2 and the parallel version you mention.
You just made my day

[2021-02-19 16:19] eqmaz commented on #170
Thank you sir, for the speedy response. Compiled fine from github repo and appears to work with PHP 8.0.2.

[2021-02-21 21:55] Mystiik opened #173 "ERR_CONNECTION_RESET"
Hi everyone,

I followed the documentation from [php.net](https://www.php.net/manual/en/parallel.setup.php) and [this repo](https://github.com/krakjoe/parallel/blob/develop/INSTALL.md), installed the prebuilt binaries from PECL and launched your README.md php code via WampServer 3.2.4 and php 7.4.3.
This resulted in a ERR_CONNECTION_RESET.
I'm on Windows 10 x64, my wamp has OpCache enabled.

The s

[2021-02-22 10:29] dotfry commented on #168
parallel works only in cli mode. fpm didnt supported

[2021-03-03 13:49] dktapps opened #174 "run() should always return a Future"
Right now it's impossible to check if a task with a void result is done, or to cancel it, because run() returns null if the closure doesn't return anything.

This change:
- allows more functionality
- reduces code complexity in check.c
- makes \parallel\run() static-analysis-friendly

[2021-03-04 10:29] #173 closed, assigned to nobody

[2021-03-07 09:11] capsandiego opened #175 "Execute class methods in parallel"
This is not an issue. Just a request for clarifications.
I was trying to execute some class method in a multi-thread fashion with Parallel.
I am aware of limitations of what we can pass as Closure arguments inside parallel\Run() (i.e. _arguments must not contain internal objects_) what I didn't understand if there is any workaround for this.
Take this little example which, of course, doesn't work:

[2021-03-07 10:17] WyriHaximus commented on #175
This isn't advised as Parallel copies the classes over and doesn't copy any changes back. Instead, you should pass what's needed in the thread and have a worker class that does the execution. Not trying to plug, but have a read through of the readme at https://github.com/reactphp-parallel/worker-pool that describes that pattern. The more you keep your main thread and worker threads clean from ties

[2021-03-08 08:36] Sarke opened #176 "Tests base/030 base/037 functional/007 fail or timeout on AWS Linux on 7.3 & 7.4, release & develop branches"
I've been trying to build this in Docker and it builds fine locally but when I run the build on hub.docker.com it times out mostly or fails on those tests.

https://hub.docker.com/repository/registry-1.docker.io/sarkedev/php-parallel/builds/7597a28c-f39a-485a-8de7-efcf284e4491
https://hub.docker.com/repository/registry-1.docker.io/sarkedev/php-parallel/builds/8c432dca-e856-46f4-b75a-7b6fba0c864b

[2021-03-08 08:38] Sarke commented on #176
Of note is that when building on the alpine image, the tests don't time out but go for 4 hours until they are killed by docker hub.

https://hub.docker.com/repository/registry-1.docker.io/sarkedev/php-parallel/builds/67e95a19-1f07-4e21-a5cd-edc52217a517

[2021-03-08 08:45] Sarke commented on #176
Also, it builds fine for 8.0 on the develop branch.

The reason I am guessing a throttle or race condition is because once in a while the tests will pass.  But like I said, just a guess.  I'll launch a faster instance tomorrow to test.

[2021-03-09 01:24] Sarke commented on #176
It does test fine on the larger `t3.xlarge`, everything else being the same.

[2021-03-16 20:32] boomsya opened #177 "XAMPP PHP 7.4.11 + parallel"
hi
I try to run sample parallel code on XAMPP with PHP 7.4.11
But i have some problems. After calling
[code]
Apache crashed:
[code]

used parallel: php_parallel-1.1.4-7.4-ts-vc15-x64.zip
used xampp: xampp-windows-x64-7.4.11-0-VC15-installer.exe
php.ini:
[code]
file `pthreadVC2.dll` copied to `C:\xampp\apache\bin`
file `php_parallel.dll` copied to `C:\xampp\php\ext`

maybe someone known whats wrong

[2021-03-22 16:24] chiqui3d opened #178 "ERROR: `/tmp/pear/temp/parallel/configure --with-php-config=/usr/bin/php-config' failed"
Sometimes PHP is incredibly complicated I don't understand why it is not in the core . Based on the installation steps of https://github.com/krakjoe/parallel/blob/develop/INSTALL.md

` sudo pecl install parallel`

checking for ZTS... configure: error: parallel requires ZTS, please use PHP with ZTS enabled
ERROR: `/tmp/pear/temp/parallel/configure --with-php-config=/usr/bin/php-config' failed

[2021-03-22 16:49] chiqui3d commented on #178
I see I need ZTS, no idea what that is. What a disappointment. What you have to do to install a simple extension. I'm going to Node.js.

[2021-03-22 19:44] #178 closed, assigned to nobody

[2021-03-22 20:52] dktapps commented on #178
imagine a world where threading in PHP is easy to use and doesn't have lots of weird limitations.

... did you succeed? Yeah, me neither.

Be glad that you stopped here and didn't venture any further. PHP threading is a nightmare.

[2021-03-30 22:57] dktapps commented on #100
For posterity (not that I expect this to ever get addressed), the fact that this is actually a problem at all is a testament to what a bad idea implicit object copying was to begin with.

[code]

If we replace `parallel\run` with an average user function, the behaviour is what's expected, because that's how closures are _expected_ to work.

The point I'm driving at is the object copying mechanism

[2021-03-31 05:42] krakjoe commented on #100
The problem isn't with the API, but the way you are using it - You are still thinking in terms of *sharing* objects (because that's what pocketmine and pthreads required) and you should be thinking in terms of *communicating* (their fields or yields).

Yes explicitly sharing objects - which is what you are doing when you use(), pass or return an object - is expensive and complicated. You shouldn't

[2021-03-31 09:17] dktapps commented on #100
@krakjoe my point is that the automatic copying is not intuitively obvious to anyone who doesn't know about these limitations. The prior days where we had to explicitly serialize in order to communicate objects were better because these semantics were much more obvious, and explicit serialize makes it abundantly clear what the limits are just by reading the code. Now it's possible to have weird be

[2021-03-31 09:20] dktapps commented on #100
FWIW, I'm not asking for the ability to share objects; I know that's impractical. I'm saying that given the API presented, it's _expected_ that this kind of code would share objects, which, because it doesn't, produces WTF moments for programmers. Explicit errors and limitations are better for understandability.

[2021-03-31 18:51] TheTechsTech commented on #100
Have you tried https://github.com/opis/closure? It's just for this type of issue, an extra step, but works.

[2021-03-31 19:22] dktapps commented on #100
I'm not trying to solve a specific programming issue. My comments here are about unintuitive behaviour which arises from ext-parallel being unable to solve threading limitations imposed by PHP (which is OK, because it's not the fault of ext-parallel), and papering over those limitations by adding unexpected magic behaviour in its place (which IS the fault of ext-parallel). This is the exact same m

[2021-04-01 16:50] capsandiego commented on #100
@techno-express Could you please provide an example of the usage of parallel + opis closure?

[2021-04-01 17:47] TheTechsTech commented on #100
The idea is to turn your closure into serialable object, then into base64 string, then on other side decode the MIME, then use Opis to unserialize and run.

It will be simpler to create two functions for it.
[code]

[code]

[2021-04-02 14:14] capsandiego commented on #100
@techno-express Thank you very much for your example but, unfortunately, I can't make it work.
First thing, in the ```$runtime->run()``` I think we need to pass an array as the second argument, not a string. Anyway, even if I change ```$encodedTask``` to ```[$encodedTask]``` it doesn't work (no errors generated, just it doesn't print anything. FYI/ I test it with PHP -7.4.13 and 8.0.3.

Could you

[2021-04-02 15:33] TheTechsTech commented on #100
Maybe some general debugging, put inside `try/catch` block with a `print_r($o);`

[2021-04-02 16:21] dktapps commented on #100
This is really getting away from the point ...

[2021-04-02 17:11] TheTechsTech commented on #100
You right, trying to give a work around besides not using package at all, since of all the limitations.

[2021-04-02 17:31] dktapps commented on #100
The problem that I'm talking about here is that limitations are unclear, because of parallel's anti-features masking limitations with unexpected behaviour. I'm not looking for a workaround.

I want the limitations of ext-parallel to be more clear (Zend imposes some limits, which should be clear, instead of trying to paper over them), and the object copying "feature" to be removed, because it has t

[2021-04-02 17:42] #175 closed, assigned to nobody

[2021-04-02 18:40] krakjoe commented on #171
Setup your execution time limit in the runtime in the normal way.

[2021-04-02 18:40] #171 closed, assigned to nobody

[2021-04-03 08:37] #100 closed, assigned to nobody

[2021-04-03 08:40] krakjoe commented on #177
The output buffer of apache is likely the cause.

You shouldn't write the output from the background in a webserver, there is no way to make this safe.

[2021-04-03 08:40] #177 closed, assigned to nobody

[2021-04-03 08:42] krakjoe commented on #168
That is a non zts binary trying to load a zts dso.

[2021-04-03 08:42] #168 closed, assigned to nobody

[2021-04-04 00:36] krakjoe commented on #170
PHP 8 support is, I think mostly complete now ... need to find time to do tests ...

The next release of parallel will only support 8.0+

[2021-04-04 00:36] #170 closed, assigned to nobody

[2021-04-04 00:37] krakjoe commented on #176
Support for 7 has been dropped in develop branch.

[2021-04-04 00:37] #176 closed, assigned to nobody

[2021-04-04 00:37] krakjoe commented on #157
Support for 7 is dropped, if the issue persists with PHP 8, please open a new issue.

[2021-04-04 00:37] #157 closed, assigned to nobody

[2021-04-04 00:39] krakjoe commented on #119
If this persists under 8, please open a new issue.

7 support is dropped in develop.

[2021-04-04 00:39] #119 closed, assigned to nobody

[2021-04-04 00:41] #154 closed, assigned to nobody

[2021-04-04 00:43] krakjoe commented on #158
The pthreads dll (*not php_pthreads.dll*) also needs to be in PATH.

[2021-04-04 00:43] #158 closed, assigned to nobody

[2021-04-04 00:43] #169 closed, assigned to nobody

[2021-04-04 00:44] #165 closed, assigned to nobody

[2021-04-04 00:44] #164 closed, assigned to nobody

[2021-04-04 00:48] krakjoe commented on #159
Reproducing code does not include your whole application, or even any big chunks of it. It is a single, self contained example that exhibits the behaviour, and *nothing more*.

Sorry, I don't have the time to debug big chunks of code for you.

If you can provide a simple, reproducing test case, I'll take a look.

[2021-04-04 00:48] #159 closed, assigned to nobody

[2021-04-04 00:51] krakjoe commented on #141
If the issue persists under 8.0+ please open a new issue.

Note, I don't know why you would try to run:

[code]

[2021-04-04 00:51] #141 closed, assigned to nobody

[2021-04-04 00:53] #167 closed, assigned to nobody

[2021-04-04 20:54] djallen1289 opened #180 "Issues Compiling with PHP8"
Running into issues getting this to compile with php8. Didn't have issues with Php7 before it was discontinued.

dependencies.c:64:32: error: inlining failed in call to ‘always_inline’ ‘php_parallel_dependencies_load_globals’: recursive inlining
   64 | static zend_always_inline void php_parallel_dependencies_load_globals(const zend_function *function) {
      |                                ^~~~

[2021-04-04 20:55] djallen1289 commented on #180
Running into issues getting this to compile with php8. Didn't have issues with Php7 before it was discontinued.

inlining failed in call to ‘always_inline’ ‘php_parallel_dependencies_load_globals’: recursive inlining
   64 | static zend_always_inline void php_parallel_dependencies_load_globals(const zend_function *function) {
      |                                ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2021-04-05 02:16] #180 closed, assigned to nobody

[2021-04-05 09:07] #58 closed, assigned to nobody

[2021-04-05 09:08] #38 closed, assigned to nobody

[2021-04-05 09:08] #34 closed, assigned to nobody

[2021-04-05 09:09] krakjoe commented on #82
Realistically, this isn't going to happen.

If I don't reduce the maintenance burden, I can't continue to maintain this. Committing myself to things like this one while trying to reduce maintenance burden doesn't make sense.

[2021-04-05 09:09] #82 closed, assigned to nobody

[2021-04-05 09:11] #163 closed, assigned to nobody

[2021-04-05 09:11] #151 closed, assigned to nobody

[2021-04-09 22:32] harryqt opened #181 "How to change bootstrap file if previously called?"
**autoload.php**

[code]

**autoload2.php**

[code]

**run.php**

[code]

I wants to see `pong` and `bong`
But [functional api](https://www.php.net/manual/en/parallel.bootstrap.php) won't let me do this, is there any way to achieve this without using `Runtime` api?

[2021-04-10 16:52] WyriHaximus commented on #181
But why would you want to do that? If you have the composer autoloader available you could use any class you wanted. Not sure what the advantage of having two autoloaders is here

[2021-04-10 17:13] dktapps commented on #181
Sounds like an [XY problem](https://xyproblem.info) to me.

[2021-04-11 04:19] harryqt commented on #181
Okay, fine. 😅

[2021-04-11 04:19] #181 closed, assigned to nobody

[2021-04-11 09:36] harryqt opened #182 "How to compile the extension for Windows?"
The [Windows PECL](https://windows.php.net/downloads/pecl/releases/parallel/) directory does not contain the extension for PHP 8.0, so I am trying to compile it from source.

[code]

**Log**:
[code]

As you can see, configure script can not find `pthread.h`

My question is where to find the required pthreads files and where to put it?

[2021-04-11 15:15] TheTechsTech commented on #182
you might want to look at [.appveyor.yml](https://github.com/krakjoe/parallel/blob/develop/.appveyor.yml)

It has a section pointing to https://windows.php.net/downloads/pecl/deps/

[2021-04-11 15:44] harryqt commented on #182
Ah perfect. Thank you so much.

[code]

[2021-04-11 15:44] #182 closed, assigned to nobody

[2021-04-13 13:56] maxgalbu commented on #10
For those trying to run the background logger example and finding out it doesn't run on parallel 1.1.4... here's a working version:

[code]

Hint: you can't ignore Runtime::run() return value (a Future instance)

[2021-04-14 12:12] jkroonza opened #183 "PHP 8 support"
Is there anything in the pipeline?

[2021-04-14 12:32] WyriHaximus commented on #183
Yes, Joe has been updating this extension some days ago to be PHP 8 only in the next release.

[2021-04-19 06:42] numelion opened #184 "PHP version"
[https://github.com/krakjoe/parallel/blob/develop/INSTALL.md](https://github.com/krakjoe/parallel/blob/develop/INSTALL.md)
`Requirements: PHP 7.2+`

$ php -v
`PHP 7.2.34-18+0~20210223.60+debian9~1.gbpb21322 (cli) (built: Feb 23 2021 16:47:53) ( NTS )`
...
$ ./configure --enable-parallel
`checking PHP version... configure: error: parallel requires PHP 8.0+`

???

[2021-04-19 06:53] WyriHaximus commented on #184
In recent weeks the minimum has been raised to `8`+ on the default branch, but that hasn't been released yet. Also looks like you're running the NTS version of PHP, you need ZTS for this extension.

[2021-04-23 11:15] LinuXperia opened #185 "Build Errors"
Hi.

I am getting this Build Errors here on my Ubuntu 20.04 LTS Machine
when trying to compile the Parallel extension together with the PHP source code from github and checked out version 8.0

`php-src/ext/parallel/src/scheduler.c: In function ‘php_parallel_scheduler_setup’:
php-src/ext/parallel/src/scheduler.c:77:5: warning: implicit declaration of function ‘zend_disable_function’; did you mean ‘

[2021-04-23 11:50] krakjoe commented on #185
Looks like release branch, use develop branch.

[2021-04-23 11:50] #185 closed, assigned to nobody

[2021-04-23 12:37] LinuXperia commented on #185
Hi Joe.
Thanks for your fast Reply.

Yes i used release branch.
Checked out now the develop branch of parallel and tryed to compile it again

With the additional configure flags "--enable-parallel-coverage --enable-parallel-dev" it still failed to compile
Without the additional configure flags above i finally got it to compile.

Thank you very much.
Wish you a great Weekend.
Cheers

[2021-04-24 09:38] ttodua commented on #173
Have you ever been able to sort it out? same issues here.
https://stackoverflow.com/questions/57800012/how-to-install-new-php-parallel-7-2-on-windows-and-maybe-wampserver/67241103#67241103

[2021-04-24 09:41] ttodua opened #186 "Running on localhost"
Tried everything (as described [here](https://stackoverflow.com/questions/57800012/) ) but still it ends with "ERR_CONNECTION_RESET".

Any solutions to make it work on wamp-server?

(btw, I saw similar [issue here](https://github.com/krakjoe/parallel/issues/173), but it does not have any insights and was closed)

[2021-04-24 10:08] ttodua opened #187 "Example of multiple execution"
I was unable to find the clear example, how to find the multiple functions in parallel.
For example,

[code]

say, i want to execute 10 times (with different $num inputs) in parallel, so each function should not wait another.

With the given example you have on readme and either in php.net's future's manuals, I see only 1 parallel executions and couldnt find how to do with batch functions.
thanks

[2021-04-24 11:03] DragK commented on #187
You must pass callback to `\parallel\Runtime:run`. Nothing more. So, you can just write
[code]
Each smth now doesn't has to wait

[2021-04-24 11:53] #187 closed, assigned to nobody

[2021-04-24 11:53] ttodua commented on #187
thanks!

[2021-04-24 13:15] LinuXperia opened #188 "Problem with Synchronization not Working."
Hi.

I have this Code here.
The Worker 1 Code never halts on the $GlobalSyncBarrier->wait() line
And the Worker 2 Code is never executed.

Expected Result is that both Workers 1 + 2 are executed in parallel and halt execution
on the Line  $GlobalSyncBarrier->wait() till the main thread releases the $GlobalSyncBarrier using
$GlobalSyncBarrier->notify(true);

The source code files itself can be down

[2021-04-24 13:44] Mystiik commented on #173
Well, parallel is using multithreading, i read that WAMP isn't compatible with this kind of stuff.
In fact, parallel is built to work on CLI as i understood.

[2021-04-29 20:38] ziaratban opened #189 "Segmentation fault (core dumped)"
hi
i get this error.

**Step by Step**
- Install [yii2](https://github.com/yiisoft/yii2)
  - `composer create-project --prefer-dist yiisoft/yii2-app-basic . --ignore-platform-reqs`
- extract [bug.zip](https://github.com/krakjoe/parallel/files/6401412/bug.zip) to app folder
- run `php yii hello/index`

**output**
[code]

<details>
<summary>journalctl -xn</summary>

[code]

</details>

-------------

[2021-04-29 22:26] ziaratban commented on #189
oooops !!!

I finally found the real bug. (is related to https://github.com/krakjoe/parallel/issues/189#issue-871490035)

**Step By Step**

`index.php`
[code]

`worker.php`
[code]

[code]

**Do you want fix this bug?**
remove a function.

@krakjoe @Synida @dktapps @iggyvolz @avolver @javabudd @dotfry

https://github.com/krakjoe/parallel/issues/124
https://github.com/krakjoe/parallel/issues/132
htt

[2021-04-30 04:33] harryqt commented on #186
Just a small reminder that Parallel extension only works in PHP CLI.

[2021-05-11 07:58] maxgalbu opened #191 "Segfaults when xdebug is enabled"
I've had a lot of segfaults with xdebug enabled, which are hard to reproduce in simple test cases, and I only found out by running php through gdb.

In my case, it looks like xdebug is trying to access an instance of class `Pv4\\Api\\Components\\PricingRequest` which is shared with threads.

Is xdebug supposed to work with parallel? If not, it would be nice if there was a warning to disable xdebug

[2021-05-17 07:25] ghost opened #192 "PHP 8 build for Windows?"
At the link provided in the installation document, there's only a version for PHP7.4.x, but not for PHP 8. When there will be one for PHP8?

Br, Miika

[2021-05-18 20:53] ttodua opened #193 "Any examples of how to use the functionality for/within classes?"
I've been trying to do the following:
`
$myClass = MyClass();
\parallel\run( function() use($myClass){  $myClass->RunMyLongTask();  } );`

but it throws:
`Uncaught parallel\Runtime\Error\IllegalVariable: illegal variable (bla\MyClass) named class in static scope of function in..`

neither this worked:
`\parallel\run( function(){  MyClass()->RunMyLongTask();  } );`  (saying it can't find `MyClass`,

[2021-05-18 21:13] WyriHaximus commented on #193
Have you tried:

[code]

[2021-05-19 22:41] ttodua commented on #193
Thanks for response. I got now: `Fatal error: Uncaught parallel\Runtime\Error\IllegalParameter: illegal parameter (smth\MyClass) passed to task at argument 1 in ...`. So, typically, is this expected? I really wanted to make that work.  Is that because the "specific characteristics" does not comply with docs (described on that link?).  If so, does this mean, it's impossible to work with parallel wi

[2021-05-20 09:15] juanantoniomosquera commented on #183
Hello, i installed php 8.0.6 with ZTS and compile parallel... but:

Uncaught Error: Class "parallel\Runtime" not found in ...

[2021-05-20 09:19] juanantoniomosquera opened #194 "How i checked if parallel installed?"
I have a problem... parallel was compiled... i follow instructions with php 8.0.6 but... not work

Fatal error: Uncaught Error: Class "parallel\Runtime" not found

how i checked??

[2021-05-20 10:44] jkroonza commented on #183
@juanantoniomosquera as per @WyriHaximus PHP 8 support will only be in the next release.

PR at https://github.com/krakjoe/parallel/pull/190 does raise some concern for me regarding backwards compatibility, looks like the next release might be only PHP 8 support, no longer 7.X.  Not ideal ... but not unmanageable.

[2021-05-20 12:55] juanantoniomosquera commented on #183
but i tried php 7.* and compiling error: ONLY PHP 8.*, i dont understand...

question: What version of php do I install for the latest version of parallel?

[2021-05-20 14:08] jkroonza commented on #183
1.1.4 works on PHP 7.X, if you want PHP 8 you need master.  What I don't know is if master will work on 7.X, or if there is some fundamental change/difference between the two that prevents a common codebase.

[2021-05-20 14:17] juanantoniomosquera commented on #183
I have installed develop, it has been installed well, shouldn't it work with php 8?

[2021-05-20 14:25] jkroonza commented on #183
Perhaps you're missing development headers from PHP 8 or something, or it's including also-installed PHP 7 headers.  I don't know.

[2021-05-20 15:50] WyriHaximus commented on #193
That's how I literally use Parallel all the time. Just release the `new` keyword was missing in that example. But otherwise it should work fine, unless you have any non-userland classes or resources is `MyClass`.

[2021-05-26 13:30] ziaratban commented on #189
Is there a solution to this problem?

[2021-05-26 13:31] ziaratban commented on #189
Is there no solution to this problem?

[2021-05-26 13:31] ziaratban commented on #189
@krakjoe
Is there no solution to this problem?

[2021-05-27 22:10] ttodua commented on #193
For example, I can't even make this to work.

[code]

error :
`call_user_func() expects parameter 1 to be a valid callback, class 'parallel\Runtime\Type\Unavailable' does not have a method 'sample2' `

(moreover, in some cases,  i tried to dump out the class (using  `var_dump($arg1) `) inside callback, which causes such result: https://i.imgur.com/Aram5mO.png

[2021-05-28 18:47] sclubricants commented on #192
I'm wondering the same. It would be nice to have one to test with even if its not stable yet.

[2021-05-30 10:38] ttodua commented on #133
can you tell the "corrected example" in your case? so, what/where the autoloader had to be added? Do you mean such?

`$runtime = new Runtime($pathToClassPhpFile);`

[2021-05-30 15:29] TheTechsTech commented on #133
This extension's **documentation/examples** leaves a lot to be desired. In general, **"include/require"** should just be a reference to the `composer` autoloader script.

$pathToClassPhpFile = 'path/to/vendor/autoload.php';

Make sure `composer.json` have the proper **psr-4** _namespace_ layout of the _classes_.

[2021-06-02 09:57] ttodua commented on #192
@krakjoe Just didn't want to open a separate topic for this, but can you also comment [in this thread](https://www.reddit.com/r/PHP/comments/no7abs/differences_among_asynchronous_php_libraries/)?

[2021-06-02 11:31] ttodua opened #195 "Docker image with ZTS & parallel for PHP-8"
Would be nice if you submitted a basic docker image on dockerhub, so we (who use docker) could use that. At this moment, we are struggling to find old articles (which were still written for php 7.x versions) about how to build zts & parallel.  And those articles doesn't work to do same with PHP-8 & apache 2.4 . Have spent a day but still couldnt make it (I mean, I couldnt make apache to work when

[2021-06-02 14:41] ttodua commented on #106
I still have same issue, using latest Debian buster. `pecl install parallel` ends up with same
[code]

Does anyone have same problem or how you solved.
--
Update: I've ended up installing with `git & make` as suggested in install notes.

[2021-06-03 12:54] ziaratban opened #196 "[Future] value() method not working correctly."
Hi.

How i can handle this code?

[code]
**output**
[code]

[2021-06-03 19:40] TheTechsTech commented on #196
Why you think it's not working?

The function you executed produce just that error regardless in another thread or process.

What is your expected output, besides division by zero of which you are executing with **`1/0;`**?

[2021-06-03 21:08] nelolka commented on #192
I've compiled it for you
[Download](https://drive.google.com/file/d/1s9GgwJ4SnDZ_nZzXF3ESYK-Z2sDlvUZP/view?usp=sharing)

[2021-06-04 05:06] ziaratban commented on #196
`1/0` runs before `sleep(1)`. it's ok.
`echo 'OK'.PHP_EOL` runs. it's ok.
I think this line (`$f->Value()`) must be returns null and throw error.
`echo 'Does not run.'` not runs but must be run.

In fact i want to use the exception handling in parent thread.

**or my goal**
[code]

[2021-06-04 11:29] TheTechsTech commented on #196
You need to read up on **PHP**, **general programming**, and use a **`try/catch`** block.

    echo "Error > " . $f->GetErrorMessage(); #any php error even syntax

Where are those methods coming from?
You should look over the tests, after you learn some more, then you will understand how **bad** your example is.

[2021-06-04 14:47] ziaratban commented on #196
No. i want to use the **exception handling in parent thread** for child thread.

Exists in my brain. not exists in real world. this is **just an idea**.

A good example 🙂 :

**a.php**
[code]
**b.php**
[code]
How can i get the syntax error (from child thread) in the main thread?

[2021-06-04 15:00] TheTechsTech commented on #196
I said, learn how to use **`try{} catch() {}`** blocks, or what they are used for.

[2021-06-04 15:21] ziaratban commented on #196
In this case you can not use `try{} catch() {}`.

[code]

[2021-06-04 15:54] TheTechsTech commented on #196
You can't catch fatal errors like that, you create an handler first see https://www.php.net/manual/en/function.set-exception-handler.php

Review the tests certain errors not catch-able.

[2021-06-04 17:35] ziaratban commented on #196
When we talk about the [`Future`](https://www.php.net/manual/en/class.parallel-future.php) feature, it is expected to provide better services.
You are right and I think I asked my questions badly.

Thanks.

[2021-06-04 17:35] #196 closed, assigned to nobody

[2021-06-04 17:55] ziaratban opened #197 "[Feature Request] Better exception handling in Future"
Hi
I want to have complete control over my threads.
I do not know in terms of infrastructure whether this is possible or not? but i write what is on my mind with an example.

**b.php**
[code]
**a.php**
[code]

[2021-06-04 18:06] ziaratban commented on #194
Hi @juanantoniomosquera
You can use the `get_loaded_extensions()` function to check for `parallel` installation.

[code]
But for compilation you have to set two parameters : `--enable-zts` and `--enable-parallel`
And before compiling you have to move the parallel project into the php `ext` source folder.
[code]

[2021-06-04 20:30] CViniciusSDias commented on #194
The command `php -m` shows you the installed and enabled extensions.

[2021-06-07 16:08] maxgalbu commented on #195
I don't think you want to use parallel outside cli... what's the use with apache? You can use docker compose to combine multiple docker images

[2021-06-07 17:49] ttodua commented on #195
Thanks for reply. no, why to neglect apache? the extension has typical use-cases in user GUI app too (executing some things in parallel). why not :)
btw, i forgot to close issue, I was able to build custom image ( here is: https://puvox.software/blog/docker-php-8-zts-apache-swoole-parallel/ )

[2021-06-07 17:49] #195 closed, assigned to nobody

[2021-06-09 02:54] dotfry commented on #189
scripts works for me. also, try it with enabled opcache.

[code]

[code]

[2021-06-10 04:58] ziaratban commented on #189
Very strange !
It works now!
But there seems to be a problem with the php infrastructure.
I will move on and review again and put the final result here.

[2021-06-11 20:05] ziaratban opened #199 "Memory leak and high CPU usage"
Hi.
In the continuation of this [issue ](https://github.com/krakjoe/parallel/issues/189):

**a.php**
[code]
**b.php**
[code]

`CPU` and `RAM` leaked after run this script.

@krakjoe
@dotfry

[2021-06-11 20:05] ziaratban commented on #189
Yes. `opcache` was not enable. maybe my problem is solved but the main bug not found. :(

I found a new bug.

[2021-06-11 20:05] #189 closed, assigned to nobody

[2021-06-13 11:47] ttodua opened #200 "How this library works in multiple threads?"
I have looked through the official docs, but I couldn't find some layman descriptions about how this works. For example, when there are 4 total threads available in CPU, and we execute i.e. 99 closures  (with `\\paralel\\run`, and each closure needs more than 2 minute, up to i.e. 5 minutes), in what order they are executed?

1) how Parallel decides on which thread the closure should be assigned?

[2021-06-14 16:45] downsider opened #201 "PHP 8.0 release"
Firstly, I appreciate all the time and effort that has been put into this extension and thank you very much for it.

I'm very eager to see a release for PHP 8. Do you have any kind of ETA for this?

I don't need a fixed date, more like "it's close", "far away", "something in between", kinda thing.

[2021-06-17 16:09] nelolka commented on #201
I've compiled it for windows
[Download](https://drive.google.com/file/d/1s9GgwJ4SnDZ_nZzXF3ESYK-Z2sDlvUZP/view?usp=sharing)

[2021-06-20 13:23] Tofandel commented on #201
It looks like it's already working for PHP8 but not released for PECL yet

[2021-06-20 20:36] dotfry commented on #199
@ziaratban, hi read issue #64 about coping variables. also try to make all closures `static`. atm, your `class B` binded to closure that goes into `\parallel\run` function.

[2021-06-21 06:48] ziaratban commented on #199
Thanks.
I can fix this bug by calling the `thread` in another class.
**b.php**
[code]

[2021-06-21 13:25] downsider commented on #201
Yeah, I really just need it to be tagged at some point. I'm fine with building it from source, but my company doesn't like using unreleased software, for obvious reasons

[2021-06-28 13:18] maxgalbu commented on #200
I think you're mixing concepts:
- a CPU has cores, not threads
- a process can have as many threads it wants (it's limited by the OS)

If your process calls `\parallel\run` 99 times in sequence, parallel will start 99 threads

If you need more control on how many threads are started, it gets more complicated than using `\parallel\run` and you need either:
- to wait for each thread to finish
- or a

[2021-06-28 14:15] ttodua opened #202 "Why CPU core is same when executing in parallel"
I have tried the simple test:

[code]

The process numbers are different, but the Core-number are always same. If i execute same with `shell_exec` it successfully executes the new process in new core (random core, depending available cores).
Any ideas how to force it to execute in another core?  because if it's executed in same core, then it cant be 'truly parallel', but concurrent. Do I miss some

[2021-06-28 16:23] TheTechsTech commented on #202
That is an OS/hardware issue not under your direct control. If you launch/check any other application, you would find same **core** on most processes being executed. Not a **Parallel/PHP** thing, you are mixing two different things, with something concurrent. That deals more with a single thread interleaving code execution points, where the other could block.

You might get a better understanding

[2021-06-28 17:33] ttodua commented on #200
@maxgalbu  ah, my bad sorry, yes, i meant CORE (when I said "thread").
So, to name that way, as you said, if it fires i.e. 5 threads, and there is 4 Core available, how the threads will be assigned? Will it be  `2-1-1-1` or randomly, like `3-0-2-0` ?

[2021-06-28 17:34] ttodua commented on #202
@techno-express  many thanks for thorough answer. I am reading that source now! tnx.

__
p.s. just to add two words (source seems a bit more complex for layman), so I can't make a workaround to fire functions  with  `parallel` in other cores right?

[2021-06-29 13:05] Vashkatsi opened #203 "Can I extract data from Redis in async way with parallel?"
Sorry for noob question, but I cant do it myself and I didnt find any examples of how to make async request to redis or any other database. Is it possible?

[2021-06-29 21:08] dotfry commented on #199
I mean something like:

[code]

for your original example.

[2021-07-01 14:54] maxgalbu commented on #200
Which core handles which thread is not handled by this library, but by the OS: https://en.wikipedia.org/wiki/Thread_(computing)#Scheduling

You can probably assign a thread to a core... but the OS does this surely better than you and me and krakjoe too, I don't think any person would want to reinvent the wheel

[2021-07-11 06:28] ziaratban opened #204 "Channel not working in "access on instantiation" mode"
Hi

In this example, PHP is waiting to receive data from the channel.
[code]

[2021-07-12 12:46] foul11 opened #205 "segmentation fault when creating a sync class"
`PHP 7.4.21 (cli) (built: Jun 29 2021 18:06:27) ( ZTS Visual C++ 2017 x64 )`
`os windows`
`parallel ver 1.1.4`

[code]

after 5 executions, the code crashes with a segmentation error, if you try to execute 4 times, then during `var_dump($a)` a segmentation error will occur, if you execute 2 or less times then everything is fine

examples:

1. if you execute 5 times
[code]

2. if you execute 3 time

[2021-07-13 06:00] samuelgfeller commented on #156
Was it released in the meantime? I couldn't find anything above 7.4

[2021-07-15 09:49] ziaratban commented on #197
Thanks php.
Hmmm. `Events` is a good feature.
[code]
@techno-express

[2021-07-15 09:49] #197 closed, assigned to nobody

[2021-07-15 15:11] ziaratban commented on #205
I tested your code in my environment (`OS: CentOS , PHP: 8.0.7`) and i got not error.
I had the same issue. (#189)
Finally i enabled `opcache` extension and problem solved.

[2021-07-16 02:37] ziaratban opened #206 "[Feature Request] Get the name of the channel object"
Hi
I can not get the name of the channel object.
[code]
I think this property just needs to be read(`getter and no setter`).

[2021-07-17 12:53] ziaratban opened #207 "[Feature Request] Deadlock Detection"
Hi
Deadlock is important.
`Deadlock Detection` is the useful feature if supported by php.
For example
[code]
Also this feature can be implemented by php itself but native is always great.

[2021-07-21 09:57] ziaratban opened #208 "[Feature Request] Runtime close automatically after run"
Hi
This is a good feature for less programming.

[code]

[2021-07-22 13:09] ziaratban opened #209 "Memory leak while using Sync or Channel Or Runtime !"
Hi
Memory is not cleared when unset the `sync` or close the `channel`.

**`Sync.php`**
[code]
output
[code]

**`Channel.php`**
[code]
output
[code]

The minimum process memory for php is 23M.
It is normal?

[2021-07-25 16:23] strictboss commented on #209
Hi!
I also have some memory problems of my script. Script at start after "require('autoload.php')" takes ≈ 8MB.
I have created 400 Runtimes - ≈820 MB.
Every of them got closure with 2 seconds sleep and file_put_contents(..., FILE_APPEND) ≈ 826 MB.
I have collected all returned Futures into array, then wait all of them with $future->value() and killed all Runtimes, unset($futures), unset all variab

[2021-07-26 19:25] marcusjhdon opened #210 "Code runs slower in thread than in forked process"
Hi

I've recently converted a CLI application that previously forked multiple processes to be multi-threaded instead. It works fine, but I was surprised to discover it takes around 40% longer to complete using threads than it did with separate processes.

You can test this yourself with the scripts attached. On my test machine (an Intel i7 laptop with 8 cores and 16GB ram), the testThreads.php scr

[2021-07-27 08:19] ziaratban opened #211 "Sync does not wait !"
Hi
Why sync does not wait?

[code]
output :
[code]

[2021-07-30 23:44] FelipeAzambuja commented on #210
@marcusjhdon ProcessManager have licence ? I want to create a package with your code with some modifications.

I have tested your code and it is really good.

[2021-08-01 13:53] dotfry commented on #206
This one should work:

[code]

[2021-08-02 09:07] marcusjhdon commented on #210
Hi @FelipeAzambuja

You're welcome to use the code, but I recommend you test it very thoroughly before using in production. It's based on something I wrote many years ago, but was simplified for the sake of this demo and hasn't been properly tested.

Marcus

[2021-08-04 07:45] krakjoe commented on #201
The fact is the future of parallel is in jeopardy because of fibers in core: The core has chosen a concurrency model and it doesn't accommodate threads. Fibers and parallel threads cannot interact with each other in a predictable way because of the way CSP is implemented in parallel. Some people think that's not a problem, but I disagree, I don't think you'll be able to make full use of either fib

[2021-08-04 09:12] Tofandel commented on #201
I guess that's okay, I don't think php ever wanted to go with threads, it's always been super hard to compile a php version that is threadsafe and then install libs like parallel to use (personally tried 5 times over the years and never succeeded once).. I guess it would have been a better choice for performance but in the end, we just want an easy way to write and use async functions which has ne

[2021-08-05 05:01] ziaratban commented on #201
**Hi Joe,**
First let me tell you a little bit about my feeling about the parallel project.
A few months ago I realized that in PHP's new versions, the paraller feature is added, so I was very happy. It is about 7 years that I am coding in PHP and I really enjoy this language. I have a lot of interest in writing CLI programms with the PHP language and I believe that parallel is a neccesity for thi

[2021-08-07 20:41] ziaratban opened #212 "kill() waits for recv()"
Hi
[code]

[2021-08-07 20:44] ziaratban opened #213 "Memory leak while using opcache_reset() with Runtime !"
[code]

[2021-08-12 01:27] letwang opened #214 "HookPHP强势发来贺电，接下来将采用parallel解决PHP多线程！"
# HookPHP强势发来贺电，接下来将采用parallel解决PHP多线程！
https://github.com/letwang/HookPHP/

[2021-08-13 18:26] StupidSimplePHP commented on #210
I just realised the sample code attached is only checking for available threads/processes once every second. Please change the interval parameter to 0.1s (100000) or less while testing. The problem still occurs.

[2021-08-13 18:28] marcusjhdon commented on #210
I just realised the sample code I provided is only checking for available threads/processes once every second. Please change the interval parameter to 0.1s (100000) or less while testing. The problem still occurs.

[2021-08-17 22:52] WyriHaximus opened #215 "compilation error on PHP 8.1beta2"
Not sure if 8.1 will be supported but compiling it currently fails with the following error:
```/tmp/parallel/src/runtime.c:161:42: error: 'zend_class_serialize_deny' undeclared (first use in this function); did you mean 'zend_ce_serializable'?```

[2021-08-22 21:38] WyriHaximus opened #217 "8.1.0beta3: Deprecated: Return type of parallel\Events::count() should either be compatible with Countable::count(): int"
When having this extension loaded with #216 applied the following error shows up when running PHP:

[code]

[2021-08-26 18:47] ziaratban commented on #209
@krakjoe Can you make it your top priority?
Because my php process stops after a few days.

[2021-08-27 06:46] krakjoe commented on #209
No.

Parallel is not being developed currently; It is no longer in my interest to continue to maintain parallel as it is no longer viable for inclusion into core.

Continuing to develop parallel as a third party extension is possible, however, it would need funding, and the level of funding I currently receive does not begin to approach the kind of compensation I require for that ongoing maintenan

[2021-08-28 06:56] ziaratban commented on #209
Please see your email.(krakjoe@php.net)

[2021-08-31 05:03] ziaratban opened #218 "Events in this case to act slowly"
Hi
![image](https://user-images.githubusercontent.com/6462878/131444754-05a70ca1-b08d-4f9b-b408-cd1ba8b31782.png)

[code]

[2021-09-16 08:20] ziaratban opened #219 "Segmentation fault for special syntax"
Hi

**a.php**
[code]

**b.php**
[code]

**c.php**
[code]

[code]

[code]

[code]

[2021-09-16 09:10] ziaratban commented on #219
Other behavior :
**edit c.php**
[code]
**output :**
[code]

[2021-09-16 09:15] ziaratban commented on #219
### Fixed
**edit b.php**
[code]

[2021-09-23 18:35] polyphia opened #220 "Does Parallel copy classes for every new thread created ?"
Can someone please confirm if parallel copies classes everytime a new thread is created, similarly to what pthread does ?

I have detected a bottleneck in pthreads causing a delay in each thread submitted because of this. Opcache would fix this if it worked properly , but it never does .

Trying to understand if Parallel also copies classes everytime a new thread is submitted .

[2021-09-27 15:04] JunoBoom opened #221 "illegal parameter () passed to task at argument 1"
[code]

This always returns error illegal parameter () passed to task at argument 1

If I do this :

[code]

It doesn't throw an error anymore .

Why it's not possible to add the class without a function and call it inside paralllel function ?

[2021-10-11 04:30] dotfry commented on #220
Yes.

[2021-10-20 00:26] akbaryahya commented on #221
I gave up looking for this solution all functions outside don't work if inside \parallel\run, even like this

`
$myClass  = new tes(array( 'abc'=>'hi', 'xda'=>'xx'));
\parallel\run(function ($myClass) {return $myClass->fu();}, [$myClass]);
`
If you try getting an error:
PHP Fatal error:  Uncaught Error: Call to undefined method parallel\Runtime\Type\Unavailable::fu()

[2021-10-21 16:19] maxgalbu commented on #209
@krakjoe it would be in the best interest of this project to write something on the project's readme about your thoughts on the project.
Knowing your ideas on the development of the project could make the difference in choosing to use the library or not.

[2021-10-22 15:12] dgiaffredagit opened #222 "cannot load extension XAMPP for Windows 8.0.11"
I installed xampp on my PC with windows10 , executed all the instruction reported in the php manual but cannot load the extension parallel.
Log error is:
PHP Warning:  PHP Startup: Unable to load dynamic library 'parallel' (tried: D:\\xampp7.4\\php\\ext\\parallel (Impossibile trovare il modulo specificato.), D:\\xampp7.4\\php\\ext\\php_parallel.dll (Impossibile trovare il modulo specificato.)) in

[2021-11-04 12:02] rahim3070 opened #223 "phpize: command not found"
What can I do on Windows 10 ?

[2021-11-04 12:03] rahim3070 commented on #222
I have face the same error.

[2021-11-04 12:54] remicollet commented on #223
Install it

And obviously not enough information about your env.

[2021-11-04 14:47] cmb69 commented on #223
I need to document phpize builds on Windows, but you can build PECL extensions "in-tree", what is [already documented](https://wiki.php.net/internals/windows/stepbystepbuild_sdk_2#building_pecl_extensions).

However, I suggest to download a [pre-built binary package](https://windows.php.net/downloads/pecl/releases/parallel/).

[2021-11-04 15:23] cmb69 commented on #220
This doesn't appear to be particularly related to parallel or pthreads, but is rather a general property of thread-safe PHP builds (ZTS). Without OPcache, the classes are stored in thread-local storage, so each thread has its own copy. But even with OPcache, starting a ZTS thread has some overhead, since module globals need to be initialized, classes may need to be linked, etc.

Anyhow, I think th

[2021-11-04 16:04] cmb69 commented on #192
Building Windows binaries for PECL requires a compatible release; the latest released version is not yet compatible with PHP 8.0, see #201.

[2021-11-04 16:07] cmb69 commented on #108
If this is still an issue with latest parallel, a [stack backtrace](https://bugs.php.net/bugs-generating-backtrace-win32.php) could be helpful.

[2021-11-04 16:10] cmb69 commented on #222
Are you using the appropriate variant of the [latest release](https://windows.php.net/downloads/pecl/releases/parallel/1.1.4/)? That needs to match your PHP version, and the architecture (x86/x64).

[2021-11-04 16:24] cmb69 commented on #223
I'm closing this per my comment above. Discussion may continue in #222.

[2021-11-04 16:24] #223 closed, assigned to nobody

[2021-11-04 16:25] cmb69 commented on #192
I'm closing this per my comment above. If a new parallel version will be released, and no DLLs for PHP 8.0 would be built, please open a new ticket, or ping me.

[2021-11-04 16:25] #192 closed, assigned to nobody

[2021-11-04 16:47] cmb69 commented on #192
You can get latest snapshots builds from [AppVeyor](https://ci.appveyor.com/project/krakjoe/parallel), e.g. https://ci.appveyor.com/project/krakjoe/parallel/builds/41409316/job/k7sc57oy6djwtnfj/artifacts. See https://github.com/krakjoe/parallel/blob/develop/.appveyor.yml on how they are built.

[2021-11-08 15:36] cmb69 commented on #223
FTR: there is now [some documentation about phpize builds on Windows](https://wiki.php.net/internals/windows/stepbystepbuild_sdk_2#building_pecl_extensions_with_phpize) available.

[2021-11-09 10:43] MrFastDie opened #224 "How can I create new objects in a closure?"
I'm currently creating a runtime with the composer autoload file to access classes generated by it:

[code]

This example works, but however if I want to have the new attribute in the Closure it wont work:

[code]

This won't work for whatever reason.

[2021-11-11 16:34] cmb69 commented on #76
Running parallel and pthreads simultaneously might not be the best idea.

[2021-11-12 16:17] cmb69 commented on #205
I can confirm this issue (PHP-7.4, parallel 1.4.1, with and without OPcache). Relevant part of the backtrace (without OPcache):
[code]
`result->value.obj->ce` is apparently corrupt here, so when trying to print the exception, the segfault occurs.

PS: there are no issues with debug builds.

[2021-11-12 18:12] cmb69 commented on #205
Same problem with PHP-8.0 and parallel HEAD. For some reason, the third call to
https://github.com/krakjoe/parallel/blob/da7cf993a77ffff2697a2f6fe02257e3c4cc3c9f/src/sync.c#L89
zeroes `*ce`, and there we go.

[2021-11-13 00:36] cmb69 commented on #205
The script runs valgrind clean on Linux (PHP-7.4 HEAD, parallel 1.4.1), but also segfaults with `USE_ZEND_ALLOC=0` under Windows. I'll try to investigate.

[2021-11-16 22:44] dotfry commented on #224
Hi, can you provide a workable example?

[2021-11-16 22:45] dotfry commented on #76
they didnt confilict in internals if you dont start using them both.

[2021-11-23 13:30] cmb69 commented on #222
No feedback for more than two weaks, so I'm closing this ticket.

[2021-11-23 13:30] #222 closed, assigned to nobody

[2021-11-23 13:30] cmb69 commented on #108
No feedback for more than two weaks, so I'm closing this ticket.

[2021-11-23 13:30] #108 closed, assigned to nobody

[2021-12-17 21:05] sj-i commented on #220
Note that preloading can also be used even in the CLI, in which case the linked code will be shared by each thread.

[2022-02-02 00:28] walterpadua commented on #156
Was it released in the meantime? I couldn't find anything above 7.4 ²

[2022-02-20 22:14] Eboubaker commented on #218
There is `Channel::open()` you can use to connect to a globally created channel with `Channel::make()`

[2022-03-02 22:22] jkroonza commented on #183
Any chance of getting an update on this?  We've got some code that's reliant on this and we're starting to phase out PHP7 otherwise ...

[2022-03-14 16:24] cmb69 commented on #221
Please provide a [short, self contained and correct example](http://sscce.org/) that demonstrates the bug.

[2022-03-15 12:24] mrkh995 opened #230 "ZEND_TYPE_HAS_CLASS php 8.1"
/usr/bin/php: symbol lookup error: /usr/local/php81/lib/php/extensions/debug-zts-20210902/parallel.so: undefined symbol: ZEND_TYPE_HAS_CLASS

[2022-03-15 12:28] mrkh995 commented on #230
https://raw.githubusercontent.com/php/php-src/PHP-8.1/UPGRADING.INTERNALS

1. Internal API changes --> h

[2022-03-15 13:23] cmb69 commented on #230
PR #226 is supposed to fix that. Can you please check that?

[2022-03-15 13:34] #230 closed, assigned to nobody

[2022-03-16 18:04] dividerbeam opened #231 "Install fail on "make test""
root@converter:~/parallel# make test

Build complete.
Don't forget to run 'make test'.

=====================================================================
PHP         : /root/bin/php-latest/bin/php
PHP_SAPI    :
Deprecated: Return type of parallel\Events::count() should either be compatible with Countable::count(): int, or the #[\ReturnTypeWillChange] attribute should be used to temporarily sup

[2022-03-16 18:21] cmb69 commented on #231
This appears to be a duplicate of #217.

[2022-03-16 18:21] #231 closed, assigned to nobody

[2022-03-16 18:30] cmb69 commented on #217
Something like the following (untested) should fix this issue:
[code]

[2022-03-16 18:45] dividerbeam commented on #231
i change event.c and run make test again:

root@converter:~/parallel# make test
/bin/bash /root/parallel/libtool --mode=compile cc -I. -I/root/parallel -I/root/parallel/include -I/root/parallel/main -I/root/parallel -I/root/bin/php-latest/include/php -I/root/bin/php-latest/include/php/main -I/root/bin/php-latest/include/php/TSRM -I/root/bin/php-latest/include/php/Zend -I/root/bin/php-latest/includ

[2022-03-16 19:05] dividerbeam commented on #217
this changes make other errors:

root@converter:~/parallel# make test
/bin/bash /root/parallel/libtool --mode=compile cc -I. -I/root/parallel -I/root/parallel/include -I/root/parallel/main -I/root/parallel -I/root/bin/php-latest/include/php -I/root/bin/php-latest/include/php/main -I/root/bin/php-latest/include/php/TSRM -I/root/bin/php-latest/include/php/Zend -I/root/bin/php-latest/include/php/ext

[2022-03-17 11:29] dividerbeam opened #232 "Answer in issue #217 not working, plz help"
Answer in issue #217 not working, you closed  issue #231 early

[2022-03-17 11:50] dividerbeam commented on #232
i add in events.c

ZEND_BEGIN_ARG_WITH_RETURN_TYPE_INFO_EX(php_parallel_events_count_arginfo, 0, 0, IS_LONG, 0)
ZEND_END_ARG_INFO()
and
PHP_ME(Events, count,       php_parallel_events_count_arginfo, ZEND_ACC_PUBLIC)

but command "make" return errors:

![image](https://user-images.githubusercontent.com/52495131/158802343-63f9d400-56fa-4a14-9224-65c2b264b85e.png)

[2022-03-18 11:03] dividerbeam opened #233 "Fail "make test""
`root@vc:/usr/src/parallel# make test

Build complete.
Don't forget to run 'make test'.

=====================================================================
PHP         : /usr/local/bin/php
PHP_SAPI    :
Warning: parallel\Channel::__toString() implemented without string return type in Unknown on line 0
cli
PHP_VERSION : 8.2.0-dev
ZEND_VERSION: 4.2.0-dev
PHP_OS      : Linux - Linux vc 5.13.19-3-p

[2022-03-18 11:36] cmb69 commented on #233
Without some fixes, the latest development version of parallel is not yet compatible with PHP 8.1, so it makes no sense to try with PHP 8.2.0-dev.

[2022-03-18 11:36] #233 closed, assigned to nobody

[2022-03-18 14:07] dividerbeam commented on #233
do i need 8.0.0 version?

[2022-03-18 14:25] cmb69 commented on #233
Yeah, PHP 8.0 should be supported already.

[2022-03-18 14:52] cmb69 commented on #213
Can you please clarify how you've detected the memory leak? I can reproduce:
[code]
but only with tracing JIT, and that might actually be an issue in php-src.

[2022-03-18 14:59] cmb69 commented on #214
Great! :)

[2022-03-18 14:59] #214 closed, assigned to nobody

[2022-03-18 17:17] cmb69 commented on #202
The parallel extension is about multi*threading*; there is only 1 process involved (unless you create further processes), but possibly multiple threads. The thread core assignment is done by the OS scheduler.

You may want to try (and adapt) the following script to understand what's going on:
[code]
All 3 threads are supposed to report the same PID, but different thread IDs. And quite likely, the

[2022-03-18 17:17] #202 closed, assigned to nobody

[2022-03-18 17:46] cmb69 commented on #200
It seems this ticket can be closed now.

[2022-03-18 17:46] #200 closed, assigned to nobody

[2022-03-18 17:51] cmb69 commented on #194
Looks like this ticket can be closed now.

[2022-03-18 17:51] #194 closed, assigned to nobody

[2022-03-18 20:14] ttodua commented on #202
@cmb69 thanks for your answer! Actually, by the time I asked (and btw, till date) I was unable to find any good article where I could understand in detail how do php threads/processes work with relation to each other. From your comment as I understand, the php process can be one, but manage things across multiple threads. I'll test out your script. thanks

[2022-03-22 01:54] dixyes commented on #217
@dividerbeam seems the patch is not correctly applied? I've tried at linux with gcc 11.2.0, the patch works well with develop branch for php 8.0.3 zts.

[2022-04-25 08:09] ryancaicse opened #234 "A potential race condition between waiting and notifying"
Hi, in the below code, it is possible for the thread to signal first (Line 271) and, later, the thread goes to the waiting site (Line 201) forever without signal notified anymore.

https://github.com/krakjoe/parallel/blob/360c667b7632a639a983f17c5d97b92cbe4f7c95/src/link.c#L247-L275

https://github.com/krakjoe/parallel/blob/360c667b7632a639a983f17c5d97b92cbe4f7c95/src/link.c#L174-L206

[2022-05-02 17:54] steffstuff opened #235 "Runtime error in PHP 8.1 (suggested fix provided)"
In PHP 8.1, ZEND_TYPE_HAS_CLASS() has been renamed to ZEND_TYPE_IS_COMPLEX()

Produces runtime-error:
php: symbol lookup error: /usr/local/lib/php/extensions/no-debug-zts-20210902/parallel.so: undefined symbol: ZEND_TYPE_HAS_CLASS

Replacing ZEND_TYPE_HAS_CLASS with ZEND_TYPE_IS_COMPLEX in src/check.c solves the issue.

[2022-05-02 17:59] cmb69 commented on #235
There is already PR #226 which would fix this (and more PHP 8.1 related issues).

[2022-05-13 20:54] darkphase opened #236 "Not compatible with PHP 8.2"
Not Compiling on Windows giving;
scheduler.c(226): warning C4047: '=': 'HashTable *' differs in levels of indirection from 'HashTable **'

Both code tree are from git master

[2022-05-16 09:50] cmb69 commented on #236
Which version of parallel and which version of PHP did you use?

[2022-05-18 20:30] darkphase commented on #236
They both are from latest code tree of respective git repos...
PHP  https://github.com/php/php-src **branch:master**
Parallel  https://github.com/krakjoe/parallel **branch:develop**

[2022-05-19 10:43] cmb69 commented on #236
Oh, that would basically be PHP 8.2; however, even PHP 8.1 is not properly supported yet (see e.g. #215).

[2022-05-27 03:16] ryancaicse commented on #234
@krakjoe  Could you take a look? Many thanks.

[2022-06-05 00:28] ClosetGeek-Git commented on #210
Just a shot in the dark, but the process version is using pipes to send it's value back to the parent. This is atomic on modern Linux as long as the value being sent is less then 1024 bytes. Not sure yet sure how parallel is internally moving data back into the main thread but I would imagine that it may be serializing things. PHP data types can be complicated and variable so I would imagine they

[2022-06-05 01:50] ClosetGeek-Git commented on #25
My own brain dump: you've in effect created a worker pool that is able to handle jobs much like JS callbacks which are often chained to create a somewhat asynchronous chain of execution within a threadpool as well. Providing non-iterative yield within PHP\Parallel::yield would then be the functional equivalent to a JS generator function* which too have the same behavior but without iterators such

[2022-06-05 03:18] TheTechsTech commented on #25
You are getting the gist of it. You could study the origin of Python usage of `yield`, and how it was used to to achieve `await`. What you will find is that, it's just a different keyword usage, syntax sugar.

Pythons native asynchronous behavior is actually all Python, not `C code`, not a extension, and deep down there code base `yield` is still what makes it work.

Unfortunately, not many averag

[2022-06-05 13:33] ClosetGeek-Git commented on #210
@krakjoe I think this might be a worthwhile bug to dig into because it may pertain to how parallel _could_ possibly expose bugs in other 3rd party or even core extensions for PHP. They simply aren't used to being ran in a  multi-thread environment keeping long-executing code within individual threads, so I'm sure there's little focus to possible bugs in such use cases. I can see this being a step

[2022-06-06 16:59] TheTechsTech commented on #210
This might be a good short read:
Shared Memory Programming with Pthreads - https://sites.cs.ucsb.edu/~tyang/class/240a17/slides/pthreads.pdf

The problem I see, that seems in **contradiction** about the premise of CSP - [message passing over channels](https://www.php.net/manual/en/philosophy.parallel.php), this library's design to maintain the `global` usage.

There are a few tests making sure of

[2022-06-07 04:05] ClosetGeek-Git commented on #210
The issue is openssl itself, not the openssl extension. The threadsafe library uses locks for multiple structures. I haven't been able to find the Linux code but the windows code uses ```WaitForSingleObject``` which typically takes multiple microseconds. Might not sound like much but your code is calling openssl_random_pseudo_bytes 6,400,000 times between all 8 threads, so I can see that adding mu

[2022-06-07 04:12] ClosetGeek-Git commented on #210
Maybe try something like https://gist.github.com/farhadi/2185197#file-rc4-php if your just trying to do side-by-side processing benchmarks. It's a pure PHP version of RC4 encryption.

[2022-06-12 02:54] chegmarco1989 opened #237 "How to use "PHP Parallel" with DOMDocument in my following PHP Code ???"
Hello.

I would like to use PHP-8 Parallel (https://github.com/krakjoe/parallel. Or: https://php.net/parallel) in my function `follow_links`:

[code]

I therefore seek to process all the URLs stored in the variable `$starts` **at the same time in a parallel** way in `follow_links` function knowing that it is the function `get_details` (_using **DOMDocument**_) which retrieves the data of each URL

[2022-06-12 21:10] jkroonza commented on #201
@krakjoe - reading the above sadens me.  I really get that you don't use it personally, and that's probably OK.  However, Fibers really is no substitute for this in any way.  This project really helped us solve a major problem where we could get checks that previously took hours down to minutes.

Consider calls that blocks, without any non-blocking alternatives, eg code involving dns_get_record()

[2022-06-13 08:46] falxen opened #238 "No parallel execution in PHP 8.1, and space character crashes parallel task"
Hello, I am running PHP 8.1.7 ZTS on Nginx using PHP-FPM.

Parallel version is branch `dixyes-patch-1` of the fork [https://github.com/dixyes/parallel](https://github.com/dixyes/parallel) based on [#226](https://github.com/krakjoe/parallel/pull/226) because I couldn't get the main branch to compile with PHP 8.1.x. Unfortunately, I have to use PHP 8.1.x and can't use any 8.0.x version.

**Issue 1:*

[2022-06-15 02:59] dixyes commented on #238
fixed in 63c4fcd339e670556b152d76b8dcf3a34f268464
btw please report problems related to this pr in this pr thread

[2022-06-25 05:47] falxen commented on #238
Looks like [63c4fcd](https://github.com/krakjoe/parallel/commit/63c4fcd339e670556b152d76b8dcf3a34f268464) fixed this issue. Thanks! Closing the issue.

[2022-06-25 05:47] #238 closed, assigned to nobody

[2022-06-28 11:23] Koetemp commented on #94
I have the same error.

[2022-06-28 14:40] jerrac commented on #201
https://github.com/krakjoe/parallel/issues/201#issuecomment-892442141 throws a wrench into my current side project... :( A couple years ago I wrote an app that used pthreads to multithread. It let me process some data fast enough my target server couldn't keep up. It was pretty awesome, and I was sad work decided to buy from a vendor instead...

I was really hoping to do something similar in my cu

[2022-06-28 15:39] jkroonza commented on #201
Short answer:  Yes.  Fiber is similar to the way multi-threading would work under DOS.

[2022-07-05 03:38] jerrac commented on #201
Ok. Thanks for the info.

Thanks to @krakjoe for the work he did on both this and pthreads. Would have been awesome if it had made it into core.

[2022-07-11 14:58] mercurykd commented on #221
@cmb69
dockerfile:
[code]
index.php:
[code]

Fatal error: Uncaught Error: Call to undefined method parallel\Runtime\Type\Unavailable::dd() in /app/index.php:15
Stack trace:
#0 {main}
  thrown in /app/index.php on line 15

[2022-07-11 16:04] cmb69 commented on #221
Ah, thank you @mercurykd! This is not a bug, though. The problem is that the parallel runtime doesn't know class `Test`, and as such assigns the `parallel\Runtime\Type\Unavailable` class. You need to make the class definition available to the parallel runtime, e.g. by using `parallel\bootstrap`. So move the class definition to its own file `Test.php`, and then change the given test script to:
[cod

[2022-07-31 16:25] ElStefanos opened #239 "Unable to load module even if its in right directory"
These are my paths:

`D:\Programs\ProgramFiles\xampp\php`
`D:\Programs\ProgramFiles\xampp\php\pthreadVC2`

Both in user and system variables.

Php version:

`PHP 8.1.1 (cli) (built: Dec 15 2021 10:31:43) (ZTS Visual C++ 2019 x64)`

extension_dir is set to right directory.

What did I do wrong?
I followed the official PHP documentation.

Even saw some people copying the pthread to system32.

If thi

[2022-07-31 16:43] ElStefanos commented on #239
Downgraded to php 7.4 no result

[2022-07-31 17:00] ElStefanos commented on #239
Reinstalled php again. No errors now.
This is the version i installed.

`PHP 7.4.30 (cli) (built: Jun  7 2022 16:24:55) ( ZTS Visual C++ 2017 x64 )`

This is the link.
 https://windows.php.net/downloads/releases/php-7.4.30-Win32-vc15-x64.zip

[2022-07-31 17:00] #239 closed, assigned to nobody

[2022-08-01 08:54] cmb69 commented on #239
Yeah, you always need the extension DLL to be build against the appropriate PHP version (major and minor version must match; revision is irrelevant). So if you have PHP 8.1.1, you would need an ext/parallel build for 8.1. ext/parallel isn't compatible with PHP 8.1 yet.

[2022-08-02 22:39] ClosetGeek-Git opened #240 "ReactPHP eventloop"
I created a react PHP eventloop that is able to handle parallel threads via ZMQ inproc:// protocol. Mainly just to see if I could.
https://github.com/ClosetMonkey/ReactPHPZMQ

[2022-08-03 09:13] cmb69 commented on #240
Thanks for letting us know.

[2022-08-03 09:13] #240 closed, assigned to nobody

[2022-08-08 11:34] ClosetGeek-Git opened #241 "Need to talk"
@krakjoe I've been playing with your extensions for over a decade, and rarely in PHP userspace. How do we get a hold of the core PHP team? I'm actually getting frustrated with how things are going. I was a script kid playing with sockets in PHP 3 and things have gone so far since then. You've already proven that PHP can handle threads. Twice now. This whole HTTP/FCGI thing is getting old. I was do

[2022-08-08 11:36] ClosetMonkey commented on #241
Is it corporate pressure? Really.

[2022-08-08 11:50] cmb69 commented on #241
What are you talking about? If you want to make a proposal to include support for multithreading in php-src, do it at https://github.com/php/php-src/issues.

[2022-08-08 12:02] ClosetMonkey commented on #241
Are you suggesting that will mater? call header() after an echo() and PHP will shit because it might break a 30 year old cgi script somewhere.

[2022-08-08 12:07] ClosetMonkey commented on #241
Heres something cool and simple - make the master FCGI socket within php-cgi available to userspace once a script is executing.

[2022-08-08 12:09] ClosetMonkey commented on #241
Theres so many ways that people can break things with that, yet there are frameworks that have been stretching PHP steams into all sorts of areas, such as amphp and ReactPHP.

[2022-08-08 12:11] cmb69 commented on #241
It certainly matters more than posting confusing issues to this repo.

[2022-08-08 12:12] ClosetMonkey commented on #241
I'm looking for @krakjoe . And this isn't confusing. People have been hitting this ceiling for years now.

[2022-08-08 12:16] cmb69 commented on #241
See https://github.com/krakjoe/parallel/issues/201#issuecomment-892442141.

[2022-08-08 12:26] ClosetMonkey commented on #241
A "thread" is something subjective once talking about fibers and coroutines. Both are useless without some sort of core event mechanism. You end up with a very fine grained procedure that can't do much more than run in it's own loop until it's done.

[2022-08-08 12:29] ClosetMonkey commented on #241
eventfd for example, and it can get even lower than that. It's not that it can't be done. I'm not a hater.

[2022-08-08 12:38] ClosetMonkey commented on #241
There are those who have the knowledge to do this. "How" isn't an issue. It's already been proven that it can be coded, maintained, and then have a crowd try to adopt it just to see that it can't go anywhere because of lack of support from the core team.

[2022-08-08 12:45] ClosetMonkey commented on #241
I don't have an issue with @krakjoe . I have an issue with the greater PHP team and he has their ear. We are facing Web3 yet if you did a mass delete of "cgi" in the the PHP core it would leave it broken. We all know it's more than that.

[2022-08-08 12:48] ClosetMonkey commented on #241
Facebook already had to fork because of this, and I'm pretty sure that Fibers came from the presence that Tecent created with Swoole Coroutines.

[2022-08-08 13:14] ClosetMonkey commented on #241
`php_stream *stream  = php_stream_sock_open_from_socket(fcgi_fd, 1);` is all it would take to pass the fcgi socket into userspace. That one line of code could change the entire path of PHP.

[2022-08-08 13:29] ClosetMonkey commented on #241
And that's not voodoo. FCGI is a very simple protocol. High schoolers can work with it, and not the type that win awards

[2022-08-10 12:00] maxymajzr commented on #241
@ClosetMonkey wow, I never thought I'd read something like this, it's as if you read my mind and wrote what I always thought. When @krakjoe first published pthreads, I tried to reach out to the PHP core team but it was a moot effort - I'm not blaming them at all, but it's like you said - we have the how. We have capable maintainers. We have everything from the "let's execute this" part. I want thi

[2022-08-11 01:03] ClosetMonkey commented on #241
@maxymajzr I'm not sure of your background but this isn't new with the PHP Team. Members long ago tried to maintain a GTK-PHP at the core level but they to got drowned out because of their INSANE desire to remain a CGI. This was something close to 20 years ago. Imagine if it would be now. It's  fu**** ing insanity, and not new insanity.

[2022-08-11 01:05] ClosetMonkey commented on #241
Their own community can lift them into new places such as @krakjoe . They do the work for free, submit the code, and then crickets

[2022-08-11 01:07] ClosetMonkey commented on #241
Meanwhile our more knowledgeable clients are like "wait what do you mean that's not possible"

[2022-08-11 01:10] ClosetMonkey commented on #241
Once upon a time great men did great things by pounding stones against other stone and created an awesome thing they called "wheel". But it seems they don't want to put their down clubs and stone an concede other tools are available.

[2022-08-11 01:16] ClosetMonkey commented on #241
And I'll be very insensitive when other might not be. How many man hours (im thinking in the tens of millions) are they disrupting and working against by refusing to listen.  People bank their livelihood and more and more often it's "that's not possible" and then "wait what...???"

[2022-08-11 01:24] ClosetMonkey commented on #241
I'm not trolling. These are issues great enough to move so much. YouTube started as PHP. Yahoo Webmail Started as PHP. Like WT* is going on. FB. It's not a small list that switched because of deft ears. Maybe all they know is pounding sticks into stones and they wont let go.

[2022-08-11 01:35] ClosetMonkey commented on #241
I'm from a time where I know that PHP written in Pearl. We do still exist.

[2022-08-11 01:37] ClosetMonkey commented on #241
Death will come to me someday, but I'm hopping - maybe - i"ll be immortal. But I'm not young.

[2022-08-11 01:49] ClosetMonkey commented on #241
I'll put myself out there, I'm a very old and unmovable mountain, who remembers when PHP was Pearl. And I remember the rumors of lawsuits, and saw the change. And as I saw the change, thanks Zend, PHP became into a nice C framework. But also, there are those who are either dishonest or gagged by court order.

[2022-08-11 01:58] ClosetMonkey commented on #241
Because really, they are doing BAD AS* FUC*NG THINGS with JIT. But can't leave CGI. So stuck, so stateless. And so mum..

[2022-08-11 02:00] ClosetMonkey commented on #241
Are they so gagged they cant give a nod?

[2022-08-11 02:14] ClosetMonkey commented on #241
I think, and I can say very little because of lawsuit, that PHP is stuck. Just like their "history" page contradicts web archives. Thy are dead ducks from lawsuits they can even mention.

[2022-08-11 02:16] ClosetMonkey commented on #241
so @cmb69 are you still willing to champion?

[2022-08-11 02:19] ClosetMonkey commented on #241
@cmb69 meet me

[2022-08-11 02:32] ClosetMonkey commented on #241
The platform I'm working on is a true datachannel, but such a thing can't possibly exist. No. It must xyz by CGI standards.

[2022-08-11 02:36] ClosetMonkey commented on #241
Meet me

[2022-08-11 02:36] ClosetMonkey commented on #241
Any fuc**ing one of you

[2022-08-11 02:40] ClosetMonkey commented on #241
I dont really care

[2022-08-11 02:40] ClosetMonkey commented on #241
Just like @krakjoe it wont ever matter

[2022-08-11 02:45] ClosetMonkey commented on #241
I'm looking at your commits @cmb69  I think my blatter is about ti scream on you. Your pissed on and done NIgg@

[2022-08-11 03:54] ClosetMonkey commented on #241
Fu*k CGI. This is is so retarded. And no I wont submit a PR. They're a dead duck. Stuck in CGI. TELL ME FUC8ING OTHERWISE

[2022-08-11 04:00] ClosetMonkey commented on #241
I'm done/ Honestly. The best to all of your. Keep your CGI

[2022-08-11 04:03] ClosetMonkey commented on #241
Maybe I"m not done. Fuck PHP. Trust me that will be something,

[2022-08-11 09:26] #241 closed, assigned to nobody

[2022-08-11 17:24] sirsnyder commented on #201
No, fibers are green threads. Multiple switching stacks in one process, still tied to one CPU core. See https://wiki.php.net/rfc/fibers#why_not_add_an_event_loop_and_asyncawait_api_to_core

[2022-08-28 23:13] ahmeteminkocal opened #242 "undefined symbol: ZEND_TYPE_HAS_CLASS"
php: symbol lookup error: /opt/php/php8/lib/php/extensions/no-debug-zts-20210902/parallel.so: undefined symbol: ZEND_TYPE_HAS_CLASS
I constantly get this error. What could be the reason?
Currently Php 8.1.6 is installed.

[2022-08-29 08:53] cmb69 commented on #242
Duplicate of #235.

[2022-08-29 08:53] #242 closed, assigned to nobody

[2022-08-30 21:29] ahmeteminkocal opened #243 "Can't spawn more than two threads & memory leak"
Hello,
I cannot spawn more than 2 Threads. What could be the issue? I am using Php 8.1.6.

<img width="546" alt="image" src="https://user-images.githubusercontent.com/10382507/187546641-2edeff88-a740-4df5-8b69-46a8f743c4ed.png">
<img width="302" alt="image" src="https://user-images.githubusercontent.com/10382507/187546736-999ab449-ee5c-42ce-919f-b9b5041023e4.png">

Edit 1:
Found the issue. When I

[2022-09-19 23:18] ghost opened #244 "PHP Warning: parallel\Channel::__toString() implemented without string return type in Unknown on line 0"
PHP Warning:  parallel\Channel::__toString() implemented without string return type in Unknown on line 0
PHP 8.3.0-dev (cli) (built: Sep 19 2022 23:07:45) (ZTS)
Copyright (c) The PHP Group
Zend Engine v4.3.0-dev, Copyright (c) Zend Technologies

[2022-09-19 23:19] ghost commented on #243
I'm using this and spawning like 40 threads, each with their own future...  worked fine in php8.1.8, php8.2-rc and php8.3-dev
`<?php

namespace RPurinton\Transliterate;

require_once(__DIR__."/ConfigLoader.php");

class ThreadManager Extends ConfigLoader
{
        private $threads = null;
        private $functions = null;
        private $futures = null;

        function __construct()
        {

[2022-09-29 18:54] ElStefanos commented on #243
This is how I did it.

[code]

I have multi dimensional array but what you need is `$future_id` outside foreach loop. and `$future_id++` inside it. Name your future with `${'future_'.$future_id}`.

Here I have 3 never ending loops because I need this script to listen on few ports. Also having commandline and working web GUI.

![image_2022-09-29_210644342](https://user-images.githubusercontent.com/

[2022-10-10 15:30] cmb69 commented on #243
AFAIK parallel is not yet compatible with PHP 8.1 ([it won't compile](https://github.com/krakjoe/parallel/issues/215) in the first place). Are you using a patched version?

[2022-10-18 13:26] AStroDevOPS opened #246 "PHP8.1 (ZTS+FPM+PARALLEL)"
I've got some problem with parallel when compiling php 8.1.11
[code]

[2022-10-18 13:51] cmb69 commented on #246
Duplicate of #215. There is #245 which is supposed to fix that, but there are some unresolved issues.

[2022-10-18 13:51] #246 closed, assigned to nobody

[2022-10-23 18:38] #235 closed, assigned to nobody

[2022-10-23 18:38] krakjoe commented on #244
Fixed in develop.

[2022-10-23 18:39] #244 closed, assigned to nobody

[2022-10-23 18:39] krakjoe commented on #236
Fixed in develop.

[2022-10-23 18:39] #236 closed, assigned to nobody

[2022-10-23 18:39] krakjoe commented on #217
Fixed in develop.

[2022-10-23 18:39] #217 closed, assigned to nobody

[2022-10-23 18:39] krakjoe commented on #215
Fixed in develop.

[2022-10-23 18:39] #215 closed, assigned to nobody

[2022-10-23 18:41] krakjoe commented on #220
parallel does not copy classes, they have to be made available by opcache or bootstrap.

[2022-10-23 18:41] #220 closed, assigned to nobody

[2022-10-23 18:44] krakjoe commented on #243
The segfault isn't nice, but it's a result of using kill() ...

kill should be used as a last resort when you are forcing a shutdown of your program and don't care about the consequences.

Otherwise I don't think there's a bug here ... if I'm wrong about that and you can distill it to a reproducible case, please open another ticket.

[2022-10-23 18:44] #243 closed, assigned to nobody

[2022-10-23 18:45] krakjoe commented on #237
Sorry, this is not the place to ask for help with code.

[2022-10-23 18:45] #237 closed, assigned to nobody

[2022-10-23 18:50] krakjoe commented on #232
Fixed in develop.

[2022-10-23 18:50] #232 closed, assigned to nobody

[2022-10-23 18:59] krakjoe commented on #212
This is expected:

https://www.php.net/manual/en/parallel-runtime.kill.php

[2022-10-23 18:59] #212 closed, assigned to nobody

[2022-10-23 19:08] krakjoe commented on #211
Incorrect usage:

[code]

[2022-10-23 19:08] #211 closed, assigned to nobody

[2022-10-23 19:15] krakjoe commented on #210
This isn't caused by php or parallel, you would have to be a real expert in openssl to determine if there is anything you can do; there likely isn't.

If you are absolutely sure I'm wrong, please open a new ticket, and please include reproducing code that is not embedded in pdf documents :)

[2022-10-23 19:15] #210 closed, assigned to nobody

[2022-10-23 19:16] krakjoe commented on #213
It's dangerous to reset the cache while the application is running, parallel cannot support that.

[2022-10-23 19:16] #213 closed, assigned to nobody

[2022-10-23 19:19] krakjoe commented on #209
Your measurements are wrong, the methodology is not correct.

Please don't open help requests disguised as bug reports, this is not the place to get help with code.

[2022-10-23 19:19] #209 closed, assigned to nobody

[2022-10-23 19:19] #206 closed, assigned to nobody

[2022-10-23 19:19] #208 closed, assigned to nobody

[2022-10-23 19:28] krakjoe commented on #204
The runtime is stored in a temporary variable and destroyed immediately (before the call to send).

[2022-10-23 19:28] #204 closed, assigned to nobody

[2022-10-23 19:29] #207 closed, assigned to nobody

[2022-10-23 19:29] krakjoe commented on #203
Sorry, this is not the place to ask for help with code.

[2022-10-23 19:29] #203 closed, assigned to nobody

[2022-10-23 19:31] #193 closed, assigned to nobody

[2022-10-23 19:34] #184 closed, assigned to nobody

[2022-10-23 19:37] krakjoe commented on #188
Sorry, this is not the place to get help with code.

[2022-10-23 19:37] #188 closed, assigned to nobody

[2022-10-23 19:43] krakjoe opened #250 "Release v1.2.0"
Hi @remicollet,

When you have a moment, can you organize the release of v1.1.5, no major changes just support for 8.0/8.1/8.2

Possibly because of arginfo changes it might be good to version as 1.2, up to you ...

Thanks.

[2022-10-24 03:50] krakjoe commented on #224
Sorry, this isn't the place to ask for help with code.

[2022-10-24 03:50] #224 closed, assigned to nobody

[2022-10-24 03:54] krakjoe commented on #142
From the PHP manual:

While the above is true, nothing can be done, sorry.

[2022-10-24 03:54] #142 closed, assigned to nobody

[2022-10-24 03:55] krakjoe commented on #57
Sorry, I don't have the time and don't intend to do this.

[2022-10-24 03:55] #57 closed, assigned to nobody

[2022-10-24 03:58] krakjoe commented on #183
It's coming #250

[2022-10-24 03:58] #183 closed, assigned to nobody

[2022-10-24 03:58] krakjoe commented on #201
It's coming #250

[2022-10-24 03:58] #201 closed, assigned to nobody

[2022-10-24 06:10] remicollet commented on #250
@krakjoe as this adds support to PHP8 and drops support for PHP 7,
I think it makes sense to bump the version to 1.2.0
Does it also make sense to you?

[2022-10-24 06:18] krakjoe commented on #250
Yeah, makes sense ... it's been so long since a release I forgot about dropping 7 :)

[2022-10-24 06:53] remicollet commented on #250
Tagged and published on pecl

[2022-10-24 06:53] #250 closed, assigned to remicollet

[2022-10-24 07:10] krakjoe commented on #250
Thanks muchly @remicollet, appreciated :)

[2022-10-24 08:52] marcusjhdon commented on #210
Openssl was just chosen at random as a suitable load-intensive operation to demonstrate the problem. You can replace it with anything you like to witness the same problem.

PS I tried embedding the code, but it didn't seem to preserve indentation correctly, hence the PDF files.

[2022-10-24 10:33] krakjoe commented on #234
Racing does not look possible to me.

These are unbuffered routines, and wait releases/reacquires the mutex atomically.

When the recv caller enters into recv, it will block until there is a writer waiting while the channel has not been closed. It then performs the copy while the sending side retains the mutex and signals the sender to continue.

[2022-10-24 10:33] #234 closed, assigned to nobody

[2022-10-27 21:45] krakjoe commented on #221
There is mention of this in the doc: https://www.php.net/manual/en/class.parallel-runtime.php

Not sure if there wasn't at the time, but that looks like enough to me.

Anyone is free to improve the docs, of course ... but closing this.

[2022-10-27 21:45] #221 closed, assigned to nobody

[2022-10-27 21:46] krakjoe commented on #205
@cmb69 could you test this again please ?

[2022-10-28 04:48] krakjoe commented on #124
I am not able to reproduce this issue with the latest supported versions of PHP and parallel.

I notice a couple of things; using pthreads and parallel at the same time is unsupported, your waitForFutures routine is called inside the loop creating futures and probably you meant it to be outside (though neither way crashes now).

So, I'm going to close this; If I'm wrong, please open a new issue.

[2022-10-28 04:48] #124 closed, assigned to nobody

[2022-10-28 14:41] cmb69 commented on #205
@krakjoe, see #256 ;)

[2022-10-28 19:28] #205 closed, assigned to nobody

[2022-10-29 04:19] krakjoe opened #257 "Release v1.2.1"
Hi @remicollet,

We got some good fixes in this week, can we push out a release please ?

Changelog:

  - Fix segfault when constructing sync objects
  - Fix heap buffer overflows when copying functions
  - Drop disabling functions (dl, setlocale) by force and adopt PG(enable_dl) mechanism for that most important use case
  - Fix some leaks in scheduler

I've tried to adopt a PR based workflow to

[2022-10-29 06:27] remicollet commented on #257
Tagged and uploaded on pecl

[2022-10-29 06:27] #257 closed, assigned to remicollet

[2022-10-29 10:01] krakjoe commented on #257
Thanks @remicollet, much appreciated.

[2022-11-12 21:12] lolcatw opened #261 "[Help needed] How can I setup ZTS w/ parallel?"
Hello!
I've been scouting the internet for a good method to compile PHP 8.1 (release) with ZTS support.
My goal is to create a binary that has all of the fancy things the vanilla PHP binary has on debian repos (sockets, curl, etc) but with added ZTS support and parallel.

There is alot of contradicting information online on how to set that up, and after using this solution to install PHP
https://g

[2022-11-14 17:31] cmb69 commented on #261
See https://www.phpinternalsbook.com/php7/build_system/building_php.html and https://www.phpinternalsbook.com/php7/build_system/building_extensions.html for detailed build instructions.

[2022-11-21 18:59] ben833 opened #262 "Does parallel take advantage of multiple CPU cores?"
My use case is to run a heartbeater with a long running queue-consumer script. This is more of a general question, though. Will parallel take advantage of extra CPU cores on the machine? Is there any way to tell it to run on another core, or tell it to run on the same core as the main PHP program?

Also, the github contributors page says that this should be run on PHP version >= 8, but the php.net

[2022-11-21 19:05] cmb69 commented on #262
That's up to the operating system; parallel supports multiple threads.

The first version of parallel which had been released (0.8.0) required PHP ≥ 7.2.0. As of parallel 1.2.0, only PHP ≥ 8.0.0 is supported (the PHP manual should be updated in this regard).

[2022-11-22 10:47] cmb69 commented on #262
[Documentation has been updated](https://github.com/php/doc-en/commit/965de54e33dc648d8670403757b05282d8487be7).

[2022-11-22 10:47] #262 closed, assigned to nobody

[2022-11-22 15:13] ben833 commented on #262
Thank you!