[2019-02-12 12:06] krakjoe opened #1 "PECL"
Hi @remicollet, can you start the ball rolling on PECL things please ?

I need to rest now, but I'll do a bunch more testing tomorrow, coverage is at 97%~ which is good enough for me, I can't possibly test all error conditions when it comes to threads because you cannot force them to occur.

Ta, and thanks for help earlier :)

[2019-02-12 12:49] remicollet commented on #1
Step #1: http://news.php.net/php.pecl.dev/15746

[2019-02-12 14:58] remicollet commented on #1
Step #2 : https://pecl.php.net/package/parallel

[2019-02-12 16:16] krakjoe commented on #1
yay, thanks @remicollet ... that was fast :)

[2019-02-12 16:24] remicollet commented on #1
@krakjoe only created, nothing released yet (I think we need to wait a "few" days, to get feedback on the ML first).

BTW, which version / state  do you want ?   (0.0.1 is perhaps a bit too "experimental")

[2019-02-12 16:27] krakjoe commented on #1
I'm going to totally leave that down to you, whatever you think best is good with me.

[2019-02-13 20:51] krakjoe opened #2 "Not using future blocks parent thread"
If you don't take a reference to Future, the parent thread will be blocked while the child runs because the Future is implicitly created and destroyed and in order to destroy it, it must wait for a value.

Solve this somehow ... nicely ...

[2019-02-14 05:22] krakjoe opened #3 "Killing"
We need a way to kill a thread immediately, ignoring the remainder of the stack.

[2019-02-14 05:41] #2 closed, assigned to nobody

[2019-02-14 05:41] #3 closed, assigned to nobody

[2019-02-15 10:11] Furgas opened #4 "Typo?"
It sounds like "it may execute an unlimited set of instructions".

[2019-02-15 10:15] ghost opened #5 "Check whether future has a value"
Is there a way or could you add a method to check whether the Future has a value (i.e. is done or errored)? Currently you can only try to get the value and it will block until it has the value. For an asynchronous environment this is highly inefficient and lowers throughput.

[2019-02-15 10:17] krakjoe commented on #4
No, it's not a typo. The instructions you are not allowed to execute are listed just below that.

[2019-02-15 10:17] #4 closed, assigned to nobody

[2019-02-15 13:06] krakjoe commented on #5
It would look something like:

  1) lock future
  2) save state
  3) unlock future
  4) return state to userland

This is quite messy, as I'm sure you see ... moreover after 3, and before 5 (your next userland instruction), the state may have changed. In order to use that kind of API, you would have to have a busy waiting loop, and this is really horrible.

There's a possibility to add a timeout p

[2019-02-15 13:50] ghost commented on #5
Some sort of stream that could be used with stream select would be a good solution to me, but if some other reasonable solution with the Channel API can be achieved, it would be fine to me too (as long as you could stream select on it?).

Something of this can probably be efficiently achieved with the Channel API if the Channel API can be used with a select. Then we would just have to wrap the clo

[2019-02-15 14:02] krakjoe commented on #5
Well it would be more like Channel::select, or Future::select, but analogous to and recognisably a `select` call.

It's just been pointed out to me that the lock is superfluous if you're only checking the state, but the thing that concerns me, and that `select` would avoid, is busy waiting loops in userland.

[2019-02-15 14:06] ghost commented on #5
Busy waiting loops isn't really a concern if I can select it. But it's a concern if I can't use an userland event loop for it. A `stream` resource would allow me to integrate it into an userland event loop (e.g. ReactPHP stream select event loop).

But if I can't get a resource to select it, I'd do an alternative timer implementation to get the Future state and compare (which I've been using if `e

[2019-02-16 00:13] Sarke opened #6 "Docker image"
Not really an issue, just wanted to share I made a docker image in case anyone wanted to play with it.

https://hub.docker.com/r/sarkedev/php-parallel

Thanks again!

[2019-02-16 14:26] krakjoe commented on #1
Hi @remicollet

I don't intend to add any features for the first release, and I'm pretty sure everything is in order now.

So, ready when you are :)

Ta

[2019-02-16 19:35] joeyhub opened #8 "Can be better simplified."
Instead of returning a future return null. Delete the future implementation and just take a Closure as an extra optional parameter for what to do in the event of the callback finishing.

[2019-02-16 19:47] joeyhub commented on #8
Actually forgetting something. That's not enough to solve the async problem. What every you do, you need a controlled way to process multiple results from requests in the order they came in. You need a thread_select mechanism. With that you can maybe stick to using the future. It needs to be known if the callback completed or died prematurely. Then if successful, the result separate from error inf

[2019-02-16 19:56] krakjoe commented on #8
A future is not only the container for a value, it is a valuable and necessary synchronization point, that hides the complexity of synchronization. Talking about removing it and replacing it with a callback (that would have to be executed in the parallel runtime) makes no sense at all.

Should the parallel runtime suffer an error, the future is aware and will throw an exception when value is calle

[2019-02-16 19:56] #8 closed, assigned to nobody

[2019-02-16 20:04] joeyhub commented on #8
Yes I forgot PHP doesn't have an event loop out the box like JS has hence the callback brainfart.

In place of that the blocking model isn't enough. Without a non-blocking model the library is a lemon.

Throwing an exception is the obvious solution when not using callbacks.

Basically the design of your library cripples it beyond the point it can be used. You're going to need select. You should al

[2019-02-16 20:27] MadaraUchiha commented on #8
@joeyhub Even in JS, Promises are almost strictly superior to callbacks in modelling async values.

Callbacks have several API level drawbacks that make using them not fun (you can't return from it, you can't throw from it, you can't pass it around, doing things in sequence is hard).

Also, you make a fairly bold claim that "the design of your library cripples it beyond the point it can be used",

[2019-02-16 21:03] joeyhub commented on #8
Callbacks wont work on their own. I have been saying since my second ticket. You can stick with the future as I have been saying the second post. Callbacks was a brain fart forgetting that PHP doesn't have a reasonable and predictable demux system nor an obvious opportunity to exploit for callbacks.

The thing is people want to process the results from multiple threads in order that they finish. A

[2019-02-17 12:16] krakjoe commented on #5
Done, see updated readme ...

[2019-02-17 12:16] #5 closed, assigned to nobody

[2019-02-17 14:29] dktapps opened #9 "select() timedout vs resolving unclear usage"
As far as I can see in the code these arrays will always have the same contents. Why are they both present? Am I missing some crucial difference?

[2019-02-17 14:59] krakjoe commented on #9
I'm very well aware that this API needs more than docblock comments, I'm planning to start the project of documentation in the manual when PECL is started .... I really don't want to clutter the readme here with lots and lots of examples ... so that's the first thing to say ...

`$resolving` is your input array of Future objects, which is taken by reference so that it may be updated for subsequent

[2019-02-17 15:08] dktapps commented on #9
I see. There is indeed a subtle difference that I didn't spot. Nonetheless it seems to me that the usefulness of `$timedout` is very small.

[2019-02-17 15:19] krakjoe commented on #9
You may at a certain point during loop decide that some Future is never going to resolve, and so remove it from `$resolving` yourself. There's no way to make that decision for you, and it's useful to know the difference between errored and timedout, which is why timedout is not inserted into errored.

[2019-02-17 15:37] dktapps commented on #9
That makes sense. Thanks for explaining.

[2019-02-17 15:37] krakjoe commented on #9
Very welcome :)

[2019-02-17 15:37] #9 closed, assigned to nobody

[2019-02-18 13:22] remicollet commented on #1
Going to run the release process now

I think 0.8.0 (beta) is ok (if you think we are close to "stable", btw, there is a large set of number available "before" 1.0.0)

[2019-02-18 13:41] remicollet commented on #1
Tag, built, uploaded and announced

[2019-02-18 13:41] #1 closed, assigned to remicollet

[2019-02-18 14:31] krakjoe commented on #1
Awesome stuff @remicollet, thanks very much :)

[2019-02-20 17:11] peter279k commented on #6
It's not an issue, but we can mention this environment with Docker build on the `README` :+1: .

[2019-02-23 08:00] krakjoe opened #10 "Documentation"
I've started documentation in the manual, it needs more work and examples added. We can clean up the readme now also.

@remicollet do you want to do the readme changes with install info as normal please ?

I'll close this when I'm happy that there's enough examples in the manual ...

[2019-02-25 15:40] remicollet opened #11 "Getting value of a finished Future"
Tryingt to write some example, implementing a `-j# `like option

Is it possible to run a $f->value, from the $done array returned by a select ?

See example:

[code]

Is seems the call to value() hangs...

[2019-02-25 16:04] #11 closed, assigned to nobody

[2019-02-25 16:05] krakjoe commented on #11
Woops, sorry about that ... can you push out a release with that fix please ... after testing, of course :)

[2019-02-25 16:11] krakjoe commented on #11
+the next couple of commits ...

[2019-02-25 16:19] remicollet commented on #11
Waiting for travis after adding test for this...

[2019-02-25 16:27] krakjoe commented on #11
hehe, I also pushed a test ... I thought I'd put bug tests in a different folder ...

[2019-02-25 16:32] krakjoe commented on #11
We'll go with your test, mine was crappy ...  I'll work on bringing coverage up another day, little busy at the moment and can't really concentrate fully ...

EDIT: I pushed after your prepare commit ... check what bad things I done there ?

[2019-02-25 16:52] remicollet commented on #11
only your test added / reverted
`diff checkout release; git diff develop` is empty (only package.xml)

BTW, 0.8.1 is now Released (and announced)

[2019-02-25 16:54] krakjoe commented on #11
cool, ta remi

[2019-02-26 14:28] remicollet commented on #10
Example proposal.

A background Logger, to not have to wait for log to be written to continue task execution

[code]

[2019-02-26 16:02] remicollet commented on #10
Another proposal:

Task runner in parallel, with maximum

[code]

[2019-02-26 16:05] remicollet opened #12 "select clarification"
See https://github.com/krakjoe/parallel/issues/10#issuecomment-467497561  for reproducer

Working on some tests / examples, I notice select always wait for the first task in the array to finish, while we may expect to wait for any task which finish first.

Using linked example

Output:
[code]

Expected:
[code]

Can you please confirm if this is expected, or an issue ?

[2019-02-26 18:49] krakjoe commented on #12
That's correct/expected, more precisely, the only item in `$resolved` will always be the first task that resolved without error, whether using blocking or timeout. It seems a bit strange to accept an array for `$resolved` at all, since it will only ever have one `Future`, however, it makes the loop body a bit simpler, if everything  you are working with is an array, I think.

The timed api may be

[2019-02-26 18:49] #12 closed, assigned to nobody

[2019-02-26 19:02] krakjoe commented on #10
I would write the first one like this:

[code]

Sleeping in the thread seems superfluous, in addition, so are the futures, since they are not returning any useful value. Keeping them is just a waste of memory. In a real application when the stack gets to 0 size, it will be cleaned automatically, freeing the memory in the background thread.

[2019-02-26 19:27] krakjoe commented on #10
Creating a whole thread to execute one task is awfully wasteful, and probably not something we should encourage by example.

[here](https://gist.github.com/krakjoe/254897be71d23b5d5ac2d436f52e8d7d) is an example of pooling that may be worked into a nice example ... you might extend it to create threads on demand up to a maximum ...

When it comes to a good example that uses futures/select ... you

[2019-02-27 06:51] krakjoe opened #13 "Bug in literals copying"
Bug in copying literals may lead to corrupted heap.

For some reason I wrote this really strange, spotted errors during review ... the nature of this bug means it's somewhere between hard and impossible to write a test for it, it's definitely there though, I see it very clearly with fresh eyes.

[2019-02-27 06:51] krakjoe commented on #13
Fixed in 0f84a11fe7a5ed5d9cf6a5b646acd0bcfb19629b

/cc @remicollet  this will want a release after CI ...

[2019-02-27 07:09] krakjoe commented on #13
I spotted another bug in copy code ...

[2019-02-27 07:45] remicollet commented on #12
OK for **Resolved**

Excepted it is always the first task in **Resolving**, despite in example, this is the longer (`sleep(3`)), and should be the last to finish.

[2019-02-27 07:58] remicollet commented on #10
But you example simply submit task to next worker (each worker will execute same number of tasks), not on a free worker... the reason one I want to use select, but was bitten by bug #12

[2019-02-28 07:14] krakjoe commented on #13
I think we're good to push out a release with these fixes, when you're ready ... Changelog should just be "bugs in copying literals"

[2019-02-28 07:14] #13 closed, assigned to nobody

[2019-02-28 07:15] krakjoe commented on #10
Maybe we could add a ::busy (or some other name) method to the runtime ? But still it might result in creating a worker per task, wouldn't it ?

[2019-02-28 07:36] remicollet commented on #10
When all workers are busy, we should not create a new one, as we want a maximum number of parallel tasks, so we have to wait for 1 to be available, thus the "wait" method, but this one doesn't really work as expected for now (see "select" or "pool" behavior for files)

[2019-02-28 07:38] remicollet commented on #13
release process running

[2019-02-28 08:35] remicollet opened #14 "Incompatibility with timecop extension"
When timecop is loaded:

at the end of execution... for each thread:

[code]

And the, the process hangs

[2019-02-28 10:30] tux-rampage opened #15 "Non-blocking Future::select()?"
Is it possible to provide a non-blocking variant of the `Future`'s `select()` method?
I've got a use case for this extension within an event-based loop (ext-uv for example), which would require polling the future state in a non-blocking manner.

By now I'd do a workaround and select with a timeout of `1`. Would `0` work here as well and return immediately? If so, this issue can be closed, since no

[2019-02-28 10:36] remicollet commented on #14
issue on timecop side

[2019-02-28 10:36] #14 closed, assigned to nobody

[2019-02-28 10:50] krakjoe commented on #15
Yes.

[2019-02-28 10:50] #15 closed, assigned to nobody

[2019-02-28 14:18] tux-rampage commented on #15
Is this worth some Documentation? Do you accept contributions for the docs?

[2019-02-28 15:21] krakjoe commented on #15
Sure, it's in the manual, if you ping with a patch on edit, I'll review it ... or else if you have the karma, just do it ... I only got as far as a "skeleton" for docs, it really needs more work ... I hate xml/docbook ...

[2019-03-24 21:20] WyriHaximus opened #16 "Getting the exception thrown inside a closure"
Been trying to get the exception thrown inside the closure passed into the runtime. But the resulting `parallel\Exception` contains no reference in `getPrevious` to it, was expecting it to be that way:

[code]

[2019-03-25 06:39] krakjoe opened #17 "Release v0.8.3"
Changelog

  - Fix potential race condition for state on Future::value (where an exception was thrown)
  - Better compatibility with JIT

I think this can be pushed out as soon as your QA passes, the out of date travis builds are not effecting us here.

[2019-03-25 06:41] krakjoe commented on #16
The problem is that the exception is an object that was created in another thread - you can't access it from the parent. We could attempt to "save" some of the information from the exception in the child thread for retrieval in the parent, but saving the whole stack is pretty much out of the question (unreasonable).

I'll find some time to work on it, maybe today ...

[2019-03-25 06:47] krakjoe commented on #6
I don't object to adding a docker section to the readme, however, that current dockerfile creates a snapshot build, and there doesn't seem to be a way to run the latest release ...

If you are willing to setup a versioned docker image with the latest release, and a snapshot, and prepare a PR for the readme, I'd be happy to merge it.

[2019-03-25 08:06] remicollet commented on #17
Working on it

[2019-03-25 09:22] remicollet commented on #17
Usual local QA build done
* Fedora 27-30, RHEL 6-8
* i386, x86_64
* PHP 7.1, 7.2 and 7.3

Windows build also ready.

[2019-03-25 09:22] #17 closed, assigned to remicollet

[2019-03-25 09:37] krakjoe commented on #17
Thanks @remicollet :)

[2019-03-25 12:41] WyriHaximus commented on #16
Ah yes of course! Can work around that with [`wyrihaximus/json-throwable`](https://github.com/WyriHaximus/php-json-throwable) for the bigger projects. Having the message, line, file, code, and previous would be great. Having a (sanitized) trace would be even better but if this would be causing to much issues in this extension I'll have to do without.

[2019-03-25 13:39] WyriHaximus commented on #16
Just a random idea but you could require exceptions to implement an interface to ensure safe transfer between threads.

[2019-03-25 13:42] krakjoe commented on #16
To transfer an object from another thread is illegal in php, no matter the interface ... *share nothing* ...

It must be copied out of the context that created it, and into the context that wants to use it ... that's the only way ...

[2019-03-25 14:06] WyriHaximus commented on #16
True and not trying to achieve that, but what I meant is that the interface could represent a safely serializable exception that can be put back together on the main thread side again by transferring as scalars.

[2019-03-25 14:09] krakjoe commented on #16
Well an exception cannot know what is on the stack that generated it at the time of construction - and it's the trace that may have non-serializable variables on the stack .... To just copy everything but the trace we don't need any special interface, the problem arises when we try to copy the stack for the trace, and it contains non-serializable variables ...

[2019-03-25 14:13] WyriHaximus commented on #16
What about stripping anything non-scalar from the trace? Just thinking out loud here :)

[2019-03-25 14:18] krakjoe commented on #16
That's the kind of thing I'm thinking about doing, but not just stripping - if there's an array in the trace you want to know how many elements it had, if there's an object, you want to know it's class, and possibly it's handle number ... this is the sort of thing I'm thinking of doing, and then re-implementing getTraceAsString probably ...

I haven't had time to actually do anything today, it'll

[2019-03-25 14:23] WyriHaximus commented on #16
Awesome! Take your time, as always I rather wait longer and get something done well then get it soon and less polished :).

I'm also still working on automatic docker image building with this extension and several others in it.

[2019-03-27 09:41] gleb-shchavlev opened #18 "Build with remi php-zts"
Hello!

Install instruction (https://github.com/krakjoe/parallel/blob/develop/INSTALL.md#installation) is not correct.

I have CentOS 7 with remi php-cli build.

[code]

I got an error:

[code]

Correct way is:

[code]

Would you change documentation to clarify the moment?

[2019-03-27 09:48] gleb-shchavlev opened #19 "Test FAIL parallel auto globals [tests/base/042.phpt]"
Hello!

FAIL parallel auto globals [tests/base/042.phpt] test fail after:
[code]

[php_test_results_20190327_1242.txt](https://github.com/krakjoe/parallel/files/3012516/php_test_results_20190327_1242.txt)

[2019-03-27 09:52] remicollet commented on #18
So, you don't need to build "parallel", simply

`yum install php-pecl-parallel`

;)

BTW, instruction are general ones, cannot take care of all downstream specificities....

[2019-03-27 09:53] #18 closed, assigned to remicollet

[2019-03-27 10:01] krakjoe commented on #19
Your configuration breaks the test, presumably a template based off php.ini-development, which inexplicably does not register ENV:

    variables_order => GPCS => GPCS

I've fixed the test to force an expected variables_order, rest assured, nothing is actually broken ;)

[2019-03-27 10:01] #19 closed, assigned to nobody

[2019-03-27 17:36] krakjoe commented on #16
I've started to work on this ... and then I had an idea ... still working on it ...

[2019-03-27 22:00] WyriHaximus commented on #16
:tada: ! Looking forward to it, and let me know when there is something to test

[2019-03-29 01:37] Sarke opened #20 "Blocking when reusing or unsetting variable for Runtime"
Script to replicate:

[code]

When run with option 0, it's not run in parallel, with one child process doing the work, and the next one sleeping/waiting:

[code]

When run with option 1 (unsetting `$runtime`), same as above, but no longer shows a waiting process:

[code]

When run with option 2 (storing all the runtimes in an array), works as expected in parallel and much faster:

[code]

I'm assu

[2019-03-29 19:40] ghost commented on #16
FYI I've been exporting exceptions within PHP pthreads to the main thread by replacing any object with `Object(class_name)#object_id`. Arrays are per-se fine to serialize as long as its elements are non-objects.

https://github.com/CharlotteDunois/Phoebe/blob/550d46e83947b81c00180dd41dc802b0e5afe693/src/Message.php#L206-L216

[2019-03-29 19:49] krakjoe commented on #20
This is expected behaviour ... options 0 and 1 are simply incorrect usage.

[2019-03-29 19:49] #20 closed, assigned to nobody

[2019-03-29 20:10] Sarke commented on #20
Ok, but how about my two other suggestions?

1. Unsetting should stop and free up the thread?
2. Raising an `E_NOTICE` when reusing a variable containing a running thread?

Also, I think it might be expected if you know the inner working, but simply changing the name of a variable would have a drastic impact on how the script performs.  And it might not be obvious unless you watch the threads eith

[2019-03-29 20:12] dktapps commented on #16
The only time I've ever had trouble serializing exceptions are when `Threaded` objects appeared in the stack trace, which isn't a problem in parallel.

[2019-03-29 20:38] krakjoe commented on #20
That *is* what you are seeing, but, before it can stop and so free the thread, it waits for the work you started to be completed. The alternative, which you suggest, would mean that every time you run() something, you would be forced to return a value (Future) so that you could detect when it was finished, because if you didn't, the runtime may be killed by normal scoping rules of PHP.

This is to

[2019-03-29 20:41] krakjoe commented on #16
@dktapps That's only by chance, and because of the specific nature of the code you are running, there are even core objects (like generators and closures) that cannot be serialized.

I don't intend to serialize anything in parallel, just to be clear ...

[2019-03-29 21:56] Sarke commented on #20
Ok, then this would be an even better example of how I think this is not behavior that one would expect.  But as you say, it's intended.

This is blocking and synchronous:

[code]

I mean, if this is how it is then that's fine I guess, and I think once a library evolves around it with an event loop or pool manager it will be unlikely that these issues crop up.  But for simple testing script it can

[2019-03-29 22:24] dktapps commented on #16
that's good, serialize was an awful hack.

[2019-03-30 01:12] Sarke commented on #20
Perhaps a separate no-return fire-and-forget Runtime class would be useful.  If there is no return value there is no reason to block at any point.

[2019-03-31 19:00] WyriHaximus commented on #16
Hear hear!

[2019-04-05 13:26] krakjoe opened #21 "Channels"
We need bi-directional communication between threads ... we need channels ...

TODO:
  - [x] select - implemented in Group
  - [x] tests for edges
  - [x] ~~return false~~ throw when send()/recv() on closed
  - [ ] not sure if timeouts make sense on recv()/send()

Started at cf2c909a9e5ba8c8b9590c7eee3cecd31ccd5317

[2019-04-06 09:28] krakjoe opened #22 "Review literal copying logic"
I can see memory errors when ze deals with literals that parallel copied ... I'll review all of that ...

[2019-04-06 09:58] WyriHaximus commented on #21
~~So let me get this right, send()/recv() assume both sides of the channel are calling the oppside method to exchange data since the channel is unbuffered? So the calls are blocking?~~ IMHO timeouts make sense on `recv()` so non-blocking communication is possible given there is no way to check if there is something in the buffered channel buffer.

[2019-04-06 10:19] #22 closed, assigned to nobody

[2019-04-06 10:27] dktapps commented on #21
I've never been a fan of false returns on error cases. Just my two cents on 3).

[2019-04-07 07:51] beberlei opened #23 "Differentiate between return void and return value in parallel closures"
[code]

Throws the error: `Uncaught Error: return on line 2 of entry point ignored by caller, caller must retain reference to Future`.

I think this should only happen if `return <value>` is used, notably `return null; return 0; return $value;`

Not sure if its possible to detect this but maybe the rules for the exception could be:

- don't throw exception if there are 0 return statements
- don't

[2019-04-07 07:58] krakjoe commented on #21
@dktapps ack, we throw `\parallel\Channel\Closed` when performing operation on closed channel ...

[2019-04-07 08:14] krakjoe commented on #23
The problem here is that you can't tell the difference (in opcodes) between `return;` and `return null;` ...

The only option we have then is to treat those two the same, which means a future could never have a (constant) `null` value ...

[2019-04-07 08:52] beberlei opened #24 "Pass environment/context variables to runtime"
When you want to pass on environment information from the main thread to the parallel runtime, then this is currently only possible as arguments to `run()`.

What if we could pass environment/context variables to the runtime? This would help for instrumentation (my use case) but in general any thing where the parent needs to pass more high level data.

[code]

Current workaround is `putenv()` with

[2019-04-07 09:01] beberlei commented on #21
@krakjoe for select, could this be implemented using a "composite" channel?

[code]

[2019-04-07 11:24] krakjoe commented on #23
I got a better idea ...

d670d64eb36cb3e6ad81954af57d87db5f840a54

You can use `\parallel\Runtime::yield(false);` to return control without rescheduling the current task ...

[2019-04-07 11:24] #23 closed, assigned to nobody

[2019-04-07 11:34] krakjoe commented on #24
I can't see any advantage in that.

In addition, I see one very big disadvantage: We definitely do not want to encourage people to think of the environment as per thread, it is not per thread it is per process. In exposing methods to manipulate the environment of a specific thread, we are communicating that each thread has it's own environment ... it really doesn't, nor can we give it it's own env

[2019-04-07 11:34] #24 closed, assigned to nobody

[2019-04-07 11:51] krakjoe opened #25 "Co-Op"
I've implemented the beginnings of coop ...

Notes:

Co-Op in parallel allows you to effectively achieve 1:N threading, by yielding to the scheduler and allowing it to run any waiting tasks on the stack, optionally re-scheduling the current task.

I've chosen the method name yield, but it may not be a good name: yield in PHP means a very specific thing today, and yielding to the scheduler is somew

[2019-04-10 06:16] krakjoe commented on #16
Just to update this ... since we switched to using native frames, and implementing a lower level executor, we can now intercept exceptions without installing hooks or overriding instructions (which may not be forward compatible with jit) ...

I'm working on other (what I think are) more important things at the moment ... but this isn't forgotten about ...

[2019-04-11 17:24] trowski commented on #21
Something compatible with `stream_select` would be needed to be non-blocking.

[2019-04-11 20:14] WyriHaximus commented on #21
That's what I'm hoping/aiming for. Already have it working for just the run method, but hoping channels will get a non-blocking way to check if there is a message in the buffer.

[2019-04-12 05:35] krakjoe commented on #21
The select API's you are used too don't seem to fit here: Normally when you select for read/write, the select call returns when the socket is ready, but we can't do that, if an unbuffered channel is ready to send, we have to send the data while we retain a lock (same for recv - we have to recv immediately), because if we return to user land (having necessarily released the lock) to perform the wri

[2019-04-12 16:21] ghost commented on #25
Do you think it makes sense to make this part of the parallel extension? There is ext-async which already provides task scheduling and async parts (e.g. file I/O) for single-threaded PHP.

IMO it makes sense to work together with martinschroeder to make ext-async compatible with ext-parallel (I didn't try ext-async with ext-parallel yet), as ext-async already provides powerful features and reimple

[2019-04-12 19:11] krakjoe commented on #25
Yes, clearly :)

(EDIT: I meant, "clearly I think it makes sense because I'm spending time on it", not "clearly it makes sense because it so obviously makes sense" ...)

There are many projects that do the same ... to be absolutely clear, the aim here is not to introduce a new standard or render obsolete any of those projects, but to enable that kind of project to interact with the scheduler for p

[2019-04-16 05:37] krakjoe commented on #25
@trowski @kelunik @bwoebi can I get some input from you guys here please ?

I wanted originally to use built in generator for yielding, just restoring the functionality for the top most context (the function that is passed to ::run) ... but the built in generator very much wants to yield to an outer context that doesn't exist, and I don't seem to be able to intercept (even with setting user opcode

[2019-04-16 07:00] ghost commented on #21
A timeout for `recv` is needed, so at least that we can perform a receive on the channel buffer without blocking the thread for too long. Select API would be very useful, but not possible due to the locking process you described, so at least we should be able to specify a timeout.

[2019-04-16 10:29] kelunik commented on #25
@krakjoe Your example doesn't make much sense to me that way. It works with exactly two threads, but if there's a third one, which one will receive the values?

I don't think we need `Runtime::yield()`. `ext-async` will take care of green threads, while `ext-parallel` should focus on "real" threads, IMO.

[2019-04-16 17:26] krakjoe commented on #25
Hmm ... tasks that assign the result of yield() to a value receive the last value passed as the first argument of yield() ... that seemed to make sense, no ?

I'm not wedded to the idea of yielding values at all, you can use a channel to pass values, but yielding doesn't have the object/resource restrictions that channels have ...

If the values don't or can't make sense, what about just yielding

[2019-04-17 07:42] krakjoe commented on #25
I've dropped coop from the develop branch for now and moved it into it's own branch ... I'll await feedback from more people who would actually be using it and go back to channels for now, as that seems more important ...

[2019-04-18 21:38] krakjoe commented on #21
I came up with a select API for Channel and Future, in Events ...

[2019-04-19 07:35] krakjoe opened #26 "Drop Future::value(int $timeout) in favour of Events ?"
With the addition of Events API, I managed to drop a couple of methods from Future since it replaced Future::select.

I'd like to go further and drop the timeout variation of value from Future: It would be better to have fewer methods on Future, and it would be better to keep working with timeouts in Events only.

It's obviously a(nother) nasty BC break, but I care less about that right now than s

[2019-04-19 07:37] krakjoe commented on #26
/cc @dktapps @kelunik @trowski @CharlotteDunois @WyriHaximus @beberlei #21

[2019-04-19 07:43] krakjoe opened #27 "Channels send/recv with timeout ?"
In #21 I said that I wanted recv/send to have a timeout parameter ... I changed my mind, I think.

In go, timeouts are only handled by select {}, and in parallel they can be handled by Events in the same sort of way ... it seems superfluous to have API's that do the same thing ...

Can anyone think of a use case that could not be implemented with Events ?

/cc @everyone #26

[2019-04-19 07:46] krakjoe commented on #21
Closing this in favour of discussing the remaining things in separate issues ...

[2019-04-19 07:46] #21 closed, assigned to nobody

[2019-04-23 06:53] krakjoe opened #28 "Exceptions"
Exceptions are a bit of a mess, with a couple of specialized types. and the rest general `parallel\Exception`.

I'm not a fan of specialized exceptions, however, since you are likely to have state that needs to be carefully managed in the case of failures, I'm going to introduce specialized exceptions for all errors.

This is just a heads up to readers reading ...

Todo:

- [x] Runtime
- [x] Futur

[2019-04-23 10:27] krakjoe commented on #26
Since I hear no objections, I went ahead and removed the timeout variation ...

[2019-04-23 10:27] #26 closed, assigned to nobody

[2019-04-23 10:28] krakjoe commented on #27
Since I hear no arguments in favor, we're going to deal with timeouts in the event loop only ...

[2019-04-23 10:28] #27 closed, assigned to nobody

[2019-04-23 11:16] WyriHaximus commented on #26
Finally had some time and fun with events this morning and the `parallel\Events:setTimeout` is very useful for my use case. So no objections from my

[2019-04-24 06:31] krakjoe commented on #28
I found quite a few gotchas while doing this ... it's now complete ...

  - \parallel
    - \parallel\Error
    - \parallel\Error\InvalidArguments
  - \parallel\Runtime
    - \parallel\Runtime\Error
    - \parallel\Runtime\Error\Bootstrap
    - \parallel\Runtime\Error\Closed
    - \parallel\Runtime\Error\IllegalFunction
    - \parallel\Runtime\Error\IllegalInstruction
    - \parallel\Runtime\Error

[2019-04-24 06:32] #28 closed, assigned to nobody

[2019-04-24 06:33] krakjoe commented on #25
It would be nice to hear other peoples thoughts on this too ... ping @everyone

[2019-04-24 07:02] krakjoe commented on #10
That background logger with Channels ...

[code]

I'm pretty sure we are ready to start working on examples ... the events thing is going to take some explaining ...

[2019-04-24 07:12] krakjoe commented on #6
If you find the time for this, open another issue :)

[2019-04-24 07:12] #6 closed, assigned to nobody

[2019-04-24 07:27] krakjoe commented on #10
That runner thing, with Events:

[code]

That's just one worker, so it's clear, but you can extend it with more workers ...

[2019-04-24 08:26] dktapps commented on #10
~~@krakjoe won't the logger example need an exception catch when the channel is closed?~~

never mind, I did not see your destructor. Seems like it could have problems if an empty string is pushed into the channel though.

[2019-04-25 06:36] krakjoe commented on #16
I'm on this now ... but came across a bug in copying code, I need to deal with strings better ... wip ...

My current implementation turns Future into a container for uncaught exceptions and future values, it changes the rules a little - you can't ignore throw() from the task (must retain a future) ...

What I'm not sure of, is do we want methods on Future to access the exception (isError/getError

[2019-04-25 06:50] ghost commented on #25
I have tested using `ext-parallel` together with `ext-async` and it works to some degree. One can use threads to run multiple event loops (async task schedulers that is) within the same PHP process and it works just fine. The problem (from an `async` or non-blocking point of view) is not related to threads (as they just work) but to the integration of futures and channels. They need to block a thr

[2019-04-25 07:07] dktapps commented on #16
Given the way Future::select() works, I think it would be cleaner to have a getError().

[2019-04-25 07:36] WyriHaximus commented on #16
IMHO Making `Future::value()` throw the uncaught exception makes sense and feels most natural workflow wise. Because either you have your happy flow inside the try and your failureflow inside the catch

[2019-04-25 07:45] WyriHaximus opened #29 "Trying to get get multiple values from a channel"
Loving the channels so far, and been trying to get values from them non-blocking in the main thread. But for some reason I only get the first value. Any points on what I'm missing/doing wrong?

[code]

[2019-04-25 08:16] krakjoe commented on #16
@dktapps there is no Future::select anymore :)

[2019-04-25 08:39] dktapps commented on #16
Oops, I have some catching up to do apparently ...
I think it's probably not difficult to have both, right?

[2019-04-25 08:49] dktapps opened #30 "Behavioural inconsistency with normal classes on wrong argument types"
Normal typehinted methods will throw `\TypeError` when wrong types are passed to them. parallel is currently throwing its own baked exception, which seems strange to me. It seems like it would be less work to use `ZEND_PARSE_PARAMS_THROW` instead? Am I missing some obvious reason why this is different?

[2019-04-25 08:50] krakjoe commented on #29
[code]

This is wrong, Input should only contain that which you wish to send(), and values that you can send() (that should throw, I'll fix that) ...

[code]

Not necessary, any $event in that scope is instanceof Event.

[code]

Should be Events\Error\Timeout

Event::$object is removed from Events when the Event is emitted.

Here's some simple example code, maybe understand better ...

[code]

The

[2019-04-25 09:21] WyriHaximus commented on #16
The readme is the first thing I check after a new build in the morning to be sure I'm still up to date giving the high change rate on this so far awesome extension

[2019-04-25 10:29] krakjoe commented on #30
The whole arginfo and parsing parameters thing is a bit of a mess internally ... we can't use throw because in some cases we need to set the state of an object when the wrong arguments are used to avoid deadlocks. We can't use arginfo because when you use arginfo for internal functions it is used to verify types - PHP_METHOD will never be entered if that verification does not pass.

On top of the

[2019-04-25 10:46] krakjoe commented on #16
@dktapps

Events is far superior to select() ... just another small learning curve, but when you've learned how it works, you won't be wanting for select anymore ...

@WyriHaximus

I'm sorry about the high rate of change, but I'm pretty determined to get it right this time, and I'd rather break stuff now, than be stuck with the results of bad decisions in the years to come ...

It won't be long no

[2019-04-25 11:00] dktapps commented on #16
@krakjoe I was referring to throw / getError(), it's not difficult to have both of those, right?

[2019-04-25 11:06] krakjoe commented on #25
Hi Martin :)

I think the answer to this problem is probably not copy pasta :)

I've looked at ext-async, but not in very great depth, except the last twenty minutes reading the threads branch ...

When you introduce threads into your async extension you complicate it almost infinitely: How do tasks in separate threads share your implementation of a Channel or any other complex type ?

Your implem

[2019-04-25 11:30] ghost commented on #25
Just a little information: Rust has "multi producer, single consumer" channels, that means the sender can be shared (cloned) with multiple threads. https://doc.rust-lang.org/1.5.0/std/sync/mpsc/index.html

However I don't think that Channels here need to do that. Simply one producer and consumer is enough in my opinion.

[2019-04-25 11:30] ghost commented on #25
Hey Joe :notes:,

i do agree with you that this is not a case for copy-paste and that threads and fibers are very different in the way they work and it is not easy (sometimes not even possible) to combine them in a reasonable way.

I was thinking a lot more "shared-nothing" here and only thought of threads to offload CPU intensive computations to a worker and grab the result without blocking the e

[2019-04-25 14:17] trowski commented on #25
+1 if possible. This would allow an immediate reaction to a thread changing state instead of checking every X milliseconds.

In `amphp/parallel` I don't use the Channel API. Instead I use sockets so they can polled by the event loop. Each socket only goes between the parent and single child, so I don't have the thread synchronization problems that Channels here do. Though I also don't have the fle

[2019-04-25 15:37] WyriHaximus commented on #29
Hah good to know

Hmm my docker image must be out of date in that case. Because it errors out with that FQCN

Thanks that example was very helpful :+1:

Yup when adding that everything streamed in :tada:

Seriously no worries! You're doing an awesome job with this extensions and I totally get that you don't want to spend to much time on the documentation when things are still subject to change. So

[2019-04-25 15:37] #29 closed, assigned to nobody

[2019-04-25 15:46] WyriHaximus commented on #16
IMHO don't be, you're doing an amazing job here and we're along for the ride

Looking forward to that :tada: . Already have a small project in production with this and currently working on updating a second to use threads instead of child processes. Can't wait to see the results of that change

Happy to help out :+1:

[2019-04-25 15:51] WyriHaximus commented on #25
That would be welcome, or alternatively a callback that gets triggered when new data comes in

[2019-04-26 07:18] krakjoe commented on #25
There is no file descriptor I could expose, nor is there a way to emulate a file descriptor (that I'm aware of).

[2019-04-26 07:47] dktapps commented on #25
what about eventfd() ?

[2019-04-26 08:00] ghost commented on #25
For Windows the event objects can probably be used (they're compatible with the win32 implementation of PHP's `select` (`WaitForMultipleObjects`)). <https://docs.microsoft.com/en-us/windows/desktop/sync/event-objects>

[2019-04-27 04:56] krakjoe commented on #16
Implemented in 1485ffd8bda64d93756d8cadb50a078003c0c269

Where Future::value() is called uncaught exceptions shall be rethrown in the calling context, where an exception is of a class that the calling context does not have loaded a \parallel\Future\Error\Foreign exception will be thrown.

Where Events are used, the read event for a Future that would rethrow will have Event::$value instanceof Throw

[2019-04-27 04:56] #16 closed, assigned to nobody

[2019-04-27 07:08] krakjoe commented on #25
Even so, exposing an emulated file descriptor won't do it, you cannot write to channels in an unsafe loop ...

Some thought dumps ...

I guess it's just not clear to me what we're actually trying to achieve here ... the "co-op" support I talked about here was just "give tasks ability to cooperate with scheduler in parallel", and now we're talking about integrating with event loops, but in order to

[2019-04-27 13:40] ghost commented on #25
Here are some of my thoughts on this (unfortunately off-topic as well in terms of what you meant by "co-op"). The basic idea i had was that it night be possible to do something like this:
[code]
Now assuming that "poll fd" becomes readable whenever one of the input values has been consumed by a channel or a value was read from a channel this would integrate nicely with an application based on an e

[2019-04-29 13:36] krakjoe opened #31 "Release 0.9.0"
Upcoming release contains:

  - Channels: bi-directional communication between tasks and runtimes
  - Improvements to copying making it vastly more efficient
  - Improvements to runtime stack, making it more efficient
  - Tasks may use lexical scope
  - Events - an experimental, quite primitive event loop for reading/writing sets of channels and futures
  - Support for rethrowing exceptions uncaug

[2019-04-29 18:25] krakjoe opened #32 "Objects"
I've started to work on this, in a branch ... I've come up with a way to copy objects that works safely for pure user objects.

I was going to try to introduce support for internal, or internal derived objects, however, for this to work properly, we need an additional internal handler for objects; Should parallel ever be merged, we can talk about adding that and implementing the necessary handlers

[2019-04-30 07:56] krakjoe commented on #32
This morning I'm not even sure I like this approach ...

Some questions ...

How important is object support to everyone else ?
If it is important, what kind of support do you want for user objects ?
Should we leave object support for later, when we may be able to introduce superior support in core ?

[2019-04-30 09:20] dktapps commented on #32
I think that supporting user object without supporting pure internal objects is going to be a confusing inconsistency that should be avoided.

parallel is shaping up to look good so far, and it would be a bad idea imho if developers were forced to use strange hacks to get inconsistent behaviour like this to work the way they desire.

[2019-04-30 09:23] dktapps commented on #32
As far as shared objects go, I see two approaches:
1) copy everything (why not just pass a serialized object to your closure at this point?)
2) The devil of pthreads `Threaded` objects (only these are true shared, everything else must then use approach (1) :/)

Neither of these approaches are without cognitive pain, so I think it's best left alone until it's possible to provide a fully consistent

[2019-04-30 10:01] krakjoe commented on #32
The more I think about it, the less I like it ... I think we probably will just wait for more support from core. An unbuffered channel at the moment is the fastest it has ever been possible to share data between threads, or processes, and objects can't get close to that until we have more core support ...

[2019-04-30 12:53] krakjoe commented on #30
I decided I didn't like my excuses for the difference, and I'm not in the mood to take any of my nonsense, so I fixed it ...

We're now unified with internals with arginfo everywhere and TypeError for all bad calls ...

It's still the case that you might have state to manage, so specialised exceptions make sense for the reasons I gave, but it doesn't make sense to diverge from internals in the cas

[2019-04-30 12:53] krakjoe commented on #30
Fixed in cdc4f5d1a75e13d3562b7f2e8530e2e35d5b66f6

[2019-04-30 12:53] #30 closed, assigned to nobody

[2019-04-30 12:56] dktapps commented on #30
Yup, fully agreed. Thanks.

[2019-05-02 15:36] WyriHaximus commented on #32
@krakjoe Honestly don't add it if it doesn't make sense, or would compromise the integrity/stability of this extension IMHO

[2019-05-02 17:56] krakjoe commented on #32
I'll just lay out my initial justification for doing the pure user object support ...

You can send a shape over a channel or back from a task with an array, however, it has to be copied as an array, key's, values, and buckets all add to the overhead of that operation. A pure user object has no keys (because they are contained in class definition, and ever present if (pre)loaded), it's extremely f

[2019-05-03 07:35] krakjoe commented on #31
I've started work on documentation changes, they should be complete today ...

over to you @remicollet  :)

[2019-05-04 05:03] krakjoe commented on #31
docs servers have updated, so I removed the stubs from the readme now to make it a bit shorter ... don't know if it's too short, maybe we could move the install.md stuff back into readme.md ?

[2019-05-04 05:36] krakjoe commented on #10
I've completed the manual for 0.9.0, I didn't add examples yet, but did add explanations for everything I think needs explaining ...

I'm going to close this now as the manual is in pretty good shape, even without examples ...

I don't object to adding some code examples to the manual, maybe we could have a section for that ... if anyone wants to find the time to do that, open a new issue so the e

[2019-05-04 05:36] #10 closed, assigned to nobody

[2019-05-04 08:00] dktapps commented on #31
readme looks good to me.

[2019-05-05 07:54] WyriHaximus commented on #31
Yup readme is fine 👍

[2019-05-05 09:34] krakjoe commented on #31
The documentation is missing information about sharing closures ... because I was so excited to write it ... I'll do it today ...

I know we decided not to go for objects, but the ability to share a closure was much too appealing, they aren't really objects anyway, they just look like objects ... we have the ability to share functions so we should use it to the full, sharing closures allows some r

[2019-05-05 10:35] dktapps commented on #31
how does the performance of closures compare to, for example, copying strings? right now in RakLib I use a string message channel to communicate messages between the main and child thread, and I'd love to switch it to closures if the performance of doing so is reasonable.

in addition we had some problems with closures in pthreads once upon a time due to the caching - has this problem been account

[2019-05-05 11:02] krakjoe commented on #31
That's really hard to answer in a simple way ... the structure of a closure is 10x the size of a 0 length zend_string, so the question of what takes up more memory depends on the length of the string ... the question of what is more efficient depends on what the string does or what you do to the string (do you eval() it on the recving side for example).

In parallel, copying works very differently

[2019-05-05 15:29] krakjoe commented on #31
Hold off release until I ping again ... I want to rewrite some of what I wrote in the last two days ...

[2019-05-06 10:56] krakjoe commented on #31
@remicollet ping ... I've pushed the changes to docs that I wanted to get in and done my refactoring, everything looks pretty good to me, so over to you, for real this time :)

[2019-05-08 06:53] remicollet commented on #31
@krakjoe sorry for the delay, looks like I missed the ping. Will start the release process today

[2019-05-08 07:16] krakjoe commented on #31
@remicollet no problem, I rewrote everything a bunch of times while waiting anyway, so probably a good thing :)

ta

[2019-05-08 07:29] remicollet commented on #31
@krakjoe 7.1 build is broken, working on it

[2019-05-08 07:33] krakjoe commented on #31
7.1 is not supported, actually ZTS is not working there ... it's broken before 7.2, which I knew about (for years https://twitter.com/krakjoe/status/887743571515912196), but forgot when first writing parallel so supported it by accident ...

[2019-05-08 07:37] remicollet commented on #31
OK, so will raise minimal dependencies...

[2019-05-08 08:05] remicollet commented on #31
Released and announced
https://pecl.php.net/package-changelog.php?package=parallel

[2019-05-08 08:05] #31 closed, assigned to remicollet

[2019-05-08 08:07] krakjoe commented on #31
Thanks @remicollet  :)

[2019-05-12 08:21] krakjoe opened #33 "Release v1.0.0"
WIP to make changelog for next release ...

  - Caching improvements
  - Channel comparison (==) fixed
  - Debug handler added for Channel
  - Debug handler for Future (just shows runtime)
  - Fix copying of interned strings
  - Object support
  - Functional API for parallel\Runtime

Will assign to you when ready @remicollet :)

[2019-05-12 12:52] stefanos82 opened #34 "Question: Anyone to share any documented example please?"
I'm using Golang whenever I need concurrency and parallelism, but I would like to stick with PHP for achieving either the same results or the 85% the least of actual performance if possible.

Is there any project / example documented somewhere so I can read about it and teach myself how to use his extension extensively?

[2019-05-12 15:41] WyriHaximus commented on #34
Anything you'de looking for specifically? I've put up my PoC tests for [`react-parallel`](https://github.com/wyrihaximus/reactphp-parallel) up [here](https://gist.github.com/WyriHaximus/ef8c8d23d477a72470810ee4afd59685). Which includes a basic test, one doing json decoding (you'll need a json file for it tho), and one doing channels (made by jouw).

[2019-05-13 06:28] krakjoe commented on #34
The documentation in the manual, code in tests, and the few gists that I and others have posted is all there is right now ...

I intend to do a tutorial section in the manual, based upon a walk through of building [this](https://gist.github.com/krakjoe/0ee02b887288720d9b785c9f947f3a0a), which covers many of the topics and questions someone new to this kind of concurrency might have, unfortunately

[2019-05-13 07:14] MingliangT opened #35 "SAPI support?"
Hi @krakjoe

Thank you for writing parallel! I just can't wait to try it.

and is parallel support SAPI (php-fpm)?

Thank you.

[2019-05-13 21:52] stefanos82 commented on #34
Thank you @WyriHaximus I will have a look :+1:

[2019-05-13 21:55] stefanos82 commented on #34
In theory yes, I *should* be able to pick up rather quickly, but I haven't read https://php.net/parallel extensively to fully understand it.

I guess I need to invest more time in it.

[2019-05-14 08:08] krakjoe commented on #35
I think I'll probably refer back to this answer in the future, so it will not be short ... sorry about that ...

The reasons that pthreads was restricted to cli are many, among them:

  - no SAPI provides an API to ensure the safety of threads running within other threads, at least, they are not prepared for multiple threads to be writing to the same outputs, in both FPM and Apache this caused ran

[2019-05-14 08:08] #35 closed, assigned to nobody

[2019-05-14 08:25] dbalabka commented on #32
@krakjoe I want to share my thoughts. I might be wrong in some statements because of a lack of deep knowledge of  PHP internals.

IMO objects support is a necessary feature; otherwise, developers will start to use the standard `serialization()` and exchange values using strings to overcome such limitation. This definitely will hit performance.

It sounds great that it is possible to get better per

[2019-05-14 09:54] remicollet commented on #35
Notice: FPM is a "Process Manager", so using "fork" model, without thread usage, so usually FPM is build without ZTS support (in most distribution)

[2019-05-14 15:54] MingliangT commented on #35
Thank you so much! The way you explain is very clear :)

We running application using nginx & php-fpm. In order to reduce response time, i want to turn some serial RPCs(e.g, http, thrift, mysql) into parallel.

The sample code is as follows:

[code]

and i want to call functions(doSomeHTTP, doSomeMySQL, doSomeThrift) in parallel.

I have read [ExecutorService](https://gist.github.com/krakjoe/3c4ef

[2019-05-15 21:07] WyriHaximus opened #36 "What do the Future|Runtime errors extend"
Do they extend `\Error` or `\Exception`. Been trying to figure that out while reading `ext-parallel`/`php` C code but I'm not entire sure what the difference is `zend_ce_error_exception` and `zend_ce_exception` and `zend_ce_error`. My guess is that `zend_ce_throwable` maps to `\Throwable`, `zend_ce_error` to `\Error`. But I'm unsure about `zend_ce_error_exception` since it mentions both `error` an

[2019-05-17 07:06] krakjoe commented on #36
It was already the case that all sub namespaced errors extend from \parallel\Error, but for some reason \parallel\Error extends ErrorException not Error, this is just a mistake and has been rectified in the above commit.

Just an oversight, sorry about that ...

[2019-05-17 07:06] #36 closed, assigned to nobody

[2019-05-17 15:21] WyriHaximus commented on #36
TIL there is a `ErrorException`. Thanks for the clarification! Been working on getting `ext-parallel` [stubs into PHPStorm](https://github.com/JetBrains/phpstorm-stubs/pull/594) and this had me puzzled. Might open more issues with questions.

[2019-05-17 15:45] WyriHaximus opened #37 "Constant values of Events\Event\Type"
So I'm working on [PHPStorm stubs](https://github.com/JetBrains/phpstorm-stubs/pull/594) for this extension. Now neither can I find nor get the values from my docker image with `ext-parallel` in it for those constants. (Will look into that later.) I did find the following header file: https://github.com/krakjoe/parallel/blob/cee25ecef92904bbaeebbfff3fb098fb3d755473/src/event.h

So I'm assuming tha

[2019-05-17 15:47] krakjoe commented on #37
Yes, but their values are an implementation detail that you cannot rely on, you can only rely on their name and meaning.

[2019-05-17 15:48] WyriHaximus commented on #37
Ok so internal to `ext-parallel` only. I'll change them to `null` on the stub. Thanks again :+1:

[2019-05-17 15:49] #37 closed, assigned to nobody

[2019-05-17 16:10] dktapps commented on #36
@WyriHaximus you'd likely make better progress by auto-generating the baseline stuff. Maybe [this](https://github.com/pmmp/extension-stub-generator) might be useful to you.

[2019-05-17 18:53] WyriHaximus commented on #36
@dktapps cool thanks :+1:

[2019-05-18 05:20] krakjoe commented on #32
So, I thought long and hard about this, I spent some time reading the opinions of people who actually use go, because while I'm a little familiar with go, I do not actually use it.

The basic question is this: What kind of passing semantics do we want for variables in parallel ?

In go, everything is passed by value (although the meaning of the term value is not quite the same as it is in PHP), fo

[2019-05-18 05:20] #32 closed, assigned to nobody

[2019-05-18 05:42] krakjoe commented on #33
I think the next one may be 1.0 ...

[2019-05-18 19:20] krakjoe opened #38 "Channel Roles ?"
In go, a routine can enforce which side of a channel a routine should access, and it will throw errors when a channel accepted for recv is used for sending and vice versa ...

We could do this for tasks (I've done it already) ... it would work like this ...

[code]

Channel implements Channel\Read and Channel\Write, so you could use those types on any function parameter and it would pass, but spec

[2019-05-19 10:27] krakjoe opened #39 "Functional API"
When writing real world code, you find yourself doing new Runtime at awkward times, like [this](https://gist.github.com/krakjoe/0ee02b887288720d9b785c9f947f3a0a#file-crawler-php-L165).

Actually deciding what runtime object to use is a decision that can be made internally, so that we may just have:

[code]

I expect, that will become idiomatic parallel code ...

We will *add* the following API:

[2019-05-19 10:31] dktapps commented on #39
I'm not really sure what the point of the aliases are. They don't seem to provide any benefit vs the original statics.

what is the expected behaviour of defining a bootstrap after there are already runtimes alive?

[2019-05-19 10:34] dktapps commented on #39
another thing to note is that it's possible to import functions and this may result in some confusing looking code (PhpStorm does this for me automatically):

[code]
perhaps it might be preferable to box these inside static classes?

[2019-05-19 10:41] WyriHaximus commented on #39
How would you control the number of runtimes active? Is there a way to set a max or does it keeps spawning everything you call `run`?

[2019-05-19 10:54] WyriHaximus commented on #38
This would be nice to have for me to be honest. Will experiment with it and get back to this issue :+1:

[2019-05-19 11:54] krakjoe commented on #39
You're not going to keep typing \parallel\run, you're probably going to use an alias like

[code]

Channel methods can't be imported, and really make and open are functions that should have been in the Channel namespace but I don't want to move them.

I'm not so bothered about these, but I'm not sure why you think it strange ... should we drop them then ?

You don't, you call \parallel\run and it

[2019-05-19 12:50] dktapps commented on #39
I think the functional make() and open() are going to be confusing. It's not obvious from their names or namespace what they do. Personally I would jump to the Channel:: static methods.

[2019-05-19 12:54] krakjoe commented on #39
ack, we'll drop 'em ...

[2019-05-19 13:07] krakjoe commented on #39
@dktapps I think I'll restrict bootstrap to once per process, I think in the vast majority of cases, this will suffice, and ensures you don't have to keep calling \parallel\bootstrap depending on context ... in addition, moving forwards, I hope that the pool of threads can be process wide and not thread local, there's no technical reason we can't share the threads, I'm quite sure anyway, but need

[2019-05-19 14:04] dktapps commented on #39
That sounds reasonable enough to me.

[2019-05-19 14:34] krakjoe commented on #39
ack, commited that ... so now you can only call once per process, and if there are runtimes executing it must not be set - in reality this means that you should call it before \parallel\run, once ... nice and simple ...

[2019-05-20 07:51] krakjoe commented on #39
okay, done with this now ... thanks for input ...

[2019-05-20 07:51] #39 closed, assigned to nobody

[2019-05-20 08:30] krakjoe commented on #33
I've updated documentation for v1.0.0, it should be available in the next 24 hours ...

@remicollet over to you ... thanks :)

[2019-05-20 08:44] remicollet commented on #33
@krakjoe by 1.0.0, do you also mean "stable" ?

[2019-05-20 08:50] remicollet commented on #33
@krakjoe `tests/base/035.phpt` and `tests/events/013.phpt ` sometime hang

`tests/base/045.phpt` and `tests/base/049.phpt `segfault (with 7.2.18)

[2019-05-20 09:50] krakjoe commented on #33
grrr ...

it's pthread cancel stuff, I'll take a look ... I can't reproduce crashes but can see errors in drd ...

[2019-05-20 09:51] remicollet commented on #33
in gdb
[code]

[2019-05-20 09:56] krakjoe commented on #33
That sig32 is just the cancel signal, you can continue past that ...

[2019-05-20 10:00] remicollet commented on #33
Yes, but it is reported as failed, with `termsig=11`

[2019-05-20 10:07] remicollet commented on #33
From the core file for tests/base/045

[code]

P.S. same bactrace with tests/base/049

[2019-05-20 10:25] krakjoe commented on #33
Digging at the docs just now, we can't actually use pthread_cancel safely ... so reverting those changes ... /cc @trowski, you can't lock any mutex without pushing the unlock routine onto the cleanup stack, and you can only push and pop within a function, since we have functions that just lock and others that just unlock, it's not possible to use it ...

[2019-05-20 10:36] krakjoe commented on #33
@remicollet  I've reverted that stuff, waiting for ci now, no more memory errors with vg on those tests ...

[2019-05-20 10:40] remicollet commented on #33
Test suite passes now.

[2019-05-20 11:53] remicollet commented on #33
Tagged, Released and Announced

[2019-05-20 11:53] #33 closed, assigned to remicollet

[2019-05-20 11:59] krakjoe commented on #33
Thanks remi

On Mon, 20 May 2019, 13:53 Remi Collet, <notifications@github.com> wrote:

[2019-05-20 17:03] dktapps opened #40 "\parallel\Runtime\Class\Unavailable unusable"
[code]
[code]
It seems PHP isn't a fan of `Class` in the class FQN.

[2019-05-20 19:39] dktapps opened #41 "Unable to recv remaining contents of buffered channel after closing"
[code]
The recv() call will throw an exception even though there are values in the buffer to read.

In golang, close()ing a buffered channel only prevents sending further values into it, it does not prevent reading ("draining"). I expected to be able to drain a buffered channel before encountering exceptions. https://play.golang.org/p/ot87ro27tFk

[2019-05-20 20:19] #41 closed, assigned to nobody

[2019-05-20 20:20] krakjoe commented on #40
Can you think of a case where you would need to reference the name of that class in code ? Typically, it will just cause your code to throw a type error at some point, right ? You're not going to be hinting for it, or otherwise referencing it in code ... I think ?

[2019-05-20 22:07] WyriHaximus commented on #39
Ok cool so essentially sugar around the OOP API. Really like that, while I myself don't have a usecase directly for that I'm pretty sure it will come in handy along the way 👍

[2019-05-20 23:28] dktapps commented on #40
The problem manifested when I generated IDE stubs for the extension. It has trouble with them because `Class` isn't allowed in a class FQN, so the stub syntax becomes invalid. It's possible to delete such entries, but it's not hugely convenient.

[2019-05-20 23:30] dktapps commented on #39
It's awesome for quickly scripting things. It makes threading things in quick scripts effortless.

[2019-05-21 04:55] #40 closed, assigned to nobody

[2019-05-21 05:29] krakjoe opened #42 "\parallel\run scheduling on wrong thread"
When I reverted cancellation merge before release, I broke the scheduling of parallel\run.

[2019-05-21 05:29] krakjoe commented on #42
Fixed in 91049d2b25eae8c819d2472c391c3e7cfc3f182c

[2019-05-21 05:29] #42 closed, assigned to nobody

[2019-05-21 05:29] krakjoe opened #43 "Release v1.0.1"
- Fix #42 \parallel\run will choose wrong thread for scheduling
 - Fix #41 buffered channel could not be drained after close
 - Fix #40 class in FQN stops stubs being generated

[2019-05-21 05:30] krakjoe commented on #43
Morning @remicollet, could you push this one out when you have a moment please ... 42 is nasty

EDIT: hold up until I ping again, I found something else ...

[2019-05-21 06:18] krakjoe commented on #38
I broke the build at some point in the last couple of days ... I rebased on develop if you want to try having a play ...

Just to give my opinion on this ... I think the ability to choose a side is valuable, and the magic cast behaviour is cool and seems useful. But, magic is bad, and I would really like if the behaviour was the same everywhere, and we can't do the magic for normal closures/functi

[2019-05-21 07:11] remicollet commented on #43
ok waiting (please don't edit your comment, create a new one, else notification is not sent)

[2019-05-21 07:37] krakjoe commented on #43
ack, will be sure to do that in future ...

[2019-05-21 08:04] krakjoe commented on #43
just waiting for ci on those last few commits ... I think we should be good to go if your ci is also green ...

[2019-05-21 08:16] remicollet commented on #43
Running test build now

[2019-05-21 08:30] remicollet commented on #43
Test build ok:
* Fedora 27 to 30
* RHEL 6 to 7
* PHP 7.2, 7.3
* i386 and x86_64

Tagged and announced

[2019-05-21 08:30] #43 closed, assigned to remicollet

[2019-05-21 12:39] dktapps opened #44 "A way to get thread ID"
[`zend_thread_id()`](https://www.php.net/manual/en/function.zend-thread-id.php) isn't available unless PHP was compiled in debug mode, so it isn't suitable for most practical use cases.

It would be nice to have API similar to pthreads' `Thread::getCurrentThreadId()` (and perhaps `Thread->getThreadId()`).

[2019-05-21 12:46] dktapps opened #45 "Crash on `new Channel()`"
[code]
causes a segfault.

This was auto-completed for me by an IDE using stubs I generated from the extension. It would probably be wise to mark the `Channel` constructor as private so this problem can't occur.

[2019-05-21 13:31] krakjoe commented on #45
Ah, I'm not sure that solves the problem for you, does it, or will it still try to generate the same code ? Is the same true of Future ?

[2019-05-21 13:54] dktapps commented on #45
I imagine it would do the same thing. For generation purposes I think it would be best to mark it with ZEND_ACC_PRIVATE.

[2019-05-21 14:01] dktapps commented on #45
the stub in question for posterity: https://gist.github.com/dktapps/ccb2dc0eaec279d98fa112121da6a9c0

ofc in any cases where a constructor is entirely missing, it's assumed to be public with 0 args.

[2019-05-21 14:13] krakjoe commented on #45
Let me think about it, it's a bit odd for Future and Channel to have different behaviours ...

[2019-05-21 14:16] krakjoe commented on #44
I'm not very keen on this ... the reason is that it's easy enough to give your threads (or tasks) an identity that's meaningful to the application. The only identity we can provide is casting pthread_t to long, which isn't really giving you a meaningful value, the value displayed in gdb/htop/top/ps is the LWP id (system tid), and you can only get that by performing a syscall in the thread you want

[2019-05-22 07:18] krakjoe commented on #45
When you set the constructor private, the engine will output an exception saying you made an illegal call from the current context, which doesn't communicate that the constructor must not be used from any context. In the case of future, we have to throw a custom exception to set the state of the future when it's incorrectly used.

I think exceptions being meaningful is more important than their be

[2019-05-22 07:18] #45 closed, assigned to nobody

[2019-05-22 15:47] krakjoe opened #46 "Scheduler is leaking frame->func"
Another result of reverting cancellation in a rush ...

[2019-05-22 15:48] #46 closed, assigned to nobody

[2019-05-22 17:46] krakjoe opened #47 "Release v1.0.2"
- Fix #45 segfault on new Channel
- Fix #46 scheduler is leaking function allocated in frame

[2019-05-23 06:17] remicollet commented on #47
Travis is green
Local QA builds OK

Released & announced

[2019-05-23 06:17] #47 closed, assigned to remicollet

[2019-05-23 06:17] krakjoe commented on #47
Thanks @remicollet :)

[2019-05-23 14:42] dktapps opened #48 "Usefulness of channel naming"
It seems to me that channel naming is no longer useful, thanks to the ability to pass channels directly between threads with the newly implemented object support. I'm now finding myself needing ways to uniquely identify channels, which is starting to involve things like randomly generated UUIDs.

It seems to me that channel names could be dropped, along with `Channel::make()` and `Channel::open()`

[2019-05-23 15:35] krakjoe commented on #48
I had thought about dropping make/open and the ability to reference a channel by name. My thinking is this:

  - They are no more difficult to name than the variables which represent them
  - It offers more possibilities of integration, if you document "do X by sending Y to channel Z", all the integrator needs is the name of a channel, it doesn't necessarily need to be passed the dependency ... in

[2019-05-23 16:02] dktapps commented on #48
As far as your first point goes, in a complex program it starts to become necessary to think about channel name collisions so that you don't open the wrong thing by mistake. Channel names are truly global, so this means libraries have to take extra care to declare appropriate identifiers to avoid collisions -> reinventing namespaces. In my opinion this is an unnecessary burden.

My personal though

[2019-05-25 06:29] krakjoe commented on #48
Anyone else got any input here ?

[2019-05-26 18:32] krakjoe opened #49 "Closure statics in cache memory"
When we cache closures we must not allocate statics in cache memory, they may contain objects.

[2019-05-26 18:33] krakjoe opened #50 "Persistent reference memory leaks"
Persistent references don't have ref counts set and so leak

[2019-05-26 18:33] krakjoe opened #51 "Sometimes kill/cancel may crash"
Found when running amp/parallel test suite.

[2019-05-26 18:34] krakjoe commented on #51
Fixed in
36fdfa2c26ac03c3f4103a91a447727611bdc746

[2019-05-26 18:34] #51 closed, assigned to nobody

[2019-05-26 18:34] krakjoe commented on #49
Fixed in 17463ab99739695563397a0fbdbe587d04cbc7f0

[2019-05-26 18:34] #49 closed, assigned to nobody

[2019-05-26 18:34] krakjoe commented on #50
e0f562055e9d073887aeb026ce04f70bcf759b54

[2019-05-26 18:34] #50 closed, assigned to nobody

[2019-05-26 18:35] krakjoe opened #52 "Persistent objects have incorrect refcount"
Persistent objects don't have the correct refcount, while this isn't making any difference today, in preparation for work on references they must have the correct count. It also helps while debugging if refcounts are sensible.

[2019-05-26 18:35] krakjoe commented on #52
Fixed in 98462b52396d12b6c3b9c2debbc9a44e96435bc2

[2019-05-26 18:35] #52 closed, assigned to nobody

[2019-05-26 18:37] krakjoe opened #53 "Release v1.0.3"
- Fix #49
 - Fix #50
 - Fix #51
 - Fix #52

over to you @remicollet, thanks :)

[2019-05-26 20:14] TheTechsTech commented on #25
Have you ever reviewed **Nikita Popov** [Cooperative multitasking using coroutines (in PHP!)](https://nikic.github.io/2012/12/22/Cooperative-multitasking-using-coroutines-in-PHP.html).

You might see that he show it to be an different opinion. I released something similar to what's here that works in userland, with no extensions, https://symplely.github.io/coroutine/.

I'm hoping to see some examp

[2019-05-27 05:13] remicollet commented on #53
* Fix #49 closure statics in cache memory
* Fix #50 persistent reference memory leaks
* Fix #51 sometimes kill/cancel may crash
* Fix #52 persistent objects have incorrect refcount

[2019-05-27 05:19] krakjoe commented on #25
Internals doesn't have anything to do with parallel, it's not an official extension ...

That seems wildly inaccurate.

There are no *unnecessary* restrictions or limits, the restrictions that do exist, exist to keep code safe.

For the moment, I don't intend to provide lower level integration for fibers, coroutines, or any other kind of asynchronous processing. parallel and asynchronous concurren

[2019-05-27 05:19] #25 closed, assigned to nobody

[2019-05-27 05:22] krakjoe commented on #53
I thought it looked empty :D

[2019-05-27 05:37] remicollet commented on #53
travis OK
local QA builds OK

Tagged and annoucement

[2019-05-27 05:37] #53 closed, assigned to remicollet

[2019-05-27 05:37] krakjoe commented on #53
Thanks @remicollet, much appreciated ...

PS. sorry for all the work first thing on Monday morning, busy weekend for me :)

[2019-05-27 12:16] remicollet commented on #53
You should bless my employer which allow me to work on upstream project ;)

[2019-05-27 13:52] krakjoe commented on #53
Maximum blessings being sent to your employer, all the time :)

[2019-05-27 14:23] WyriHaximus commented on #48
To be honest I'm using prefixed randomly generated channel names anyway so I don't really have a use case for channel names anyway. Both measures are to ensure we get a unique channel name to avoid collisions.

[2019-05-27 14:25] krakjoe commented on #48
Ok, so channel names are terrible and we should drop them ... ACK ...

I'll start working on that, I guess it will form the basis of v1.1 ...

[2019-05-27 19:24] dotfry commented on #48
Sometimes it may be useful, may be make name optional?

[2019-05-28 01:47] TheTechsTech commented on #25
Well, just figured since it's on https://phpinternals.news/11 the podcast and there website, that it is.
I think most will come to that conclusion.
I know nothing of internals process on that.

I think you feeling infringed on with that statement.
Only the code would show otherwise. My work is not fully done. All my current examples are others, and  from other languages.Anyway, if one has any real

[2019-05-28 04:25] krakjoe commented on #48
If we keep using names internally, and have them as optional for userland, it moves the problem of generating these random names from userland to internals. I don't much like the thought of that ...

In addition, I think it better if there's one clear way to use Channels, so think it best to just drop the names.

In those cases where it might be useful to name your channels, you could still do tha

[2019-05-28 10:36] WyriHaximus commented on #25
Well tbh either don't use windows or use Docker/Vagrant/WSL on windows

[2019-05-28 19:35] dotfry commented on #48
As I see in the code, the name is used as the key of the hash table, whether this will affect the performance?

When removing this, is it possible to add a method such as `Channel::setName`?

[2019-05-28 19:45] krakjoe commented on #48
Work on this has been done in channels-without-names branch: 0d509532c7be10baebe5eede3c86d3d5b488ad63

I've not done a lot of testing beyond making sure the tests pass ...

I think I have to drop Input, it's not safe to use the addressof the zend_object as a key in a hashtable if I can't be sure the address will not be reused, and because the input hash doesn't keep a reference to the object, it m

[2019-05-28 19:58] dktapps commented on #48
@krakjoe what about an internal incrementing channel ID counter instead of names?

[2019-05-28 20:25] krakjoe commented on #48
I'm not sure ... I'm actually not sure about this approach as I go to sleep
tonight. The problem is you now cannot identify channels, they have
different handles in every thread, debugging this is hard.

I need more thinking time ...

On Tue, 28 May 2019, 21:58 Dylan T., <notifications@github.com> wrote:

[2019-05-29 05:38] krakjoe commented on #48
There are things I like about this approach:

  - we no longer have to maintain a list of channels
  - many threads may create channels concurrently (not possible before because of the list of channels)
  - there is much less boilerplate
  - it shrinks the Channel API
  - it shrinks the Events API
  - it shrinks the Event VO
  - it means less string comparisons in userland

There are things I don'

[2019-05-29 05:46] krakjoe commented on #48
An internally incrementing counter sounds reasonable, however, we would either have to lock that counter, or use atomics to increment it, the former introduces exclusion that makes the second thing I like about it moot. The latter is something I have thus far tried to avoid, while atomics are standard in C++, they are not standard in C, and while there is an accepted convention for compilers I'm f

[2019-05-30 06:05] dotfry commented on #48
That looks good, but it is a pity that the functionality to get the channel using `Channel::open()` is removed.

[2019-05-31 06:09] krakjoe commented on #48
I got another idea ... what if we kept the named constructor (Channel::make) for named channels, and used the normal constructor (Channel::__construct) for un-named channels, which we give a name, this would allow the rest of the API to remain unchanged, as well as reflection (arginfo) to be sensible for make() and __construct() (merging un-named channels into the named constructor means strange a

[2019-05-31 07:39] #48 closed, assigned to nobody

[2019-05-31 07:40] krakjoe commented on #48
I decided to go with that ... so we have "anonymous" channel support in Channel::__construct and named channels remain unchanged.

[2019-05-31 07:47] dktapps commented on #48
I feel like the choice for names could be a problem ... what about if the same function is creating channels in multiple calls?

[2019-05-31 07:55] krakjoe opened #54 "Input::add and Channel::send inconsistency"
Input::add does not accept the same values as Channel::send

[2019-05-31 07:56] #54 closed, assigned to nobody

[2019-05-31 08:19] krakjoe commented on #48
Hm, that's true ... so we won't use the opline ... so that new Channel will never fail ...

[2019-05-31 08:48] krakjoe commented on #48
Better ? (we also have useful info in the name now, the scope that created it and line number, the opline remains for debugging purposes) ...

[2019-05-31 08:49] dktapps commented on #48
that looks better yes :+1:

[2019-05-31 08:53] krakjoe commented on #48
So anonymous channels are named are like `scope#lineno@address[idc]" ... where scope is the filename for files and closures (because closures don't have human readable names), "class::function" for methods, and "function" for functions ... and idc (ulong) is incremented for every anonymous channel ...

[2019-06-01 08:13] krakjoe commented on #44
Are you silent because you're convinced by my words, or silent because unconvinced ? :)

[2019-06-01 08:43] dktapps commented on #44
I forgot to follow up to the notification.

I agree that it's easy to provide a user-defined thread ID, but since nothing is truly global it's a little tricky to make them unique without going full randomized. In addition I'd find system IDs useful for things like gdb debugging.

I won't be too upset if you don't want this.

[2019-06-01 10:02] krakjoe opened #55 "\parallel\run may schedule in wrong thread"
Race condition on state may cause parallel to schedule task in wrong thread with \parallel\run

[2019-06-01 10:02] #55 closed, assigned to nobody

[2019-06-01 17:23] krakjoe commented on #44
So, I've been working on a sync primitive for a while (a-la golang's sync package) ... you gave me a good reason to [finish it today](https://github.com/krakjoe/parallel/commit/75d541fc76488a21fccc56dda3df6630c92569c0) ...

golangs sync package is a little too low level for my liking, and for the average programmer's liking probably ...

pthreads users will recognize some the API, and already know

[2019-06-01 17:25] krakjoe commented on #44
I'm going to close this now ...

[2019-06-01 17:25] #44 closed, assigned to nobody

[2019-06-01 17:49] dktapps commented on #44
Atomics would certainly be nice. It's the one big thing I've really felt is missing from parallel. We can do unbuffered channels but it's not quite the same.

[2019-06-02 11:16] krakjoe opened #56 "Release v1.1.0"
- Fix #54 Input::add and Channel::send inconsistency
 - Fix #55 \parallel\run may schedule in wrong thread
 - Anonymous channel support
 - \parallel\Sync

over to you @remicollet

[2019-06-02 11:26] krakjoe commented on #56
Oh, documentation additions already pushed, don't know when they'll be visible ...

[2019-06-02 22:17] nachoparker opened #57 "request: Polyfill wrapper"
In the same way that `pthreads` has the option for polyfill (https://github.com/krakjoe/pthreads#polyfill) it would be great to have this available for `parallel`.

As of today it is not easy to find a ZTS interpreter unless you build it yourself, so this would allow for a graceful, future proof transition where the code might be already there whenever ZTS becomes widely available.

Thanks

[2019-06-03 05:30] remicollet commented on #56
Travis is green
Local QA builds are OK

Tagged, Released and announced

[2019-06-03 05:30] #56 closed, assigned to remicollet

[2019-06-03 05:35] krakjoe commented on #56
Thanks again @remicollet, much appreciated ... hope you have an easy week :)

[2019-06-03 05:50] krakjoe opened #58 "parallel\Atomic"
I mentioned in #44 that I was considering introducing a parallel\Atomic class. I wanted to get some feedback on whether we think this is a good idea ...

parallel\Sync will allow you to execute code exclusively and get/set are atomic, however it lacks a math interface, and adding one doesn't make a lot of sense imo (what would it mean to perform math on a string !?).

Note 1: There are differences

[2019-06-03 06:05] krakjoe commented on #58
Note 3: the way that do_operation is implemented for objects in zend means that we can't have a magical math interface that supports operators and covers up the difference between (for example) fetch sub and sub fetch, so the interface would have to have a bunch of methods, and the user would have to have a clue what they are doing ...

Note 4: msvc's atomic API's don't allow the programmer to cho

[2019-06-03 07:45] krakjoe commented on #58
Here's something else to think about:

[code]

Obviously, this is not as efficient as using atomics at the level of C, however, it is simple, and code that can be JIT'd ...

The question is, how much are atomics going to be used, and is it really worth introducing the additional complexity at the level of the extension to satisfy those use cases which could be satisfied in userland  ?

[2019-06-03 15:13] pwilsoncentre opened #59 "Implementing a Socket Server"
Apologies in advance if this request shows a fundamental misunderstanding of the intended use for this extension.

I'm trying to envision how one would go about creating a socket server that can listen for connections using stream_socket_accept in a parallels\Event loop, notify a worker thread in a pool, continue listening for connections while a worker thread generates a response, and reply to a

[2019-06-03 15:28] dktapps commented on #59
If you want to listen without blocking, you'll need to add some kind of delay in your loop so it doesn't just spin constantly. Typically the way I would do this is to poll the socket every X milliseconds, and between polls do whatever other things you need to do.

Given that parallel doesn't currently have any way to do a select() which can be interrupted from another thread (for example with an I

[2019-06-03 19:16] dotfry commented on #58
Looks interesting, but as I see in code, it allow use only primitives in `\parallel\Sync::__construct`. Is it possible to Sync objects too?

[2019-06-03 19:39] krakjoe commented on #58
There's not a strong use case for that, worse, I think it would lead you down the wrong path.

[2019-06-04 05:08] dotfry commented on #58
I'll think that `\parallel\Sync` has potential. Really useful for indicators or counters for me. Adding object and\or arrays this will add a few more cases, but managing such data with Atomic will look not clear.

Do I need to call `notify` \ `wait`, or `__call` enough to modify atomic and notify all other threads?

[2019-06-04 08:16] krakjoe opened #60 "Copying refcounted internals"
When we copy/destroy refcounted internals, we acquire the mutex for the object (sync/link) before adjusting the refcount. This can lead to strange things - if Thread A is copying while thread B is recv'ing (in the case of link), Thread A can't complete the copy, and if Thread B is waiting for Thread A to send() on that unbuffered link, deadlock results.

[2019-06-04 08:17] krakjoe commented on #60
Fixed in e27c7b152eea5e41fa62bba5ead7ce17d960c049

[2019-06-04 08:17] #60 closed, assigned to nobody

[2019-06-04 10:12] krakjoe commented on #58
You should only notify if other threads may be waiting, and you should only ever wait *for* something ...

Both wait/notify should be called synchronized (via Sync::__invoke):

[code]

A nice tool for detecting errors in usage of primitives is drd, a tool built into valgrind. If you run the code above through drd (valgrind --tool=drd php thing.php), no errors will be detected, if you misuse the pr

[2019-06-04 10:21] dktapps commented on #58
for what it's worth, I found the behaviour of wait and notify in pthreads very confusing because it is not clearly documented, and because the behaviour without a lock isn't consistent across platforms. For the sake of parallel I would recommend enforcing the rule that they may only be used when a lock has been obtained, and throwing an exception when they are used outside of a synchronised block

[2019-06-04 10:32] krakjoe commented on #58
That would mean the programmer is not able to notify without synchronization, which the specification allows for a reason.

So, that doesn't seem like a good idea ...

The best course of action is almost always to notify only when synchronized, but we can't make it exceptional to use primitives as per the specification, it would reduce their usability for those people who do know how to use them .

[2019-06-04 10:36] krakjoe commented on #58
Oh, I've just had an idea ... what if Sync::__construct had a second parameter `bool $strict = true`, so that by default, you get your exception on invalid use, but the advanced programmer is not prohibited from using them as per the specification ?

[2019-06-04 11:35] dktapps commented on #58
I think an opt-in behaviour for this seems reasonable.

[2019-06-04 18:48] krakjoe commented on #59
I think if there is a fundamental misunderstanding, it's that the Events loop in parallel is for non-blocking I/O: It definitely is not for that.

There are already very good event loops for non-blocking I/O, and I suggest you use one of those, if threads can be useful to your application, it will not be in performing nbio.

Noteworthy, you can (in *nix) pass a stream over a channel - it will be c

[2019-06-04 18:48] #59 closed, assigned to nobody

[2019-06-04 18:54] krakjoe opened #61 "Release v1.1.1"
- Fix #60 copying refcounted internals may lead to deadlocks

Hi Remi, while conducting a review of parallel's code today, I noticed the above quite nasty bug/flaw in it's programming.

It's a bit of a PITA to do a release for one fix, sorry about that ... but it's a nasty bug that might lead to inexplicable (from a users perspective) deadlocks.

This introduces the first use of atomics in paralle

[2019-06-05 05:44] remicollet commented on #61
New symbols are not available on RHEL/CentOS 6 when using default gcc 4.4

BTW, gcc 6 and 7 are available in official repo, as alternative version (devtoolset), so build is OK.

[2019-06-05 05:47] remicollet commented on #61
Also, test suite passes, but with PHP 7.3,  we have

[code]

Doesn't seems to be a blocker, will try to investigate this later

P.S.
* 7.4 have new XLEAK section
* 7.3 reports tests as broked
* 7.2 ignore it

[2019-06-05 05:52] krakjoe commented on #61
Thanks for investigation and updates, much appreciated, feel more confident now ... I've never used atomics in a php extension before ...

The XLEAK thing is where I merged support for a new section into PHP-7.4+ run-tests.php, it's fine to ignore those.

[2019-06-05 06:06] remicollet commented on #61
__atomic Builtins were introduced in gcc 6, as part of C++11

https://gcc.gnu.org/onlinedocs/gcc-6.1.0/gcc/_005f_005fatomic-Builtins.html

Perhaps it is possible to switch to legacy __sync Builtins ?

https://gcc.gnu.org/onlinedocs/gcc-6.1.0/gcc/_005f_005fsync-Builtins.html#g_t_005f_005fsync-Builtins

[2019-06-05 06:31] krakjoe commented on #61
Do you think it's necessary ?

[2019-06-05 06:39] remicollet commented on #61
@krakjoe please review pr #62

Notice: __sync_add_and_fetch is the way used by APCu

[2019-06-05 06:43] remicollet commented on #61
GCC 6.1 was released in 2016, only 3 years old, which is quite young...

[2019-06-05 06:46] krakjoe commented on #61
I totally forgot about APCu, haven't looked at it in forever ...

You know best, let's go with your suggested change ... thanks for taking the time to figure it out :)

[2019-06-05 07:13] remicollet commented on #61
Travis is green
Local QA builds are ok (including using gcc 4.4, 6, 7, 8...)

Tagged, Released and announced

[2019-06-05 07:13] #61 closed, assigned to remicollet

[2019-06-05 07:32] krakjoe commented on #61
Thanks @remicollet, much appreciated :)

[2019-06-06 17:30] ghost commented on #34
Hi,
how to get the thread pid ? (like getmypid() on your pthreads development ;-) )

and I'm ok so you invest more time in the documentation !

good continuation in your development that interests me a lot (I am currently testing your pthreads library)

[2019-06-10 14:35] dktapps commented on #32
as far as the internal objects support goes ... I can think of cases where I'd like to be able to directly copy, such as when using SplFixedArray, any `Ds` types, etc ... in those cases where it's not possible to do a simple copy, would it be reasonable to do a serialize/unserialize a la pthreads? and just throw an exception (as we do now) for non-serializable objects?

[2019-06-10 14:47] krakjoe commented on #32
I don't want to introduce reliance on serialize and unserialize in
parallel, they are slow, they are also the cause of the majority of
security bugs in PHP and I don't have the time or will power to audit the
code to make it safe.

Sharing data structures doesn't make a lot of sense with the CSP model, I
understand it may help you to port code, but it would be better to think
about the problem dif

[2019-06-12 18:47] krakjoe opened #63 "Release 1.1.2"
Hi @remicollet in the last few days some changes were made in PHP-7.4 that broke the build, so this release is just fixing the build in 7.4 ... unfortunately, I missed compatibility with alpha1 because I was busy working on azure ...

I don't know if you want to do this now, or wait for alpha2 ...

[2019-06-13 07:21] krakjoe opened #64 "Copy needs a context"
When parallel copies vars, it does so without a context, this means that if an array contains a reference to itself, overflow will result. I knew about this, and it didn't seem so urgent, however, since I added support for closure binding, this shortcoming can easily lead to overflow.

We must copy with a context, so that if a var is already copied for any particular context, it is not reduplicate

[2019-06-13 09:21] mrAndersen opened #65 "zend_mm_heap corrupted after calling spl_object_hash"
Getting zend_mm_heap corrupted after calling spl_object_hash on doctrine entity Manager

[code]

[code]

Doctrine entity manager itself is created inside runtime closure, and working fine until spl_object_hash is called on that object

[2019-06-13 09:27] mrAndersen commented on #65
Moreover calling spl_object_hash on any object inside closure - gives this erroneous result. (Tested on stdClass)

[2019-06-13 09:45] krakjoe commented on #65
Please provide self contained reproducing script.

On Thu, 13 Jun 2019, 11:27 Armen Alaverdyan, <notifications@github.com>
wrote:

[2019-06-13 12:02] krakjoe commented on #65
[code]

Neither of these raise a fault, I'll need a reproducing script to investigate further ...

[2019-06-13 14:13] remicollet commented on #63
Local QA builds OK

Tagged, announced and released

[2019-06-13 14:13] #63 closed, assigned to remicollet

[2019-06-13 14:14] krakjoe commented on #63
Thanks @remicollet :)

[2019-06-13 14:24] remicollet opened #67 "7.4 support"
Build is broken with 7.4.0alpha1

[2019-06-13 14:25] krakjoe commented on #67
Fixed in cd2f74a75d0c72e26604625ca2327848bb8c5436

I just missed the alpha1 tagging ...

[2019-06-13 14:25] #67 closed, assigned to nobody

[2019-06-13 14:26] remicollet commented on #67
@krakjoe please review b2bba95b70e387bb8c42d756f364c2a882e65064

[2019-06-13 14:26] remicollet commented on #67
Sorry for the noise... bad project

[2019-06-13 14:27] krakjoe commented on #67
no worries :)

[2019-06-13 15:02] mrAndersen commented on #65
@krakjoe  May problem be caused by pcntl extension? Because reproducing this problem is complex.
Php script that spawns runtime - is executed via another script, which uses pcntl

[2019-06-13 15:03] krakjoe commented on #65
I can't see an obvious way for that to happen, but I'm guessing without reproducer ...

[2019-06-13 15:05] mrAndersen commented on #65
Maybe in some future)

[2019-06-17 19:03] dktapps opened #69 "segfault on runtime copy"
[code]
I accidentally copied an object which contained a Runtime and it crashed. This is the minimum test case I could produce.

[2019-06-18 12:27] dktapps commented on #69
I may mention it might be desirable to share a reference to `Runtime`s to be able to do things like thread-safe loggers simply.

[2019-06-18 12:41] dktapps opened #70 "segfault on use of unserialized Channel object"
[code]
I haven't tested if this occurs with other things.

[2019-06-18 12:42] dktapps opened #71 "segfault on use of cloned Channel"
[code]
again, I haven't tested if this occurs for other things.

[2019-06-19 05:54] #71 closed, assigned to nobody

[2019-06-19 05:59] #70 closed, assigned to nobody

[2019-06-19 06:30] #69 closed, assigned to nobody

[2019-06-19 06:31] krakjoe commented on #69
Why would you need a Runtime to be shared exactly ? I can think of a few nice ways to have a logging thread without sharing a reference to a runtime ...

Sharing runtimes complicates things, and I need extremely good justification to implement that ...

[2019-06-22 00:17] feamsr00 opened #72 "[parallel\Runtime\Error\Bootstrap] bootstrapping failed"
Forgive but I'm getting exasperated here without documentation.

What exactly are the conditions that would cause bootstrapping to fail?

(Is is possible to have ether better exception messages or a known list of failure conditions?)

[2019-06-22 00:37] feamsr00 opened #73 "parallel\Runtime\Type\Unavailable"
Forgive the "dump" but I'm getting exasperated here without documentation (seems it wont be the last time...).

What are the conditions that would cause runtime::run() to strip out and replace passed objects, as it doesn't happen _consistently to 100% of objects_. Sometimes `parallel\Runtime\Error\IllegalParameter` is thrown. Occasionally (and only somewhat reasonably) `[parallel\Runtime\Error\Ill

[2019-06-22 01:12] feamsr00 opened #74 "Migration Guide"
Okay.

_PThreads est mort, viva la Parallel._

I guess thats ok. The application/libraries I'm building around pthreads, will survive. Parallel is new and that will take time to migrate...

**PThreads is _mort_. Kaput. Fin.** No updates, No patches, _No new language compatibility_

Alright this happens, the maintainers _must_ have found a critical security and\or data destructive flaw intrinsic to

[2019-06-22 07:10] krakjoe commented on #74
PHP in general, as an environment that uses refcounting (and is implemented in C) is vulnerable to a whole class of security vulnerabilities, UAE (use-after-free) to be specific, pthreads fails to implement refcounting properly and so exacerbates this problem. In addition at it uses serialization at it's core - the serialization routines are easily the code found to be vulnerable with the highest

[2019-06-22 07:10] #74 closed, assigned to nobody

[2019-06-22 07:57] krakjoe commented on #72
Bootstrapping will fail if:

  - the file cannot be opened: https://github.com/krakjoe/parallel/blob/develop/tests/base/029.phpt
  - the file cannot be compiled: https://github.com/krakjoe/parallel/blob/develop/tests/base/034.phpt
  - the file cannot be executed (threw uncaught exception): https://github.com/krakjoe/parallel/blob/develop/tests/base/033.phpt

I somehow (wrongly) thought it obvious

[2019-06-22 11:21] dktapps commented on #73
this is exactly the kind of confusion I was concerned about with regards to only copying user objects...

to the best of my knowledge the rules on this or that any class that is either internal or extending internal class may not be copied. only "pure" user objects are copyable. the exception to this rule is parallel's own built-in objects are copyable where it makes sense.

[2019-06-22 16:42] krakjoe commented on #73
This is documented [here](https://www.php.net/manual/en/parallel-runtime.run.php#refsect1-parallel-runtime.run-argv-characteristics) and [here](https://www.php.net/manual/en/parallel-runtime.run.php#refsect1-parallel-runtime.run-object-characteristics).

[2019-06-22 16:42] #73 closed, assigned to nobody

[2019-07-01 09:14] dotfry opened #75 "Namespace and Errors naming"
Most namespaces in php are written with a capital letter, and for errors, the postfix `Exception` is used instead of `Error`.

I suggest changes:
 * namespace from `parallel` to `Parallel`
 * add postfix `Exception` to all errors
 * change the namespace path in some exceptions (eg: `parallel\Runtime\Error\Bootstrap` → `Parallel\Runtime\BootstrapException`)

I can make PR with that changes, if comm

[2019-07-01 09:23] dktapps commented on #75
I sure don't want all my code to break just because some person wants a "conventional" namespace. I don't mean to be rude, but this extension has a stable release now and it has projects that depend on it.

[2019-07-01 09:29] krakjoe commented on #75
The name of the extension is "parallel", the correct namespace is being used.

If that irks you, just refer to it in your own code with capital letters, php is case insensitive ....

When it comes to postfix/suffix, it seems unimportant to me. Again, you can refer to the exceptions however you wish in your own code, but the motivation to change their names is not sufficient.

[2019-07-01 09:29] #75 closed, assigned to nobody

[2019-07-05 16:29] feamsr00 commented on #72
Thanks for sharing that! That makes a lot more sense now. If I understand correctly that bootstrapping is just a localized use of `include`, I would agree that it would be simplest for it to simply emit the same failure messages that `include` could.

Note: Since parallel\Runtime is final, might I suggest adding a setBootstapRoutine? There are scenarios where a "boot file" isn't the most appropria

[2019-07-05 16:35] dktapps commented on #72
you can just submit a closure to `run()` directly after creating the runtime.

[2019-07-05 19:42] feamsr00 commented on #74
@krakjoe I was with you for a moment, but you made it sound like I offended you... personally. There is no intention to do that, please, forgive me. Quite the contrary, humor is often hoped to draw attention to rather frustrating circumstances. (P.S. Why **my** employees? The code I allude to is _my_ "baby", mostly because of concerns and complexities you referred to. Aaand it is open source at th

[2019-07-07 20:34] ghost commented on #38
Personally I prefer the method. This way the caller decides the role of the channel, it's not magic (it's straight forward and clear) and there's no additional check for every stack push needed (even though it may be cheap, it should be an one time cost).

[2019-07-08 09:00] dktapps commented on #48
it turns out that explicit names may be useful for static initialisation.

[code]
Perhaps it might be useful to have something similar for `\parallel\Sync`.

[2019-07-09 06:30] feamsr00 commented on #72
Thanks for that idea @dktapps . Now, I'm curious though. If I pass a "stub" file to the `Runtime` constructor (say... to prepare the env for a thread about to launch), is there any way to "communicate" with it? Is the best way to do that to use a "named channel"? (while naming seems like a semantic hassle, I don't think I see anyway around that.) In this way could you have an "inbox" of data to ac

[2019-07-11 05:05] feamsr00 commented on #73
OK. I had a chance to inspect my classes that were throwing this. (I'm trying to get code using pthreads ported to Parallel) The class it's self was not using internal objects, and did not violate the noted rules. However it did *consume* objects that ended up using (constructing) core\internals objects pre ::run(). What *exactly* is the concern with serializing internal objects? Is it that they m

[2019-07-12 19:10] feamsr00 opened #76 "Unusual thread death with no messages"
Hello,

Ok, so I've seen some odd error states show up when running some recent thread tests. Under certain conditions we were faced with a script that died in the middle of execution with no indication of what killed it, or for.

[code]

This seems to fall over right inside ::run(). This blows the whole process away, not just the threads. Is Parallel swallowing engine errors? Is it possible for P

[2019-07-13 20:35] feamsr00 opened #77 "Parallel in other contexts"
Hi again! I have a feature request to allow Parallel to run in one other context, *namely* phpdbg.

After #76, I tried to drop into phpdbg and remained rather confused for a long time untill I realized Parallel wasn't even running!

https://github.com/krakjoe/parallel/blob/8564ddf8cacdc345047b2ab435d16c5651b59faa/src/parallel.c#L200-L202

What are the concerns to allowing phpdbg, if any?

Is this

[2019-07-16 21:14] derekbsnider commented on #27
Do you have an example of how to use events in place of a timeout on Channel::recv?

For example, if I'd like to have some code that runs through a collection of Channels, and checks them for input, I don't want the loop to hang on a Channel that has no input available, I want it to be able to move on to the next channel.

[2019-07-16 23:17] derekbsnider commented on #59
Has anyone been successful with this idea? I've been playing around with the same kind of idea, but I cannot have a different parallel\Runtime for each connection, because you cannot share the controlling socket between Runtimes (it's a resource), and you cannot bind to the same port in multiple threads.

[2019-07-17 11:40] pwilsoncentre commented on #59
I have begun looking at other options. There's an interesting project out there that uses a socket server written in Go that spawns PHP worker threads which loop, waiting for the Go supervisor to send them requests via STDIN or a socket, which the PHP worker threads then execute. It's called RoadRunner:
https://roadrunner.dev/

It has its own limitations, the foremost in my opinion being that it c

[2019-07-18 10:18] dktapps commented on #76
Killing the whole process would likely indicate a segfault or some other similar issue.

[2019-07-18 16:25] theofidry commented on #64
Any update on this? I would like to know if I can except it in a near future or if it's likely gonna wait another couple of month (it's mostly for myself to plan with some refactoring on Infection)

[2019-07-19 03:52] krakjoe commented on #64
It's hard to tell the difference between the near future, and a couple of months :)

I'm just not actually sure, it could be this weekend, or next, or in 5 ... it's going to take a whole weekend, that's for sure ...

[2019-07-19 03:54] krakjoe commented on #77
That code does not restrict the SAPI, it's a work around specific to CLI.

phpdbg will not function properly with parallel, phpdbg does not support multithreaded debugging.

[2019-07-19 03:54] #77 closed, assigned to nobody

[2019-07-20 07:03] feamsr00 commented on #76
Seems like you're right! The code above produced an `Process exited. Exit code - 0xc0000005` [an Access Violation, but no dump] and the code below...
[code]
[code]

produced a stack overflow exception:
[code]
Let me know if I should open a second issue.

I've not needed to collect stacks from php before so I've followed (with limited success) the steps here: https://bugs.php.net/bugs-generating-ba

[2019-07-23 21:47] prolic opened #78 "zend_mm_heap corrupted when protobuf extension loaded"
Platform: Ubuntu 18.04 (64bit)
PHP: 7.3.7

Extensions: parallel + protobuf (both via pecl)

Test Script:

[code]

Expected Output:
[code]

Given Output:
[code]

Note: I didn't do anything with protobuf, the extension is only loaded.

[2019-07-25 21:35] feamsr00 commented on #76
I tried the preview version of windbg and I think I was able to tease out the trace for the access violation crash....
[code]

I **think** I got a disassembly of faulting instruction... (x64aa)
[code]

Is this helpful at all?

[2019-07-26 18:37] dktapps commented on #32
well... back to userland serializing then I suppose.

There's no telling in some complex systems when you might happen to have an internal object referenced somewhere (for example PM plugins can do god knows what), and then we're back to square one but with a broken object on the other side, instead of an error at the point of copy.

[2019-08-07 11:14] Frago9876543210 commented on #59
What about socket_create? You can't pass it into runtime like stream resource

[2019-08-12 14:37] dotfry opened #79 "SIGSEGV on runtime reassign"
[code]

If I didn't close runtime, and assign new runtime immediately i'll got SIGSEGV.

[2019-08-12 15:16] dktapps commented on #79
Are you using an up to date version? This test sample works correctly for me on Windows.

[2019-08-12 17:02] krakjoe commented on #79
I also can't reproduce, can you tell me what version of PHP you are using, and what extensions you have loaded please ?

[2019-08-12 17:15] krakjoe commented on #78
The protobuf extension is not thread-safe.

Sorry, nothing I can do about that, contributing to google stuff is more hassle than it's worth, also the code is a mess ...

[2019-08-12 17:15] #78 closed, assigned to nobody

[2019-08-13 08:31] dotfry commented on #79
`PHP 7.2.14 (cli) (built: Jan 22 2019 22:44:44) ( ZTS )`

extensions:
[code]

This happens in docker with image `php:7.2.14-zts-stretch`, without docker all works great (but php is `PHP 7.3.5 (cli) (built: May 27 2019 13:02:15) ( ZTS )`)

[2019-08-13 11:34] #79 closed, assigned to nobody

[2019-08-13 12:06] krakjoe opened #80 "Release 1.1.3"
Hi @remicollet, here's what we have:

  - Fix #79 segfault on copy closure in <7.3
  - Fix #69 segfault on deep runtime copy
  - Fix #70 segfault caused by incorrect Channel serialize/unserialize
  - Fix #71 segfault caused by cloned Channel access

Over to you, thanks :)

[2019-08-13 18:30] prolic commented on #78
Thanks @krakjoe

[2019-08-14 07:13] remicollet commented on #80
Tagged and released on pecl.

[2019-08-14 07:13] #80 closed, assigned to remicollet

[2019-08-14 07:19] krakjoe commented on #80
Thanks Remi

On Wed, 14 Aug 2019, 09:13 Remi Collet, <notifications@github.com> wrote:

[2019-08-15 09:52] tommiyxu opened #81 "1.1.3 make error"
bin/sh /root/software/php/parallel-1.1.3/libtool --mode=compile cc -Wall -DZEND_ENABLE_STATIC_TSRMLS_CACHE=1  -I. -I/root/software/php/parallel-1.1.3 -DPHP_ATOM_INC -I/root/software/php/parallel-1.1.3/include -I/root/software/php/parallel-1.1.3/main -I/root/software/php/parallel-1.1.3 -I/usr/local/php/include/php -I/usr/local/php/include/php/main -I/usr/local/php/include/php/TSRM -I/usr/local/php/

[2019-08-15 22:23] prolic commented on #81
I have a (maybe related) issue when installing latest 1.1.3 release with pecl:

[code]

[2019-08-16 07:21] remicollet commented on #81
@prolic, build and install have worked, segfault happens during pecL registration, so is not related to this extension.

@0x00bin which platform ?

[2019-08-16 07:25] remicollet commented on #81
@0x00bin please post config.log and config.h

[2019-08-16 10:35] tommiyxu commented on #81
CentOS release 6.10 (Final)
PHP 7.2.21 (cli) (built: Aug 13 2019 15:17:23) ( ZTS )
[config.h.txt](https://github.com/krakjoe/parallel/files/3509168/config.h.txt)
[config.log](https://github.com/krakjoe/parallel/files/3509172/config.log)

@remicollet

[2019-08-17 06:03] remicollet commented on #81
Is `HAVE_BUILTIN_ATOMIC` defined in `/usr/local/php/include/php/main/php_config.h` ?

Looks like PHP was build with a **different compiler** than the extension.

Perhaps you should try build available in [my repository](https://rpms.remirepo.net/wizard/) which includes all versions and near all extensions, including this one.

BTW, CentOS 6 is close to its End of Life, you should also consider upd

[2019-08-17 06:18] krakjoe commented on #81
Thanks for investigating @remicollet, this doesn't appear to be a problem here, so closing ...

[2019-08-17 06:18] #81 closed, assigned to nobody

[2019-08-19 06:38] tommiyxu commented on #81
@remicollet Thank you！

[2019-08-23 07:30] krakjoe opened #82 "Arena Testing"
Hi all,

I'm preparing some major internal changes to parallel. To start off with, I've swapped the system allocator for a shared mapped memory based allocator.

I'm interested to know if anyone can find any performance differences when running your test code against the "arena" branch ?

If anyone could do numbers, that'd be good ...

[2019-08-23 07:34] krakjoe commented on #82
Oh note, you can now limit the memory available to parallel (and must set a maximum) with `parallel.memory` ini option ... I hate INI too, but necessary evil ... 128mb default, suffixes supported.

[2019-08-23 07:38] WyriHaximus commented on #82
Is this per thread or in total? Does it behave like the core memory limit setting (and can it be set to unlimited)?

[2019-08-23 07:58] krakjoe commented on #82
It can't be unlimited, and is global

Cheers

On Fri, 23 Aug 2019, 09:38 Cees-Jan Kiewiet, <notifications@github.com>
wrote:

[2019-08-23 08:20] dktapps commented on #82
To be clear, that would be 128MB maximum for all threads combined, right?

[2019-08-23 08:27] krakjoe commented on #82
Right

[2019-08-23 14:04] Tuckbros opened #83 "How to pass arguments ?"
I currently wrote 2 php files :
[code]

and 'test_threads_inc.php' as follow :

[code]
I am quite sure I am doing it wrong, but I can't find any way to make to right.
When I pass an hardcoded value as a parameter of the closure at runtime no error is reported. But I want to pass the `$i` as an argument (in an array, as shown here), it returns the following errors :
[code]

[2019-08-26 04:14] tommiyxu opened #84 "illegal parameter (PDO) passed to task at argument 2"
$parallel = new parallel\Runtime();
try {
    $dsn = "mysql:dbname=test;host=127.0.0.1;port=3306";
    $pdo = new PDO($dsn, 'root', '');
    $pdo->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);
    $callback = function($pdo) {
         var_dump($pdo);
    };

    $parallel->run($callback, ['this is a test msg', $pdo]);
} catch (\parallel\Runtime\Error\IllegalParameter $ex) {
    var_dump

[2019-08-26 08:00] dktapps commented on #84
You can't. Internal objects can't be passed as parameters or returned as results. It's a confusing inconsistency, but that's how it is.

[2019-08-26 08:21] rask commented on #84
@dktapps so the correct "fix" would be to just pass the `$dsn` to the callback and initialize the connection inside the callback?

[2019-08-26 08:30] dktapps commented on #84
Yes, I would imagine so.

[2019-08-26 09:36] krakjoe commented on #82
I think maybe I didn't give you enough of a reason to test this ...

The most substantial barrier to parallel becoming a core part of PHP, which I very much want, is the ZTS requirement.

The environment that ZTS provides (share nothing) can also be provided by forking, and this we can support in NTS mode ...

It requires that we use shared memory, which is why we started with a shared arena ...

[2019-08-26 10:04] dktapps commented on #82
why exactly is the zts requirements a barrier to becoming a core extension?

personally I've been using zts for so long now that I can't envision having a problem with sticking to it. Besides I can't imagine that forking will be better in terms of efficiency than using pthread.

[2019-08-26 10:19] krakjoe commented on #82
ZTS is not enabled by default because of performance degradation that is unavoidable. It's better in newer versions, but unavoidable whatever.

To support only ZTS mode makes the extension too specialised to be a candidate for inclusion in core.

The normal reason you create a thread over a fork is that threads share memory by default, they don't have to create a copy of the address space. In PHP,

[2019-08-26 10:51] #84 closed, assigned to nobody

[2019-08-26 10:59] krakjoe commented on #83
Mistake in code:

[code]

function should be:

[code]

[2019-08-26 10:59] #83 closed, assigned to nobody

[2019-08-26 13:53] dktapps commented on #82
I'm not sold on ditching global channels for ::open(), because I think those have some uses for static lazy initialization (I'd actually like to see the same thing for Sync). It would be nice if that can be preserved.

I don't have any real world code that uses parallel to test with right now (PM is going to be a big job to migrate).

[2019-08-28 14:01] fengahan opened #85 "Hi friend ,Why isn't it running in parallel"
`<?php

$socket = stream_socket_server("tcp://0.0.0.0:8000", $errno, $errstr, STREAM_SERVER_BIND | STREAM_SERVER_LISTEN);
stream_set_blocking($socket, 0);

$connections = [];
$read = [];
$write = null;
$except = null;

//view
$httpHandler=function()
{
    $data=file_get_contents('./index.html');
    $data= str_replace("{{time}}",date("Y-m-d H:i:s"),$data);
    return $data;

};

$runtime = new \pa

[2019-09-02 07:39] krakjoe commented on #85
Please don't use this tracker to ask for help with code.

[2019-09-02 07:39] #85 closed, assigned to nobody

[2019-09-02 07:41] krakjoe commented on #82
@dktapps noted ... I'll try to keep it and think about named syncs at some time in the future ...

Sorry, I haven't had more time to work on this, maybe next weekend ... maybe some time this week ...

[2019-09-02 08:22] dktapps commented on #82
take all the time you need, no rush :+1:

[2019-09-02 17:13] dotfry opened #86 "SIGSEGV in runtime shutdown"
[code]

Usially it happens when object that owns parallel's runtime goes out of scope, i'll create destructor with code `$runtime->shutdown();` and SIGSEGV gone away.

[2019-09-02 18:35] krakjoe commented on #86
Hi, thanks

Can you provide a reproducing test case?

Cheers
Joe

On Mon, 2 Sep 2019, 19:13 .fry, <notifications@github.com> wrote:

[2019-09-02 19:51] dotfry commented on #86
Sadly, but i'll spent all day on simple test, but i cant reproduce that.
I'll boot symfony kernel in callables, open streams (resources), and using `while (true)` + channel reading.

I can do something in gdb, if you tell me what :D. Also ill try to reproduce that tomorrow in small test.

[2019-09-03 12:07] dotfry commented on #86
I can't reproduce that case in test, ~~but fixed that.~~

~~Before i'll used this code for reading from channel:~~
[code]

~~Replaced with:~~
[code]
Didnt fix problem :(

[2019-09-05 13:14] irisism4you opened #87 "PHP7.4RC1 undefined symbol: _tsrm_ls_cache"
Hello. I've been trying to compile parallel on fresh PHP 7.4RC1 version. But something gone wring

PHP         : /etc/php74zts/bin/php
PHP_SAPI    :
Warning: PHP Startup: Unable to load dynamic library 'parallel.so' (tried: /etc/php74zts/php-src/ext/parallel/modules/parallel.so (/etc/php74zts/php-src/ext/parallel/modules/parallel.so: undefined symbol: _tsrm_ls_cache), /etc/php74zts/php-src/ext/par

[2019-09-05 20:05] dotfry commented on #86
Only usleep(500000) helps.

[2019-09-06 04:07] tobiastromm commented on #59
Has anyone been successful with this idea? [2]

[2019-09-06 13:43] derekbsnider commented on #59
I gave up on this idea, and instead started working on my own C-language
variant, that is parsed and JIT compiled on the fly.

It will support some select features from other languages (C++, PHP, Perl,
Python, JavaScript), contained within namespaces.

So like you can do "using namespace std" to access standard C++ classes
without prefixing with "std::", you could do "using namespace php" to do
th

[2019-09-06 21:08] TheTechsTech commented on #59
Have you looked into **coroutines** (https://github.com/symplely/coroutine), there is an article written by **Nikita Popov** [Cooperative multitasking using coroutines (in PHP!)](https://nikic.github.io/2012/12/22/Cooperative-multitasking-using-coroutines-in-PHP.html) he did some years ago, an project was started then abandoned. I built upon, more of an rewrite. and separated out the socket server

[2019-09-13 12:34] ilantipov opened #88 "Php crashing"
Hello. I'm running your sample script
 php /var/www/shared/testform.php
..............................**.......***.....****.........****...........**..*******.......**........*************...............****..********....***...*******..*****..................***..........**************......................*****..***********...**..............*******************....*****........**.................

[2019-09-17 04:18] phppm opened #89 "why "new Channel" failed?"
my test script.
[code]

[2019-09-17 06:30] krakjoe commented on #89
Please don't use this issue tracker to ask for help with code.

[2019-09-17 06:30] #89 closed, assigned to nobody

[2019-09-17 08:50] dotfry commented on #88
Works fine for me
[code]
[code]

[2019-09-17 13:16] krakjoe commented on #88
I'm a little confused, that code should not run at all with the latest version of parallel. Could you update your version and test again ...

[2019-09-17 13:38] ilantipov commented on #88
Here I tried to install it via pecl and cloning git repo. Both "pecl install parallel" and "pecl install parallel-beta" with same result. Looks like I'd doing something wrong:)
[run.log](https://github.com/krakjoe/parallel/files/3621559/run.log)
[make.test.log](https://github.com/krakjoe/parallel/files/3621560/make.test.log)
[make.log](https://github.com/krakjoe/parallel/files/3621561/make.log)
[p

[2019-09-17 14:50] krakjoe commented on #88
Please try unloading other extensions, it's probably one of those.

On Tue, 17 Sep 2019 at 15:38, ilantipov <notifications@github.com> wrote:

[2019-09-18 03:28] phppm commented on #89
ok.
my problem that is used no buffered channel.

[2019-09-18 06:47] ilantipov commented on #88
Everything is ok if I disable propro.so, required by http.so. Is there any solution to make them work together?

[2019-09-18 07:32] krakjoe commented on #88
Open an issue with the [tracker](http://github.com/m6w6/ext-propro) for that extension. It won't be a bug specific to the interaction between propro and parallel, it's far more likely just a general incompatibility with ZTS that the author has overlooked and parallel exhibits because it happens to use ZTS aparatus - if the extension were tested in a SAPI that used threads (at test time) it would e

[2019-09-18 07:32] #88 closed, assigned to nobody

[2019-09-18 22:43] phppm commented on #89
**if use no buffered Channel that use runtime to send.**
[code]

[2019-09-19 19:08] merlinthemagic opened #91 "Wrote a wrapper for Parallel"
Hi,

I found this project very interesting, but since it is pretty new the documentation is obviously lacking. That is to be expected.

I intend to use this project and in order for me to understand how it all ties together I wrote a wrapper. Its just how i learn :/

Threads are hard to envision if you have never dealt with concurrency before and i think the wrapper might lower the entry bar for s

[2019-09-21 20:18] Tuckbros commented on #76
According to the documentation, it may not be possible to pass objects as argument
[https://www.php.net/manual/en/parallel-runtime.run.php](https://www.php.net/manual/en/parallel-runtime.run.php#refsect1-parallel-runtime.run-argv-characteristics)

[2019-09-23 17:36] cabelito opened #92 "Big array_search with parallel"
Hello,
I am pretty new to threading with PHP but overall I have understandings of what should be done. I have tried a lot of ways to optimize my scripts using parallel but no success.
What I am trying to accomplish is the following situation:
I am selecting array from MySQL database ( 1,2 Milions of records ) into PHP array and then trying to find matching number ( array is made of numbers ) with

[2019-09-23 19:01] Tuckbros commented on #92
You can find ideas in there : [https://gist.github.com/krakjoe/0ee02b887288720d9b785c9f947f3a0a](https://gist.github.com/krakjoe/0ee02b887288720d9b785c9f947f3a0a) it is a quite complete example of what you can do with parallel. The documentation explains somewhere that data are copied from the main thread to the others. I suppose it is what costs a lot of time and make it worse than direct process

[2019-09-23 19:25] Tuckbros commented on #72
I leave it here because I feel it is related. As you can't declare a class in a function/closure, you have to create a bootstrap file for the `class` declaration you need in your worker, however simple it is, and you have to make sure you don't forget to
`use \parallel\{Runtime, Future, Channel, Events};`
if you plan to make it work with channel (and other if needed).

[2019-09-25 06:55] Tuckbros commented on #82
Ok, I read to fast. It is preparatory work in order to be able get rid of the ZTS requirement. It is not yet done. But it will definitely help everybody using the php coming with there linux distribution if they don't have to build php to use parallel.

[2019-10-02 08:37] Tuckbros opened #93 "Bidirectionnal interprocess communication, Channel and Events : make it easy."
To go on issues #38 and #59, with my current understanding of channels and event,
when a runtime sends a message on a channel, it can be either :
	received by any runtime waiting for it (Channel::recv()) or
	polled as an event (Events::poll()).

channel::recv() is blocking and runtime will wait until a message is received.
event::poll() can be non-blocking and runtime can continue if nothing is ha

[2019-10-02 19:06] dotfry commented on #93
I'll use this kind of message:
[code]

And use `$replyTo` to send response message.

[2019-10-02 21:44] Tuckbros commented on #93
I would like to say yes, but no. I am looking for a way to simplify the communication between my runtimes. Your solution can be useful to reply on a specific channel which is not known in advance of the recipient. The sender tell the recipient where to reply. But, all the same, this channel to reply on has to exist, to be distinct of the one on which the message was send and also to be added in an

[2019-10-07 17:06] itisjoby opened #94 "class not found windows machine"
i am getting a class not found error in a windows machine .the phpinfo() has parallel 1.1.3 and the error thrown is
Fatal error: Uncaught Error: Class 'parallel\Runtime' not found in...

[2019-10-07 17:54] Tuckbros commented on #94
make sure you are using it  by adding this prior to any use parallel stuff :
`use \parallel\{Runtime, Future, Channel, Events};`

[2019-10-07 18:12] Tuckbros commented on #93
maybe I don't need that much channels. A single channel for each runtime where every runtime having to communicate will send messages...

[2019-10-09 14:11] frankvanhest opened #95 "Different result for hello world example"
Hi there,

I'm currently trying out this great package. For some reason I get a different result when I use the Hello World example from the README.md.
[code]
I'm using PHP 7.3.10 (cli) (built: Oct  9 2019 13:20:59) ( ZTS ) with parallel v1.1.3.
The OS is Linux development 4.15.0-64-generic #73-Ubuntu SMP Thu Sep 12 13:16:13 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux running on a Laravel homestead (8

[2019-10-10 06:48] Tuckbros commented on #95
the shown result is fine to me. as long as it is asynchronous "." and "*" do not especially have to regularly alternate.

[2019-10-10 06:52] Tuckbros commented on #95
you can give a look to the code provided in this issue https://github.com/krakjoe/parallel/issues/83

[2019-10-10 07:30] frankvanhest commented on #95
Thanks for your reply!

When I put in a sleep inside the loops. First the loop of the main process is fully processed and after that the loop inside the thread. I thought it would run simultaneously.
That the result would be a bit of like two dots and then a asterisk was expected, but the result I get is still one loop is run after the other.

[2019-10-10 08:37] landall opened #96 "Need an example to producer-consumer pattern"
I need a multi-worker thread pool to process some actions with producer-consumer pattern.
However the document about Event and Pool is too little.
Can you show me an example about this situation?

BTW, Can I use a Channel with many writers and many readers?

[2019-10-10 09:12] landall commented on #91
A good wrapper! I like it!

[2019-10-10 09:15] landall commented on #57
why don't you install it with yum of CentOS?
the executable command is zts-php, not php.

[2019-10-10 09:23] Tuckbros commented on #95
Try this one for better sight, it is a bit more than simple "Hello World!" :
[code]

[2019-10-10 09:28] merlinthemagic commented on #95
@frankvanhest I have an open pull request for this issue: [Emphasis example](https://github.com/krakjoe/parallel/pull/90)

[2019-10-10 09:33] Tuckbros commented on #96
There is a working example in [https://github.com/krakjoe/parallel/issues/34](https://github.com/krakjoe/parallel/issues/34) ( the example itself is [here](https://gist.github.com/krakjoe/0ee02b887288720d9b785c9f947f3a0a)) . To make it work out of the box, you just have to be aware that to use https you need a php with openssl enabled).
About Channels, many readers : Yes. many writers : I never tr

[2019-10-10 09:36] landall commented on #96
I have read #34 and still cannot understand how to use Channel and Event. and some functions seem to be out of document in php.net.

[2019-10-10 09:57] Tuckbros commented on #96
To make it simple a channel is a "stack" provided with messages sent (`send()`) by runtimes (your "writers").
At the other end you find the "readers" to retrieve messages passed over channels.
Messages are accessible by explicitly waiting to receive (`recv()`) the message on the channel (this is blocking and the reader will wait for an incoming message to go on).
But you can also access messages t

[2019-10-10 10:02] landall commented on #96
is every event in an event loop only triggered once before it is removed?
I think when a message is sent to a channel, a thread with a future is ended,  the event is triggered.

And what is the setInput() method used for?

[2019-10-10 10:28] landall opened #97 "How to work with autoload?"
I find in worker thread the php cannot find a autoload class.

What should i do with it?

[2019-10-10 11:01] landall opened #98 "Future::done"
What will I get when I call Future::done() if the thread is cancelled or killed unexpectly?

[2019-10-10 11:20] landall commented on #96
Multi writers, one reader is NOT OK.
I just perform a test. 5 writers write 40 pieces of data. The reader only get 9-39 every time.

[2019-10-10 13:19] Tuckbros commented on #96
can you share the code ?

[2019-10-10 13:37] Tuckbros commented on #96
This all is what I experienced playing with it. I am not into its developpment : so use it with care.
About setInput(), I haven't used it yet, I can't say. For the Event : I would say yes, "polling" it, is like unstacking it. It makes it unavailable to others. If an event occurs on the channel while it is not added to your event loop you could miss it.

[2019-10-10 14:31] landall commented on #96
ThreadPool.class.php
[code]
Main.php
[code]
Debug.class.php
[code]
It should be like this. I have modified the code....

[2019-10-10 14:39] danielspk commented on #82
Support for NTS versions would be excellent for popularizing the project. :+1:

[2019-10-10 15:39] landall commented on #97
I find constant also do not make effect in a worker thread.

[2019-10-10 15:54] Tuckbros commented on #97
It is kind of scope issue. You may have to "bootstrap" what your need in order to make it available to the worker.

[2019-10-10 16:00] landall commented on #97
it is hard to do in a large project.

[2019-10-10 16:01] landall commented on #97
Is there any way to inherite/clone the setting of main thread to worker thread?

[2019-10-11 06:13] frankvanhest commented on #95
Guys thanks for your help. I found the problem and it is a bit of sitting in the corner and be ashamed for quite some time. The vagrant box I was using was configured with only 1 CPU without hyper threading.....

[2019-10-11 06:13] #95 closed, assigned to nobody

[2019-10-11 13:08] crispy-computing-machine opened #99 "Actual example output doesn't appear correct?"
[code]

Actually outputs:
[code]
Is this correct?

[2019-10-19 21:54] Tuckbros commented on #99
Hello,
it seems to be a duplicate of this one : https://github.com/krakjoe/parallel/issues/95

[2019-10-21 06:05] landall commented on #97
i start to read the php-src now. i wonder why a new thread must reset its constant and autoload setting.

[2019-10-21 07:49] crispy-computing-machine commented on #99
@Tuckbros Fair enough, looks to be a non-issue

[2019-10-21 07:49] #99 closed, assigned to nobody

[2019-10-21 20:54] rybakit commented on #65
I ran into the same error while benchmarking Tarantool connectors with ext-parallel. Here is a reproducer (it fails on `update`/`insert` operations):

[code]

[2019-11-02 11:08] ghost commented on #97
Because the architecture is share nothing. The engines are completely isolated from each other.

You need to use a bootstrap file to include the autoloader and define all necessary constants.

[2019-11-02 11:14] ghost commented on #92
Copying data is expensive, and has to be done due to share nothing architecture. What you need or want to do is slice the array and submit each chunk to a worker for processing.

[2019-11-02 12:24] dktapps opened #100 "Programmer has no control of object copying"
When we use singletons, it is a problem when we can't prevent their duplication. With pthreads we could prevent serialization, but with parallel there is no way to prevent a referenced object from being copied and therefore duplicated.

(honestly the object copying is a headache and I'd like to see it gone ...)

[2019-11-03 09:16] krakjoe commented on #100
Can you give me a concrete (and simple, self contained) example where this causes a problem ?

[2019-11-03 09:44] dktapps commented on #100
In PocketMine-MP it's common for large singleton objects like `Server` to be referenced by objects which should be copyable. It's possible to use serialize/unserialize hooks to control member field unserialization (replace reference with global `Server::getInstance()` in unserialize(), and prevent `Server` from being serialized), but with parallel object copying this is impossible.

Another exampl

[2019-11-04 04:19] krakjoe commented on #100
There are only two options, to serialize, and not to serialize, and serialization doesn't make sense, is slow, and causes a host of other problems ...

I don't really know what you expect.

What I expected was some simple (but still, "real world") example code, so I could consider the problem and maybe we can come up with some mechanism to solve the problem.

The solution isn't going to be droppin

[2019-11-04 07:43] krakjoe commented on #100
One possible solution, although not achievable today, would be some integration with a future version of annotations, which there is plenty of time to get into PHP 8 still ...

Maybe there is an interim solution that we could implement using doc-block style annotations ...

What I'd really like is that real world example, I'm not familiar enough with P-MP to know exactly what the problem is from y

[2019-11-07 15:03] dktapps commented on #100
Serialize/unserialize hooks allow us to do things like restoring references that aren't supposed to be duplicated (or preventing serialization to begin with).

[code]

Here we can't prevent the copying of MyFakeEnum objects, and nor can we restore their global references to make object equality work the way it was desired to.

[2019-11-09 17:28] tobiastromm opened #101 "Socket Example"
Hi,

it is possible to add a socket example using paralell based on pthreads examples?

https://github.com/krakjoe/pthreads/tree/master/examples

Thank you.

[2019-11-15 01:25] phpth opened #102 "How to set the name of a thread"
I want to set the name of the thread, which is used to identify the thread execution status information of different tasks in the task management interface, but the api does not set the entry.

[2019-11-25 18:25] dotfry commented on #102
I'll use `cli_set_process_title`

[2019-11-26 13:39] dotfry opened #103 "7.4 Memory leaks in Sync"
I'll switched to php 7.4 RC6 (on Linux 5.3.13-arch1-1 x86_64 GNU/Linux) and getting memory leaks.

Sample code, backtrace and valgrind logs in attachment.

[issue-leaks-74.tar.gz](https://github.com/krakjoe/parallel/files/3892064/issue-leaks-74.tar.gz)

[2019-11-29 03:53] #103 closed, assigned to nobody

[2019-11-29 04:09] krakjoe commented on #93
Sorry, this is outside of the scope of issues, this is a programming issue, not an implementation one.

[2019-11-29 04:09] #93 closed, assigned to nobody

[2019-11-29 04:09] krakjoe commented on #86
Since I haven't got a reproducing test case, I can't investigate, sorry.

[2019-11-29 04:09] #86 closed, assigned to nobody

[2019-11-29 04:10] #91 closed, assigned to nobody

[2019-11-29 04:11] krakjoe commented on #65
I need a self contained, simple, reproducing test case, of the kind that can be added to parallels own test suite ... I can't investigate without one.

[2019-11-29 04:12] krakjoe commented on #87
@remicollet any idea what's going on there ?

[2019-11-29 04:14] krakjoe commented on #82
This has been put on hold ... it's a hell of a lot of work to bring these ideas to completion ...

[2019-11-29 04:14] krakjoe commented on #94
This is not an extension issue.

[2019-11-29 04:14] #94 closed, assigned to nobody

[2019-11-29 04:14] krakjoe commented on #101
Sorry, this is outside the scope of issues.

[2019-11-29 04:14] #101 closed, assigned to nobody

[2019-11-29 04:15] krakjoe commented on #96
Sorry, this is outside the scope of issues.

[2019-11-29 04:15] #96 closed, assigned to nobody

[2019-11-29 04:15] krakjoe commented on #97
Sorry, this is outside of the scope of issues.

[2019-11-29 04:15] #97 closed, assigned to nobody

[2019-11-29 04:16] krakjoe commented on #92
Sorry, this is outside of the scope of issues.

[2019-11-29 04:16] #92 closed, assigned to nobody

[2019-11-29 04:19] krakjoe commented on #98
You'll get `true`: the task being completed.

[2019-11-29 04:19] #98 closed, assigned to nobody

[2019-11-29 04:22] krakjoe commented on #102
Well, there are two problems here ... firstly and most importantly there isn't a portable way to do this.

Secondly, if we're going to name anything, it should be tasks not threads, since they are the unit of execution.

I think this doesn't really make a lot of sense ...

[2019-11-29 04:22] #102 closed, assigned to nobody

[2019-11-29 04:27] krakjoe commented on #76
I need a minimal, complete, simple, reproducing test case to investigate.

[2019-11-29 06:44] zhaoyanliang8 opened #104 "add parallel\Runtime::__construct (string $bootstrap, array $argv)"
`public parallel\Runtime::__construct ( string $bootstrap, array $argv )`
This is easier to adapt to a single entry development framework.

[2019-11-29 06:50] remicollet commented on #87
I think the extension was build against ZTS and try to be used against NTS engine

[2019-11-29 09:31] avolver commented on #103
Thanks!

[2019-11-30 03:48] fengahan opened #105 "phpstrom auto auto-complete"

[2019-11-30 04:11] krakjoe commented on #87
Agree, but the paths and configure seem to be correct ... I don't know what else it could be.

I think this isn't a parallel issue ...

[2019-11-30 04:11] #87 closed, assigned to nobody

[2019-11-30 06:52] dktapps commented on #105
description 100

[2019-11-30 21:40] WyriHaximus commented on #105
FYI if you upgraded to the latest PHPStorm the stubs are available but disabled by default:
![Screenshot from 2019-11-30 22-39-03](https://user-images.githubusercontent.com/147145/69906341-5cd0ea80-13c2-11ea-80b8-b34ec8620a56.png)

[2019-12-01 03:11] ammarfaizi2 opened #106 "Compile Error: 'zend_arg_info' {aka ‘struct _zend_arg_info’} has no member named 'pass_by_reference'"
Hi,
I am sorry if my question looks like trivial since I do not have a lot of experiences with PHP core.

So, I tried to clone [php-src](https://github.com/php/php-src) and compile it. It went fine, but when I compiled the parallel, it seems to be having a problem here.

Does this mean that parallel is currently not supported in PHP 8?
Or maybe I am missing something here?

[code]

[code]

[2019-12-01 08:10] fengahan commented on #105
@WyriHaximus Thanks

[2019-12-01 08:10] #105 closed, assigned to nobody

[2019-12-03 00:14] some-sam opened #107 "Windows + PHP 7.4 support"
I'm unable to get this library working on Windows + PHP 7.4 (VC16).  The PECL repository only has up to PHP 7.3, and with VC15:  https://windows.php.net/downloads/pecl/releases/parallel/1.1.3/

I cannot for the life of me find any instructions on how to build the DLLs manually, so I'm just stuck unless I want to downgrade my PHP.

Any help appreciated!

[2019-12-03 02:41] some-sam opened #108 "Getting `parallel` to work in PHP + Apache"
Running the following from command line works fine. Running from apache outputs "STARTING" and then the connection is reset. (It also resets all other apache connections.) I've stripped the code down to bare minimum, and the failure occurs when `new Runtime()` is called.

    register_shutdown_function(function(){
        // this is not executed after the crash in apache.
        echo "SHUTTING DO

[2019-12-03 04:04] fengahan opened #109 "hi my code hava an error `zend_mm_heap corrupted`"
`<?php

use parallel\Channel;
use parallel\Runtime;
$sarr=[];
for ($i=0;$i<3;$i++){
    $sarr[$i]=new Runtime();

}
$ev=new \parallel\Events();
$ch=Channel::make("sv",3);
for ($i=0;$i<3;$i++){

   $in= $sarr[$i]->run(function($ch){
        $functions = array("addslashes", "chunk_split", "metaphone", "strip_tags", "md5", "sha1", "strtoupper", "strtolower", "strrev", "strlen", "soundex", "ord");

[2019-12-05 03:21] hanqiuss commented on #76
erery test in phpstorm will get "Process finished with exit code -1073741819 (0xC0000005)"

[2019-12-06 10:34] avolver commented on #109
Please provide information about your environment: OS, php version, parallel version or git revision sha.

[2019-12-09 07:17] krakjoe commented on #106
Currently support for PHP 8 is not complete, since changes were merged for union types.

[2019-12-09 07:20] krakjoe commented on #104
This doesn't seem necessary, a task can setup the environment after bootstrap ...

[2019-12-09 07:20] #104 closed, assigned to nobody

[2019-12-09 07:20] krakjoe commented on #107
7.4 builds will appear with the next release, which will hopefully be soon ish ...

[2019-12-09 14:25] avolver opened #110 "Segfault in Events::poll"
Hello Joe!

I get an segfault when thread B (`$reader`) receives a message from channel of thread A (`$writer`), but thread A is already closed by `parallel\Runtime::close()`. This issue is only reproduced if thread A sends an object.

Reproducing test case, segfault backtrace, screenshot from IDE debugger in attachment [parallel-issue-110.tar.gz](https://github.com/krakjoe/parallel/files/3940059/

[2019-12-09 15:14] flip111 opened #111 "Which threading/parallel/concurrency library to use?"
Hi krakjoe,

I saw that there are now two libraries related to threads by you https://github.com/krakjoe/pthreads and this one. I already read https://gist.github.com/krakjoe/6437782 and https://gist.github.com/krakjoe/9384409 But it's unclear to me how the possible solutions of threading compare to each other. On top of that there also seem to be other solutions like https://github.com/amphp/para

[2019-12-09 15:36] erik404 commented on #111
I believe Parallel is the successor to pthreads.

Quoting Krakjoe from his blogpost about parallel: "and for those people thinking about using pthreads for new code: don't be silly."

https://blog.krakjoe.ninja/2019/02/parallel-php-next-chapter.html

[2019-12-09 19:11] dotfry commented on #111
You can use https://github.com/krakjoe/sysconf (if that still works) or just read `/proc/cpuinfo` (on windows you need something to work with WMI) to detect number of cores.

I'll think better use parallel instead of pthreads, but that is only yours desigion.

[2019-12-10 03:52] krakjoe commented on #110
I managed to reproduce this, and I can see the reason for it ...

Can you confirm that the fault only occurs with opcache disabled ?

[2019-12-10 06:32] dotfry commented on #110
It also crashes with opcache.

Env: `Linux 3.10.0-1062.7.1.el7.x86_64 #1 SMP`
[code]

I attach [phpinfo.txt](https://github.com/krakjoe/parallel/files/3943343/phpinfo.txt) may it can help.

[2019-12-10 06:51] krakjoe commented on #110
Set `opcache.enable_cli` ?

[2019-12-10 09:00] dotfry commented on #110
With enabled opcache (`opcache.enable_cli=1`) segfaults gone. So they happens only with disabled opcache.

[2019-12-10 09:19] avolver commented on #110
Great! When opcache is enabled in cli — the fault is not reproduced in just a little modified [testcase](https://github.com/krakjoe/parallel/files/3943958/parallel-issue-110-testcase2.tar.gz)

[code]
But the fault is still there when the opcache is disabled.

My current solution is to turn on `opcache.enable_cli` on production servers.

[2019-12-10 09:26] krakjoe commented on #110
There is definitely a flaw in copying logic, parallel assumes the class entry is going to be available (and it is when opcache is enabled) even after the runtime is destroyed.

While I can think of ways around this problem, I'm reluctant to actually do anything, at least until I had more thinking time.

[2019-12-10 10:05] dotfry commented on #110
We enable opcache, because it was an error that it was disabled in cli. Take your time :)

[2019-12-11 09:08] dotfry opened #112 "Broken type hinting and instanceof operator"
Hello Joe!

In #110 we found that, opcache can help to rid of of crashs. Now we get more strage things in usage opcache + parallel (in 7.4).
Looks like opcache + parallel broke zend_class_entry or duplicate them.

In that case [issue-112.tar.gz](https://github.com/krakjoe/parallel/files/3949354/issue-112.tar.gz) i have broken type hinting and instanceof operator.

Excepted output (also works with

[2019-12-11 22:44] jLynx opened #113 "Crashing on Windows PHP v7.3"
Hi

I am running PHP 64-bit 7.3.11
`PHP 7.3.11 (cli) (built: Oct 22 2019 11:20:18) ( ZTS MSVC15 (Visual C++ 2017) x64 ) Copyright (c) 1997-2018 The PHP Group Zend Engine v3.3.11, Copyright (c) 1998-2018 Zend Technologies`

Everytime I try to run the sample code PHP crashes for me. The code I am running is:
[code]

I downloaded: `php_parallel-1.1.3-7.3-ts-vc15-x64.zip`
I have installed `php_paralle

[2019-12-11 22:56] jLynx commented on #108
I think this could be similar to mine https://github.com/krakjoe/parallel/issues/113

[2019-12-12 07:14] WyriHaximus commented on #113
Do you have any error messages or traces to share, or is PHP segfaulting?

[2019-12-12 07:15] jLynx commented on #113
Dont have any error logs that I can find. All it does it pop up with the windows message saying "CLI has crashed" or something

[2019-12-12 23:49] some-sam commented on #107
Ok, great news. Meanwhile there's a bug in PHP 7.3 on windows + apache: https://github.com/krakjoe/parallel/issues/108

Hopefully that's fixed by switching to 7.4! I'm very much looking forward to using this library.

[2019-12-13 16:03] romainmoyne opened #114 "Can't we instantiate an object from a runtime closure?"
When I try to do that, I get " Uncaught Error: Class 'service\MyWorker' not found "

So if it's true, we can't instantiate a Guzzle object (in order to build a crawler for instance) when in the runtime closure?

[2019-12-15 17:56] dotfry commented on #114
You can do anything in closure, just include your autoloader.

Or use it as bootstrap file (in `Runtime::__construct`)

[2019-12-15 23:04] NikoGrano commented on #111
Ref https://github.com/krakjoe/pthreads/issues/938

[2019-12-16 05:37] krakjoe commented on #111
Sorry, but this is beyond the scope of issues (it's not a bug).

[2019-12-16 05:37] #111 closed, assigned to nobody

[2019-12-16 05:37] krakjoe commented on #114
Sorry, but this is beyond the scope of issues (it's not a bug).

[2019-12-16 05:37] #114 closed, assigned to nobody

[2019-12-16 05:38] krakjoe commented on #112
Just heads up, I've seen this, but haven't had time to look at it yet ...

[2019-12-16 07:06] krakjoe commented on #113
Heads up ... this is likely specific to windows, I'm not a windows user but do have a vm ...

I haven't had time to look at this yet.

[2019-12-18 15:24] crispy-computing-machine opened #115 "parallel\Runtime\Error: cannot create thread Not enough space"
[code]

[2019-12-18 15:27] crispy-computing-machine commented on #115
Windows 10
PHP 7.2

Script timer class just does some calculations on script timing
hashFileStorage is basically just a wrapper for file_put_contents() that stores files in specific paths

both not particularly heavy on processing

Erroring here: https://github.com/krakjoe/parallel/blob/bd05f759eac40eb2c434a7a3fc41e212e9527b87/src/scheduler.c#L458

[2019-12-19 20:21] ghost commented on #113
Sorry but I can't reproduce this issue with PHP 7.3.13 (or 7.2.12) on Windows 10 Pro 1909 x64. The example works fine for me.

[2019-12-19 20:29] jLynx commented on #113
I have found an alternative way to do what I was doing. So because of that I no longer need Parellel. I am happy for this to be closed if you would like. But I was not able to resolve the issue

[2019-12-23 17:48] harryqt opened #116 "parallel 1.1.3 + php 7.4.1 / 7.2 = inconsistent"
Windows 10 (64 bit).

[code]

![cmd_2019-12-23_23-04-59](https://user-images.githubusercontent.com/18257605/71372419-58bb7580-25da-11ea-84e0-f8ca4dec3c3e.png)

[code]
![cmd_2019-12-23_23-27-23](https://user-images.githubusercontent.com/18257605/71373060-f6fc0b00-25db-11ea-8f40-5e151b8129aa.png)

[2019-12-23 19:25] WyriHaximus commented on #116
Not sure wat you're trying to tell us but threads by nature are `inconsistent`/unpredictable as shown by the screenshots you posted.

[2019-12-23 19:41] harryqt commented on #116
I'm very new in this, so pardon me if I don't understand it. But shouldn't the output show something like this?

[code]

[2019-12-23 20:02] WyriHaximus commented on #116
Ah yes and no. Yes as in threads should echo when the kernel schedules them for execution, which simply said is taking turns. No as in we can't predict how the kernel will schedule so all the outputs above and the example are possible and valid.

[2019-12-23 20:06] harryqt commented on #116
Ah. Understood. Thank you.

[2019-12-23 20:06] #116 closed, assigned to nobody

[2019-12-25 02:08] phpth commented on #102
Heartfelt thanks, understand why there are not so many interfaces. Keeping it simple is really friendly for getting started or simple to use, but it may not be suitable for complex applications. So, keep it simple and efficient, and please ensure stability @dotfry @krakjoe

[2020-01-04 22:43] aleksandr-yulin commented on #100
Hi, I am trying to implement `PromiseA` based on your library, but I also have a problem controlling the copying of objects.
I have now implemented this with `parallel\Sync` ... but not sure yet what is correct
https://github.com/streamcommon/promise/blob/develop/lib/ExtParallelPromise.php

I also have `PromiseA` based on`ext-swoole` ... and I don’t know how but they don’t copy (clone) objects ...

[2020-01-05 11:05] aleksandr-yulin opened #117 "Why are processes blocking"
Hi, could you explain why the processes block each other?

For example
[code]

And result
[code]

[2020-01-05 11:33] dktapps commented on #117
The `Runtime` destructor automatically shuts down threads, which makes the main thread wait for the child thread to stop. If you save the `Runtime` instances to variables, they'll work as you expect.

[2020-01-05 11:47] aleksandr-yulin commented on #117
It works thanks!

[2020-01-05 11:47] #117 closed, assigned to nobody

[2020-01-05 19:26] aleksandr-yulin opened #118 "Use parallel\Sync as class property"
Hi, I am implementing the "Promise/A+" pattern and there is a problem when "parallel\Sync" is declared as a property

Сan you tell me what I'm doing wrong?

Correct example without using a property:
[code]

Example using a class property
[code]

[2020-01-11 13:45] autaut03 opened #119 "Assertion failed: (zend_gc_refcount(&(ht)->gc) == 1) on PHP 7.4.1"
Hey there. I'm using [amphp/parallel](https://github.com/amphp/parallel) alongside this extension and trying to run their [example code](https://github.com/amphp/parallel/blob/master/examples/parallel-extension.php) and it doesn't work. The same example code with same dependencies works on PHP 7.3.12. Hence, I'm submitting an issue here. This is an assertion failure I get when getting to [this lin

[2020-01-13 09:56] dotfry commented on #119
This is same problem as #110.

[2020-01-13 20:36] FluffyDiscord opened #121 "PThreads Pool equivalent ?"
Hi, is there equivalent of your old PThreads Pool class where you could add new tasks and it would asynchronously execute them and limit the thread usage by the number you set?

[2020-01-14 08:59] dotfry commented on #121
Hi, you can you use my library https://github.com/6dreams/parallel-pool/

[2020-01-16 12:17] Mariyo opened #122 "How to build Docker image with parallel using pecl"
Hello,

I am facing problem, that I am not able to build Docker image due to ZTS not enabled.

Dockerfile:
[code]

Error:
[code]

Thank you for any advice

[2020-01-17 08:33] rybakit commented on #122
Here is how I do it without pecl: https://github.com/tarantool-php/benchmarks/blob/master/Dockerfile#L35-L37

[2020-01-21 20:31] some-sam commented on #108
The same issue occurs in 7.4:

PHP: 7.4.1, VC15, x64
Apache: 2.4.41, VC15, x64
Parallel: php_parallel-1.1.3-7.4-ts-vc15-x64

Works fine in command line, but from Apache it crashes right at `$runtime = new \parallel\Runtime();`

[2020-01-24 15:49] applealkoal commented on #108
Yea mine too same thing, Tell me if you find any solution

[2020-01-25 17:24] r2d2r01 opened #123 "Documentation / Examples repositery for migration from pthread v3"

[2020-01-25 17:33] r2d2r01 commented on #123
Hi, i some php in cli mode wich uses thread/.. in 7.2 under windows/linux an daemon/service. You are written on your this library will be not maintenned in future (>7.2). A first look, structure, functions, architecture are very differents in implementation. Have you a doc for migration or others link which explains how must be used class Runtime/ Future/ .. for parallel in place of Thread/Threade

[2020-01-27 18:36] filecage commented on #107
The PHP 7.4. builds for Windows are available and work perfectly fine. This issue can be closed.

[2020-01-27 18:57] r2d2r01 commented on #123
read issues and test code.

[2020-01-27 18:57] #123 closed, assigned to nobody

[2020-01-31 22:33] javabudd opened #124 "Issue with Laminas upgrade and parallel jobs"
After upgrading my application to Laminas from ZendFramework I've been experiencing segfaults while attempting to run previously runnable parallel jobs.

# composer.json
[code]

# test.php:
[code]

# zts-php test.php
[code]

# gdb
[code]

I'm not sure if this is the best place for this, let me know if I should move it to the Laminas MVC Application repo.

[2020-02-02 05:55] dotfry commented on #124
I'll think there is no segfault.

Try to add autoloader in `\parallel\Runtime` constructor.

[2020-02-03 16:10] javabudd commented on #124
My mistake, I had left that out from the example. The issue persists with `$runtime = new \parallel\Runtime(__DIR__ . '/vendor/autoload.php');`, I've updated the example.

[2020-02-04 13:23] dotfry commented on #124
[code]

➜  test_parallel_v2 php -v
[code]

(also tried without opcache, works same)

[2020-02-04 20:51] javabudd commented on #124
I'm still trying to setup the test case, it looks like the test code above does work on a different machine. Our production logic does segfault, here is a related gdb bt:

[code]

[2020-02-04 21:00] javabudd commented on #124
@dotfry I've updated the test.php example with what I think should be a reproducible segfault now

[2020-02-05 10:14] fredericdepuydt commented on #122
If you're OK with an alpine container, try this:

[code]

[2020-02-06 11:30] Mariyo commented on #122
Hi,

for sure I am OK with alpine :)

It works now, I can give  a try,

Thank you

[2020-02-06 13:48] dotfry commented on #124
Sad, it looks like #110.

[2020-02-07 06:31] #122 closed, assigned to nobody

[2020-02-10 18:06] javabudd commented on #124
Setting `opcache.enable_cli=1` does not fix the issue for me

[2020-02-11 06:44] dotfry commented on #124
Just waiting for a fix from @krakjoe :smile_cat:

[2020-02-11 09:01] enumag opened #125 "[parallel\Events\Event\Error] construction of Events\Event objects is not allowed"
I'm trying to use this along with [Amp](https://github.com/amphp/amp) and [ext-event](https://pecl.php.net/package/event). The EventLoop is throwing this error:

[code]

The stack trace points to creation of the `\Event` object [here](https://github.com/amphp/amp/blob/2ac3b550c4997f2ec304faa63c8b2885079a2dc4/lib/Loop/EventDriver.php#L244) which doesn't make sense since it's creating an instance of

[2020-02-12 06:19] z3niths opened #126 "Wrong infomation on install.md"
At the moment PECL extension name is `parallel` (https://pecl.php.net/package/parallel)
but install.md still use `parallel-beta`

Ref: https://github.com/krakjoe/parallel/blob/develop/INSTALL.md#L23

[2020-02-12 09:51] #126 closed, assigned to nobody

[2020-02-12 09:57] krakjoe commented on #125
It looks like something is inheriting from parallel, that message can only be thrown by the Event::__construct in the parallel\Events namespace ... something must be inheriting it, somehow.

This extension doesn't perform any of the kind of magic that would cause it to force classes in another namespace to inherit from it's own hierarchy so I would investigate the other extension and ask amp maint

[2020-02-12 09:57] #125 closed, assigned to nobody

[2020-02-12 16:53] r2d2r01 opened #128 "Passing ressources (socket, ...) other than basic types int to Runtime-> run(function)"
Hi, I'm in progress migrate from Thread to Parallel\Runtime and have problem to provides externals existing ressources (socket, log, class,..) other than int, string to function executed by Runtime-> run().
I have null values ou incompatibility.
What's the right way of proceed.
Thank's for help
Frederic

`
[code]
        $socksvr = socket_create(AF_INET, SOCK_STREAM, SOL_TCP);
        socket_bind(

[2020-02-13 10:27] dotfry commented on #128
https://www.php.net/manual/ru/parallel-runtime.run.php#refsect1-parallel-runtime.run-argv-characteristics

[2020-02-13 11:04] r2d2r01 commented on #128
Thank's dotfry, i have readen yesterday on night, lot of restricted comportement, more complicated libray than  thread native.
Migration will !  easy thing, it's a complete refund of my code ....
Casting socket to int (oups)...

[2020-02-15 09:10] r2d2r01 commented on #128
Use other solution
Thank's and bye

[2020-02-15 09:10] #128 closed, assigned to nobody

[2020-02-16 11:40] dktapps commented on #100
@krakjoe about the serialize problem, I did have one idea to solve the internal objects state exporting issue: use the data exported by serialize hooks (e.g. __sleep()), but instead of serializing it, do a recursive copy as if it was a normal array, and then reimport this via __wakeup() in the child thread.

This would allow proper resolution of objects references without having to serialize the e

[2020-03-03 19:09] Fabbok1x commented on #59
fopening an integer doesnt work. fopen(4, ".."). How would that be done?

[2020-03-03 21:00] dotfry commented on #100
@dktapps, i'll reread your Enum implementation. This is legit code, for a single thread application, but for multithreaded it is hell. I didn't know language that have threads (without enums) and supports your realisation.

btw, idea with serialisation internal objects is interesting.
(for me, i usially, i have only problems with \DateTime objects)

[2020-03-09 15:04] temuri416 commented on #109
I can reproduce this error.

Ubuntu 18, PHP 7.2.28.

git commit ID:

[2020-03-09 15:08] temuri416 opened #129 "zend_mm_heap corrupted in parallel test script"
**PHP script:**

[code]

**Output:**

**Environment:**

Ubuntu 18, PHP 7.2.28.

**git commit ID:**

[2020-03-09 15:14] temuri416 commented on #129
found the culprit:

disabling `protobuf.so` makes it run fine.

[2020-03-12 20:48] saniel opened #131 "session can't be manipulated in Runtime"
PHP thinks that headers have been already sent, when nothing has been sent to output yet. This makes attempt to manipulate a session to trigger a warning.

Here is very simple code to reproduce the issue:

[code]

Tested on Ubuntu 18.04, PHP 7.2.7, parallel 1.1.3.

[2020-03-26 13:49] Synida opened #132 "Segmentation fault - for almost everything"
**[Backstory - SKIP if not interrested]**
I have a PHP 7.4.3 environment with Yii2 and mongoDB on Windows and now also on centos 7.7 with parallel.
First I used parallel to create a customized HunSpell php wrapper, and it worked perfectly and the performance was great. Then I decided to change the existing worker manager to not use multiprocessing but multithreading with the parallel instead, so I

[2020-03-26 14:09] Synida commented on #132
`make test` result:

[code]

[2020-03-26 14:43] Synida commented on #132
Unlimited ram and/or disabling the zend_opcache is not helping.
PHP version:
[code]
loaded modules:
[code]

[2020-03-26 15:59] dktapps commented on #132
I'd suggest running PHP with parallel inside of `gdb` so you can capture a stack trace when the segfault occurs.

[2020-03-27 15:43] Synida commented on #132
Thanks for the response! I recompiled the PHP 7.4.3 with --enable-debug, also did the same with 7.4.4 on both centos and windows environments. I got an extra error above the expected ones.
Then I compiled the recompiled the parallel and there was one test failing:
[code]

I also got a failing test for the mongodb module. I think none of these were failing in the non debug environment.

Anyway, run

[2020-03-27 17:12] dktapps commented on #132
[code]
then inside gdb shell:
[code]
when the process segfaults, type `bt` to see the backtrace.

[2020-03-27 18:38] CViniciusSDias commented on #34
I know this ticket is closed but I think this is the best place to ask...

I'm not a Go programmer but I would still like to learn about this extension. The communication between threads is far from clear to me because I've learned about parallel programming in college using C.

I would just like to see some simple examples or documentation explaining more clearly what are channels and events beca

[2020-03-28 00:46] CViniciusSDias opened #133 "parallel\Runtime\Type\Unavailable on object that is not internal"
I have the following code:

[code]

And I'm getting the following error:

This is my class `Bathroom`:
[code]

It only has a `bool`. No internal objects. Why am I getting this error?

[2020-03-28 00:47] CViniciusSDias commented on #133
My bad. I was not passing the autoloader.

[2020-03-28 00:47] #133 closed, assigned to nobody

[2020-03-29 16:30] Synida commented on #132
Thanks for the help again, honestly!
This is the output I got:
[code]

This is not the issue with the parallel - Imo - because the test is failing around the start - not like in the non-debug version. So I think I could get that error message, if I could pass this error somehow - and if there aren't more of them in between, cuz of the debug version. (Maybe I did something wrong, which lead me to t

[2020-03-29 16:38] Synida commented on #132
[code]

Here actually I have this:
[code]

[2020-03-29 18:05] Synida commented on #132
Okay actually I returned with 0 where the ZEND_ASSERT(p->refcount > 0) failed if the refcount is 0, just to see the parallel error, which I could get like this. I cant copy all of the backtrace here, because it's kinda huge and it seems like I run out of memory - seemingly because of an infinite loop:
[code]
Hopefully it's not a different error from what I should expect to get, because of the one

[2020-03-31 12:40] Synida commented on #132
This previous out of memory case happens only if the I run the codeception with the debugger mode. If I use it without the debug option, then I got this error in the gdb:
[code]
A bit later I dissabled the zend opcache module, and I got back the previous out of memory error

[2020-03-31 13:44] Airy301 opened #134 "Cannot Use Parallel with PHP 7.4"
I just learned about Parallel and tried to work with it but when I installed I got following error

I followed and downloaded exactly the same DLL as per my PHP Installation

My Current PHP Installation is **PHP 7.4.4 TS VC 15 x64**
I downloaded this https://windows.php.net/downloads/pecl/releases/parallel/1.1.3/php_parallel-1.1.3-7.4-ts-vc15-x64.zip

Extracted php_parallel.dll into PHP Ext direct

[2020-04-01 08:49] Synida commented on #132
This problem occures when the object you are using inside of a thread has a TimestampBehavior class set, which is part of the Yii framework, similarly it happens if there is any other behaviour class used.

[2020-04-01 16:07] harryqt commented on #134
Parallel only works in CLI.

[2020-04-03 15:18] Synida commented on #134
+1: You need the ZTS version and compile the php from source with this flag on windows: --enable-zts xor with this flag on linux: --enable-maintainer-zts

[2020-04-03 15:24] harryqt commented on #134
No need to compile from source on Windows because you can download ZTS version from https://windows.php.net/download

Just need to put `php_parallel.dll` to the `ext` directory and add `pthreadVC2.dll` to the `PATH` which noted on [the docs](https://www.php.net/manual/en/parallel.setup.php).

[2020-04-05 19:08] Airy301 commented on #134
I tried everything and followed the exact documentations. I think the real problem was I tried it on a Web Application and it only works with CLi version of PHP as mentioned by Dibbyo456.

[2020-04-05 19:08] #134 closed, assigned to nobody

[2020-04-10 07:15] steve-amp commented on #11
@krakjoe
any idea why i got "Call to undefined method parallel\\Future::select" when i try \parallel\Future::select

[2020-04-10 18:29] avolver commented on #124
Maybe this segfaulted screenshot will help:
![laminas-autoloader](https://user-images.githubusercontent.com/244697/79013662-c2936700-7b58-11ea-98b6-ec489e6f194b.png)

Laminas autoloader here: https://github.com/laminas/laminas-zendframework-bridge/blob/master/src/Autoloader.php

Problem with `class_alias` usage in autoloader or aliased `ce` copying?

[2020-04-14 14:56] harryqt commented on #117
@dktapps Thanks it works. But is there other way to solve the issue without saving the instances to variable? I don't want to create variable.

[2020-04-14 14:57] dktapps commented on #117
The only solution is to keep references to the Runtimes around, otherwise their destructors will be immediately called (which will try to join the thread).
You might consider using `parallel\run()` instead of creating a dedicated runtime.

[2020-04-14 15:05] Dibbyo456 commented on #117
yeah that works though but the main problem is I can't include auto loader, can I ?

[2020-04-20 13:42] harryqt opened #135 "Sometimes getting error "zend_mm_heap corrupted" when using without Opcache"
Sometimes getting `zend_mm_heap corrupted` error when using without Opcache.

But with Opcache no such error. Is Opcache actually recommended with Parallel?

PHP 7.4.5
Parallel 1.1.3
Windows 10 (64-bit)

[2020-04-23 05:46] flavioheleno opened #136 "Feature request: Channel::closed()"
Per the documentation, if you call `Channel::send()` ([reference](https://www.php.net/manual/en/parallel-channel.send.php)) or `Channel::recv()` ([reference](https://www.php.net/manual/en/parallel-channel.recv.php)) on a closed channel, a `\parallel\Channel\Error\Closed` will be thrown.

Note that the same happens when you call `Channel::close()` ([reference](https://www.php.net/manual/en/parallel

[2020-04-28 08:11] tux-rampage commented on #76
I've got the same issue with amphp's parallel when using the parallel extension: Sudden SIGSEGV on parallel\Runtime::run(). I'm trying to build something to reproduce.

[2020-04-28 18:36] tux-rampage commented on #76
This seems to be some complex edge case, maybe in combination with a specific extension and current state. I'm not quite sure how to build something to reproduce this behavior. I'll let you know if I can dig up something when I got some spare time. If someone finds a way in the meantime it would be great 👍

[2020-05-21 22:49] #135 closed, assigned to nobody

[2020-06-02 02:12] alissonlinneker opened #138 "Install error"
On make:

[code]

PHP 7.2.29 +ZTS

How to fix?

[2020-06-02 03:07] #138 closed, assigned to nobody

[2020-06-05 11:26] hfedcba opened #140 "Notable CPU load in Events::poll()"
First of all thanks for this great project.

We've been using parallel for a few weeks now in our project (Homegear) and noticed, that calling Events::poll() in blocking mode causes a notable CPU load especially on slow SBCs.

The blocking poll is implemented using a while loop. In the while loop `usleep(1)` is called:

https://github.com/krakjoe/parallel/blob/efeaa944025856f995fbbeff189c05a69d42d

[2020-06-06 07:59] feamsr00 commented on #76
I'll reinvestigate soon, I had to re-engineer my project to allow process models. In the meantime, has anyone with parallel installed managed to copy & paste the code I left in the [3rd comment](https://github.com/krakjoe/parallel/issues/76#issuecomment-513443405) at the top of this issue? It goes in 2 files and depends only on parallel...

Run that with the debug version of php and I see no reaso

[2020-06-09 15:25] nargyriou opened #141 "running "new \parallel\Runtime()" hangs indefinitely ?"
I have PHP 7.3.5 with thread support, and VC15

If I try to run this:

    $runtime = new \parallel\Runtime();
    echo "Hello";
    $runtime->kill();
    die();

I get no output, the page stalls and the browser gives me "The connection was reinitialized"

The only line I need for the page to stall is `$runtime = new \parallel\Runtime();`

I only just installed the extension

* Put ` pthreadVC2.dl

[2020-06-11 17:29] bavohe3648 commented on #141
I have the same issue.
When creating multiple runtime instances with new \parallel\Runtime();
some instances fail to create and the process hangs indefinitely.
Using:
PHP 7.4.6 (cli)( ZTS Visual C++ 2017 x64 )
parallel version = 1.1.3

[2020-06-14 02:05] dotfry commented on #76
Try extension with #139 PR, at current moment can't test your scripts. Also, didnt test it on windows

[2020-06-16 16:18] inedev opened #142 "Issue with imap_open inside of a worker"
Hello,

I am having issues trying to implement an email fetcher thread, that would fetch emails from an imap mailbox.

I have the following fragment inside my worker:
[code]
I get the following notice upon imap_open:
[code]
When I dump imap_errors() I get this:
[code]
`$emaildata` comes OK over the channel - if I dump the mailbox and credentials, they are fine.

Same `imap_open` line with the same

[2020-06-21 12:53] dotfry commented on #142
`resource` type cannot be transfered via `parallel\Channel`, read https://www.php.net/manual/ru/parallel-runtime.run.php#refsect1-parallel-runtime.run-argv-characteristics

[2020-06-24 15:29] #112 closed, assigned to nobody

[2020-06-28 16:39] #118 closed, assigned to nobody

[2020-07-10 19:13] webloft opened #143 "Channel performance issue"
Great work indeed, but I am struggeling with weird performance issues:
Please consider the following script:

[code]
That give me output like:
[code]

As you can see the mean max value of 40ms is far too high for this simple operation but 0.5s is killing my server application.

There is a visible pattern but what could cause this if the normal operation just needs a few nanoseconds?

Edit:
-------

[2020-07-24 08:08] Radiergummi opened #144 "Segfault if php-di attempts to inject a broken or missing dependency"
We use `parallel` from the master branch with PHP 7.4.5 currently. I originally wrote an application layer on top of php-pthreads (which worked pretty well by the way, I must be [one of those 4 people](https://blog.krakjoe.ninja/2019/02/parallel-php-next-chapter.html#:~:text=that%20about%204%20people%20really%20understand)).
After the deprecation notice and realizing it blocks us from migrating to

[2020-07-28 19:15] iggyvolz opened #146 "Segfault when accessing a preloaded static variable"
Minimal reproduction: https://gist.github.com/8f38cf4b800070cd322a21c8a73f7b94

The script appears to complete successfully, but a segmentation fault is generated at the end of the program.

Backtrace with PHP 7.4.8 (`--enable-maintainer-zts`), parallel at 63b779e (master) is below:
[code]

Wasn't able to reproduce the crash when `--enable-debug` was specified on PHP but I was able to get the back

[2020-07-29 13:26] flavioheleno commented on #136
Hi @krakjoe / @remicollet , I know that time is probably quite short on your side, but is there anything else I should/could do for this request and its PR be reviewed?

Thank you very much in advance!

[2020-08-11 15:39] devqm opened #147 "How can I share mysql connections to the runtime"
The channel doesn't seem to work.

[2020-08-11 15:42] devqm commented on #147
I want to generate connection pools through parallel in CLI mode

[2020-08-11 15:57] WyriHaximus commented on #147
They are resources and as such they can't be shared with threads. You can however open the connection in the thread and let the main thread communicate through a channel with it by proxying queries and results to and from the thread.

[2020-08-13 06:43] den-dev-icmy opened #148 "Issue on build"
`# ./configure --enable-parallel  [ --enable-parallel-coverage ] [ --enable-parallel-dev ]
configure: WARNING: you should use --build, --host, --target
configure: WARNING: invalid host type: [
configure: WARNING: you should use --build, --host, --target
configure: WARNING: invalid host type: ]
configure: WARNING: you should use --build, --host, --target
configure: WARNING: invalid host type: [
con

[2020-08-13 06:55] den-dev-icmy commented on #148
install from pecl

[2020-08-13 06:55] #148 closed, assigned to nobody

[2020-08-15 16:14] devqm commented on #147
I think I know how to do it.

[2020-08-15 16:16] devqm commented on #147
Thanks!

[2020-08-15 16:16] #147 closed, assigned to nobody

[2020-08-17 12:01] srjlewis opened #149 "Create a new release"
Hi

Could you do a new release of parallel, as I am finding version 1.1.3 is quite buggy and segfaults a lot.

I am building the latest from github, which works really well, with no crashes.

So it would be great if you could do a new version release of parallel as the current 1.1.3 is not stable on CentOS 8 / PHP 7.4

[2020-08-17 12:03] remicollet opened #150 "Release 1.1.4"
Pending

- fix #103: 7.4 Memory leaks in Sync
- fix #112: broken type hinting and instanceof operator
- fix #139: crash with opcache enabled

@krakjoe what do you think ?

[2020-08-17 12:03] remicollet commented on #149
See #150

[2020-08-20 18:24] flavioheleno commented on #150
@remicollet any chance to get #136 on this release too?

[2020-08-24 08:15] webloft commented on #44
On Unix and In PHP >= 7.4 with FFI enabled, you can do this inside a thread (and love):

[code]

You may need to find out the right syscall, which is defined in syscall.h, unistd_64.h but on most kernel it should be 186 for 64bit and 224 for 32bit systems. Don't know how to call on Windows, but it should be similiar with a specific DLL like this:

[code]

[2020-09-07 21:28] paveldvorak5 opened #151 "documentation code example"
Hi,
I read the documentation but I don't know how to use it.

This is my use case. I need to do a stock exchange script.
I have a main thread that holds the main stock exchange class. I knows about stocks on the exchange and orders them to update. Something like this.

Main thread ticks and update all stock threads.
Exchange -> tick -> update all stock threads with new data

A stock thread holds i

[2020-09-08 08:28] srjlewis commented on #151
read to user comment on https://www.php.net/manual/en/class.parallel-events.php as has it has a good example of how to use channels and events, as you could use events and channels to send the data ansync to the worker threads.

The other way is to start each stock in a runtime and use a static property within the thread (not in the closure but in a singleton class) which will survive between call

[2020-09-10 23:41] dktapps commented on #146
Preloading support in ZTS seems to be a bit rough around the edges. I've seen similar issues from my pthreads fork. This might be a PHP-ZTS issue and not a parallel issue.

[2020-09-11 19:36] awderh opened #152 "Channel "readable()" method"
Hi,

I was wondering why a Channel::hasData method isn't available to prevent blocking on a _recv_ call? I understand that there is an _Events_ way of dealing with this, but I don't find it as convenient.

(Apologies if this is a dumb question)

[2020-09-14 16:10] hdvianna commented on #34
Hi,

I am working on an interface for easing the development of parallel tasks in PHP. It is still very inceptive but I assume that is possible to grasp the idea.

And here goes the project link https://github.com/hdvianna/parallel-workerpool

Kind regards,
Henrique

[2020-09-15 15:17] CViniciusSDias commented on #34
Thank you for providing an example, @hdvianna
But from the time I wrote the message untill now I did a quick research on how Go works and I understood the concept of channels.
The thing that still isn't clear to me is the Event part. =/
And it doesn't seem like you used the Event (or Events) class.

[2020-09-16 05:27] awderh commented on #152
I decided to look inside the source code, and it seems like you have a function:
`php_parallel_link_readable` in [`src/link.c`](https://github.com/krakjoe/parallel/blob/develop/src/link.c) line 349

Which is used in [Events::poll](https://github.com/krakjoe/parallel/blob/develop/src/poll.c) line 125.

I was then thinking of adding some code but then I came upon this discussion regarding Go: https:

[2020-09-16 07:02] awderh commented on #34
Hey @CViniciusSDias

I became familiarized with Events when I wanted to do a non-blocking recieve.

To me, events are a centralized approach to handling channel/future communications. An "event" could be a read/write/close (etc) on a Channel/Future. Events - it appears - is for use in a loop, where you can regularly poll and then "delegate events" (based on their characteristics).

Consider the fo

[2020-09-16 07:23] awderh commented on #143
I tried your test. I found higher values if I was doing something else (e.g., browsing) at the same time. Towards the end of the test, I set the affinity of the process (i'm on windows) to realtime, and the results where a bit better. PHP: 7.4.8 on Parallel 1.1.3

I think it may have to do with your setup, as you mentioned
[code]

[2020-09-16 08:02] awderh commented on #76
EDIT: Seems like the author already knew about this, see #64

I like this test case a lot. I haven't investigated thoroughly, but I highly suspect it has to do with how objects are copied over.  Pure speculation for now...

[code]
i.e.,
[code]
So when a pass-by-value is attempted, you hit a stack overflow if you naively clone objects. E.g., var_dump on obj1 and you'll see PHP knows what it's getti

[2020-09-16 16:12] sebe6 opened #153 "Working with google cloud"
Hi, I'm currently trying to use parallel to handle some calls to some of the google cloud API
To do so I need to use `namespace`, `setenv()` (for the credentials), `require` (composer autoload) and `use`, so I've put them in the thread function

Unfortunately `namespace Google\Cloud\Samples\Vision;` trigger this error:
`Parse error: syntax error, unexpected 'Google' (T_STRING), expecting \\ (T_NS_

[2020-09-16 16:46] awderh commented on #153
Can you post your code? This looks like it may be an interpreter syntax error and not an issue with parallel itself.

[2020-09-16 20:38] sebe6 commented on #153
Yes I'm pretty sure it is, what I meant is that I don't see any way to do it, but I'm still learning multi threading

Here's the code without the useless stuffs

[code]

[2020-09-16 22:36] awderh commented on #153
**Edit**
Use and namespace statements aren't allowed, I believe. You should package that kind of code in a separate file, and ensure it is available by bootstrap.

Also, you have another issue here, I believe:

`$run->run($thread_function, $k, $v);`

Note docs on [run](https://www.php.net/manual/en/parallel.run.php): it takes _at most_ two arguments, where the _second_ argument is an _array_ of ar

[2020-09-17 09:41] sebe6 commented on #153
Oups, I had corrected this one but it seems I did too many Ctrl + Z 😅

Thanks to your guidance I've put everything inside an external file using a function and require, now it works ! 👍

Since I'll need to save the results I've tried iterate through the `recv()` of the channel I've used, but it seems to end up stuck there since I don't reach the die following it
[code]

I know I could just iterate

[2020-09-17 09:45] remicollet commented on #150
1.1.4 is released

[2020-09-17 09:45] #150 closed, assigned to remicollet

[2020-09-17 09:46] remicollet commented on #149
1.1.4 is released

[2020-09-17 09:46] #149 closed, assigned to nobody

[2020-09-18 02:18] awderh opened #154 "Segfault on Non-Existent Class"
**exceptiontest.php:**
[code]
**Output:**
[code]
**Expected**
PHP Fatal Error: Class not found exception
**Environment:**
Windows 10
Tried 7.4.8 TS x64 and 7.4.10 x64
Both segfault
_Opcache is enabled_
**Notes**
1) See comments on lines 19-20
2) Slightly more trivial implementations do throw an exception and end gracefully. See below.

Functional Case:
[code]
Outputs a PHP Fatal Error.

[2020-09-18 03:07] awderh commented on #154
Error does get thrown if I grab `future->value()`.

[2020-09-18 03:13] awderh commented on #154
Workaround, using a `try { } catch (\Error $e) { }` instead of an `Exception`. Totally forgot this php-ism.

**Edit:** Ended up using Events instead. Will try to stick to spec 😄

[2020-09-18 17:51] TechnagyDev opened #155 "Question: Migrating from pthreads. Worker = ?, Volatile/Thread = ?"
I just got started with pthreads and finally got things working, but then realized pthreads is on hold and seemingly being replaced by Parallel. So I have stopped all efforts on pthreads and am trying to migrate code over to Parallel.

My working pthreads code is creates a new Worker class to create a MySQL PDO connection, which is then used, as well as a Volatile class which receives an array of

[2020-09-18 19:10] awderh commented on #155
Parallel mostly provides a framework for implementing threads. It seems that pThreads provided some tooling as well.

Here, a "Worker" can be considered a "Runtime". You can make a Worker class, and just have it use a `Runtime`

I'd recommend you check out the tests asap, and start doing some basic tests using scratch. It's honestly the best way to learn it. What you'll figure, is that Parallel is

[2020-09-22 14:50] WyriHaximus commented on #143
How long should I run this before seeing those results?

[2020-09-22 20:41] WyriHaximus commented on #143
Ok ran it for 5 hours `0.01` eta and got this in Ubuntu 20.04 on WSL2

[code]

[2020-09-22 21:23] webloft commented on #143
I think some lags are unavoidable depending on CPU resource setup, happening by thread environment load/unload by the CPU and other higher prioritized interrupts by the OS. The interesting part here is that a VM setup can lead to my first results if the CPU is throtteld down.

So far this is not a parallel issue but I keep this open - maybe there is way to optimize the process with such setups.

[2020-09-23 08:45] WyriHaximus commented on #143
Looking at my own outcome I'd say channels don't have an issue. But maybe your set up might have. This is the command I ran using Docker, if it helps:

[code]

Also are you running it on Mac/Windows in a VM? Could run it in VirtualBox and see if I have the same issues.

The reason I came to this thread in the first place is because I also have some channel related performance issues. But running y

[2020-09-23 13:26] TechnagyDev commented on #155
Thank you for your response AWDerh. I appreciate it. I'll do some more digging on this. It makes sense to move to this since pthreads is no longer supported.

[2020-09-23 15:08] webloft commented on #143
@WyriHaximus yes the first results are shown on a VM (with throttled CPU) and the issue goes away if the vCPU gets the full power.

However, imagine such a setup where a CPU cycle is shared between vCPUs. The user's script will delay without any comprehensible reason and maybe there is way to determine a vCPU setup (by eg. measuring times) and get better synchronization results.

The 500ms lag loo

[2020-09-25 11:55] devqm opened #156 "PHP 8 support"
Compilation failed in php8

[2020-09-26 10:34] Azhovan commented on #156
why compilation in php8? won't be supported in php8 natively?

[2020-09-26 10:47] dktapps commented on #156
Not that I know of.

[2020-09-26 11:18] dotfry commented on #152
Use https://www.php.net/manual/ru/class.parallel-events.php

[2020-09-26 16:13] awderh commented on #152
Closing because Events is the "right way" to do things. Cheers

[2020-09-26 16:13] #152 closed, assigned to nobody

[2020-10-01 17:17] paveldvorak5 commented on #156
I'd like PHP 8 support too

[2020-10-02 07:29] ammarfaizi2 commented on #106
Ref: https://github.com/krakjoe/parallel/issues/156

[2020-10-02 09:48] #153 closed, assigned to nobody

[2020-10-14 05:21] krakjoe commented on #156
Will be included in next release ...

[2020-10-14 05:21] #156 closed, assigned to nobody

[2020-10-14 05:24] krakjoe commented on #143
This doesn't look related to parallel

[2020-10-14 05:24] #143 closed, assigned to nobody

[2020-10-14 05:25] krakjoe commented on #144
Since no reproducing case was ever provided, there's nothing I can do.

[2020-10-14 05:25] #144 closed, assigned to nobody

[2020-10-14 05:29] krakjoe commented on #132
This is a result of recursion that is at the moment unsupported by parallel, other issues exist about it ...

It's on my list ...

[2020-10-14 05:30] krakjoe commented on #129
Looks unrelated to parallel.

[2020-10-14 05:30] #129 closed, assigned to nobody

[2020-10-14 06:37] #109 closed, assigned to nobody

[2020-10-14 06:39] krakjoe commented on #113
Looks like #109 resolved by ea3f528cf0aa283625dd4882372a89c3f2cad931

[2020-10-14 06:39] #113 closed, assigned to nobody

[2020-10-14 06:40] krakjoe commented on #106
resolved by be6d83e8f9ef3fdc5ed773c0d1c574205d666ca1

[2020-10-14 06:40] #106 closed, assigned to nobody

[2020-10-14 09:06] krakjoe commented on #155
Issues are reserved for bugs.

[2020-10-14 09:06] #155 closed, assigned to nobody

[2020-10-14 09:08] krakjoe commented on #136
The problem is that there is no safe way to do a Channel::close - you cannot retain the mutex associated with the state of the channel in userland.

The solution is to consider it a logic error when you call any of those methods on a closed channel, and revise your code: Your code should know for certain whether a channel is available or not.

[2020-10-14 09:08] #136 closed, assigned to nobody

[2020-10-14 09:10] krakjoe commented on #131
Backing sessions are many many modules, with varying degrees of preparedness ...

I think there's not much point in making this work, just avoid using what is probably unsafe.

[2020-10-14 09:10] #131 closed, assigned to nobody

[2020-10-14 09:11] #107 closed, assigned to nobody

[2020-10-14 09:15] krakjoe commented on #65
I have no way to investigate what's going on here.

[2020-10-14 09:15] #65 closed, assigned to nobody

[2020-10-14 09:20] krakjoe commented on #76
This causes overflow,  see #64

[2020-10-14 09:25] #72 closed, assigned to nobody

[2020-10-14 09:26] #121 closed, assigned to nobody

[2020-10-18 15:28] Encritary opened #157 "A very strange behaviour on PHP 7.4 with OpCache enabled"
That's an error I get inside a Runtime.

```TypeError: Return value of somenamespace\TaskCompleteMessage::done() must be an instance of gc_enable, instance of somenamespace\TaskCompleteMessage returned" (EXCEPTION) in "src/somenamespace/TaskCompleteMessage.php"```

[2020-10-18 16:31] krakjoe commented on #157
I cannot investigate without reproducing code.

On Sun, 18 Oct 2020 at 17:28, Encritary <notifications@github.com> wrote:

[2020-10-19 10:43] Encritary commented on #157
I don't know how to reproduce it as it's happening randomly and not so often
iirc it doesn't happen on 7.3, only on 7.4

The problem is similar to the one that was in #112

[2020-10-21 14:08] crispy-computing-machine commented on #115
$future = (new Runtime())->run(static function($arg){

                // Internal objects generally use a custom structure which cannot be copied by value safely
                // No custom classes etc

                error_log(var_export($arg, true), 3, 'C:\Users\Unknown\AppData\Local\core_application\logs\threaded.log');

            }, $args = ['ahh-my-arg']);`

[2020-10-21 14:08] crispy-computing-machine commented on #115
The above code seems a simple example. Why am i getting "not enough space"?

BTW I am using the latest release for PHP 7.4 now

[2020-10-23 15:00] slushpuppy opened #158 "Unable to load library inspite of the dll being inside of ext folder"
Warning: PHP Startup: Unable to load dynamic library 'parallel' (tried: c:\php\ext\parallel (The specified module could not be found.), c:\php\ext\php_parallel.dll (The specified module could not be found.)) in Unknown on line 0

How can I debu8ug this?

[2020-10-23 15:03] slushpuppy commented on #158
Using strace:

--- Process 14980 loaded C:\php\libsodium.dll at 00007ff818460000
--- Process 14980 loaded C:\Windows\System32\cryptbase.dll at 00007ff8667b0000
--- Process 14980 loaded C:\php\ext\php_sqlite3.dll at 00007ff858570000
--- Process 14980 loaded C:\php\libsqlite3.dll at 00007fffd9fa0000
--- Process 14980 loaded C:\php\ext\php_tidy.dll at 00007ff8077c0000
--- Process 14980 loaded C:\php\

[2020-10-26 22:26] avolver opened #159 "Periodic segfaults when calling static methods"
Hello Joe!

The last problem that remained with the parallel extension in our project is rare, periodic segfaults when calling static methods.

I cannot repeat the problem in synthetic tests, it only occurs in production, approximately every several tens of thousands of iterations.

Using gdb, I found the php code that is called when zend crashes.
This code is legal:
[code]

Backtrace:
[code]

Per

[2020-10-28 07:38] krakjoe commented on #159
There's nothing for me to do without reproducing code, sorry ...

[2020-10-28 07:41] krakjoe commented on #115
This is a programming error, not a bug.

[2020-10-28 07:41] #115 closed, assigned to nobody

[2020-10-28 10:08] Encritary commented on #159
does this happen on 7.3?

[2020-10-28 17:32] avolver commented on #159
ok, I'll try to write it

[2020-11-02 15:20] capsandiego opened #160 "Errors don't get displayed in threaded code"
First thing: your parallel rocks!!
Secondly: Is there a way to show errors from files included in threads? Please, see this example below. It doesn't show any error whatsoever. Am I missing anything?
(Environment: PHP-7.4.12 on Ubuntu 18.04)

**parallel_main.php**
[code]

**parallel_included.php**
[code]

[2020-11-02 16:11] capsandiego commented on #160
False Alarm!
``` $future1->value(); ``` solved the issue!
I'll close this issue.

[2020-11-02 16:29] #160 closed, assigned to nobody

[2020-11-11 11:32] adriancuadrado opened #161 "parallel\run() doesn't work inside an instance method of a class with a property assigned to $this"
OS: Windows 10 64 bits
PHP Version:
[code]
Parallel version: [1.1.4-7.4](https://windows.php.net/downloads/pecl/releases/parallel/1.1.4/php_parallel-1.1.4-7.4-ts-vc15-x64.zip)

I posted this [**in StackOverflow**](https://stackoverflow.com/questions/64784545/why-parallel-run-doesnt-work-inside-an-instance-method-of-a-class-with-a-prop), but since I think it is an actual bug, I repost it here.

Cop

[2020-11-11 15:06] DragK commented on #161
Hi, try `$this->x = clone $this;`. It works for me but it is a workaround. Nevertheless, why you assign reference to self to self property?

[2020-11-11 15:44] adriancuadrado commented on #161
@DragK

I don't, Doctrine does. More specifically, here: https://github.com/doctrine/dbal/blob/32f96b171efc785ea5168ebde9397ee430fca62e/lib/Doctrine/DBAL/Connection.php#L215
and here: https://github.com/doctrine/dbal/blob/32f96b171efc785ea5168ebde9397ee430fca62e/lib/Doctrine/DBAL/Query/Expression/ExpressionBuilder.php#L39
It's a circular dependency: In the Connection constructor:
[code]
And in the

[2020-11-12 09:45] avolver commented on #159
We repeated the problem locally and write a reproducing code

segfault does not crash every run, so you need to run it in a loop

[parallel-issue-159-master.tar.gz](https://github.com/krakjoe/parallel/files/5529585/parallel-issue-159-master.tar.gz)

run:
[code]

env:
[code]

parallel version: https://github.com/krakjoe/parallel/commit/6ffcc538fe6e76f828a895bb561b549118ba4f49

bt in gdb:
[code]

[2020-11-12 20:20] bookrat commented on #159
@krakjoe it would be great if you could take the time to fix this bug

[2020-11-12 21:02] life24 commented on #159
@krakjoe, i have the same problem...

[2020-11-12 21:21] WyriHaximus commented on #159
@bookrat @life24 Than please provide a PoC that will reproduce this bug so it can be investigated

[2020-11-13 07:02] avolver commented on #159
@WyriHaximus, PoC for this issue here: [comment → parallel-issue-159-master.tar.gz](https://github.com/krakjoe/parallel/issues/159#issuecomment-725966575)

[2020-11-13 07:17] antonrykov commented on #159
@krakjoe I periodically face a similar problem. It would be great if you fixed it.

[2020-11-17 01:43] fengahan opened #162 "include file fail"
`php:`
PHP 7.4.9 (cli) (built: Nov 14 2020 21:26:06) ( ZTS )
Copyright (c) The PHP Group
Zend Engine v3.4.0, Copyright (c) Zend Technologies

`os:`
Ubuntu 18

[code]
`output:`

Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 65536 bytes) in /home/desmond/PhpstormProjects/httpServer/Response.php on line 14
PHP Fatal error:  Allowed memory size of 134217728 bytes exh

[2020-11-17 01:53] #162 closed, assigned to nobody

[2020-11-19 19:45] geki-yaba opened #163 "Documentation about debugging"
My pecl-parallel php code has grown complex enough, that I cannot see analytically where the issue is that the worker thread just "dies". Must be some uncaught exception, but who knows. Adding debug output would be too much. The worker thread dies after hours. Luckily the main thread hangs, so that I can debug. Now then, it is just too easy to debug php with gdb and googling shows too many bad adv

[2020-11-22 02:44] dignfei opened #164 "在线程中运行的PHP代码有问题，不会显示错误信息，怎么才能显示详细错误信息？"
在线程中运行的PHP代码有问题，不会显示错误信息，怎么才能显示详细错误信息？

[2020-11-22 02:50] dignfei opened #165 "希望增加一个发送指针的方法，可以让线程之间共享指定的变量"
parallel\Channel::send 发送变量时，会复制2份。比如一个数组占用500M内存，使用一次 parallel\Channel::send后，查看进程占用的内存，发现占用了1500M，太浪费内存了。

希望增加一个方法 parallel\Channel::send2，发送变量时，只发送变量的指针，这样 线程之间就可以同时读写这个变量，不需要拷贝一份，浪费内存，浪费性能

[2020-11-22 02:56] dignfei commented on #164
出了错误只会显示Segmentation fault (core dumped) ，如何能显示更详细的信息？

[2020-11-23 02:57] tsoftware-org commented on #165
PHP多线程就是鸡肋，要是增加原生多线程功能，还能再战10年

[2020-11-25 17:49] tobiastromm commented on #156
@krakjoe, how are you?

PHP 8 is now available for Windows, https://windows.php.net/download/.

Any ideia when parallel will be available here https://windows.php.net/downloads/pecl/releases/parallel/ with PHP 8 support?

Thank You.

[2020-11-27 06:38] fengahan opened #166 "set_exception_handler or set_error_handler is void"
Why do you have to set set_exception_handler and set_error_handler for each rruntime ->run() to take effect

[2020-11-28 21:53] WyriHaximus commented on #166
Because you're running in a different thread that needs it's own error handler as it's a fresh clone of the processes you're spawning it from so you have to set it for each run.

[2020-12-01 16:30] fengahan commented on #166
I think this is a bad implementation and I might need to encapsulate /parallel/ Run to get what I want

[2020-12-05 18:25] WyriHaximus commented on #166
@fengahan FYI Been putting this together to take care of `set_error_handler` and `signals` for me: https://github.com/WyriHaximus/php-parallel-runtime . Might also be of interest for you. Also how are you using `set_exception_handler`?

[2020-12-06 23:05] sj-i commented on #165
It's by philosophy.

https://www.php.net/manual/ja/philosophy.parallel.php

[2020-12-08 06:55] #166 closed, assigned to nobody

[2020-12-10 10:14] pizzo00 commented on #109
When will we get a release with this fix?
Or how can i compile this repo for windows?
Thanks

[2020-12-11 08:51] Blount opened #167 "Mongodb connection not close"
Hello,
When I open connection in parallel task to a Mongodb Server, this connection seem not close when process ended.
I see in /proc/PID/fd that accumulate file name "socket:[xxxxxx]".
After some execution time, I get this error : "failed to open stream: Too many open files "

Mongodb library has no method to force close connection.
I need to restart the main process to "purge" connections.

[2020-12-16 18:36] ghost commented on #156
And when will that be?

[2020-12-17 06:40] dercoder commented on #167
The MongoDB Team is working on a solution:
https://github.com/mongodb/mongo-php-library/issues/756

[2020-12-29 23:47] gsanon opened #168 "Can't load module with php-fpm 7.4"
Hi,

I am trying to use Parallel 1.1.4 with php-fpm 7.4 on Ubuntu 20.04.1. I've recompiled php with --enable-maintainer-zts option and then followed your INSTALL.md. Everything looks fine, I restart php-fpm and try your Hello World... doesn't work. I try `php-fpm7.4 -m` to check modules and I get the following warning :

`[29-Dec-2020 23:23:53] NOTICE: PHP message: PHP Warning:  PHP Startup: Unabl

[2021-01-12 07:05] NolikTop commented on #156
when next release?

[2021-01-12 07:15] aungmindev commented on #94
Fatal error: Uncaught Error: Class 'parallel\Runtime' not found in /var/www/html/test/index.php:3 Stack trace: #0 {main} thrown in /var/www/html/test/index.php on line 3

I have this error even I install parallel on ubuntu. Please Help me

[2021-01-12 07:19] aungmindev opened #169 "Fatal error: Uncaught Error: Class 'parallel\Runtime' not found in /var/www/html/test/index.php:3 Stack trace: #0 {main} thrown in /var/www/html/test/index.php on line 3. I have this error even I install parallel on ubuntu 20.04 . Plz help me."

[2021-01-13 07:22] JoyceBabu commented on #169
Did you enable the extension with `phpenmod`?

[2021-01-18 20:52] ghost opened #170 "PHP 8 Support"
Still doesn't work under PHP 8

[2021-01-18 21:57] dktapps commented on #170
![image](https://user-images.githubusercontent.com/14214667/104966199-34e28300-59d8-11eb-8aed-00acbb74bfab.png)

[2021-01-21 22:33] hfedcba commented on #170
Since be6d83e8f9ef3fdc5ed773c0d1c574205d666ca1 it already seems to work reasonably well. But I'd like full PHP 8 support as well.

[2021-01-27 06:50] anustro opened #171 "Maximum execution time of 30 seconds exceeded occured when using parallel."
I'm trying parallel extension to fetch data from two datasource, but the php-fpm error log record amount information about the execution timeout error. I can ensure that the execution time was less than 1s.

[2021-01-27 06:52] anustro commented on #171
PHP version:PHP 7.4.14 (cli) (built: Jan 25 2021 11:43:58) ( ZTS )

[2021-01-27 10:30] anustro commented on #171
When error_reporting is set to 0, the error didn't appear.

[2021-01-31 09:05] ghost commented on #170
@hfedcba you mean by compiling yourself parallel ?

[2021-02-01 10:11] hfedcba commented on #170
Yes.

[2021-02-17 04:52] smathersDT opened #172 "Opcache preload?"
Was wondering if anyone has got this working with php's new opcache preload feature.

I've been using this (used the older pthreads as well) on production for awhile now with no issues. I decided to try preload and everything blew up. Every time a thread finished a segfault would follow.

Ubuntu 20.04 LTS
PHP 7.4.7
using the latest code you have

[2021-02-17 11:16] dktapps commented on #172
I don't think parallel is at fault here. I've also seen a similar problem on my pthreads fork. Does it by any chance look like #146 ?

[2021-02-17 18:13] eqmaz commented on #170
Hi,

Attempting to compile parallel on Centos for PHP 8.0.2 CLI (Config: ZTS thread safe, op cache + JIT), getting the following compile time error:

[code]

Thanks